<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md class="pt-2">
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-expansion-panel>
                                <v-expansion-panel-content>
                                    <template v-slot:header><span class="fips__subtitle">Параметры поиска</span></template>
                                    <v-layout row wrap>
                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label class="fips__label">Зарегистрированные заявки</label>
                                            <div>
                                                <v-layout row wrap>
                                                    <v-flex xs6 class="fips__row">
                                                        <label for="dateFrom" class="fips__datelabel">с</label>
                                                        <v-menu
                                                            v-model="menuFrom"
                                                            :close-on-content-click="false"
                                                            :nudge-right="40"
                                                            lazy
                                                            offset-y
                                                            full-width
                                                            min-width="290px"
                                                        >
                                                            <template v-slot:activator="{ on }">
                                                            <v-text-field
                                                                v-model="filter.selectedDateFrom"
                                                                v-on="on"
                                                                :items="dateFrom"
                                                                name="dateFrom"
                                                                id="dateFrom"
                                                                placeholder="Введите дату"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="filter.selectedDateFrom" @input="menuFrom = false"></v-date-picker>
                                                        </v-menu>
                                                    </v-flex>
                                                    <v-flex xs6 class="fips__row">
                                                        <label for="dateTo" class="fips__datelabel">По</label>
                                                        <v-menu
                                                            v-model="menuTo"
                                                            :close-on-content-click="false"
                                                            :nudge-right="40"
                                                            lazy
                                                            offset-y
                                                            full-width
                                                            min-width="290px"
                                                        >
                                                            <template v-slot:activator="{ on }">
                                                            <v-text-field
                                                                v-model="filter.selectedDateTo"
                                                                v-on="on"
                                                                :items="dateTo"
                                                                name="dateTo"
                                                                id="dateTo"
                                                                placeholder="Введите дату"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="filter.selectedDateTo" @input="menuTo = false"></v-date-picker>
                                                        </v-menu>
                                                    </v-flex>
                                                </v-layout>
                                            </div>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="requestName" class="fips__label">Наименование заявки</label>
                                            <v-text-field
                                                type="text"
                                                name="requestName"
                                                id="requestName"
                                                v-model="filter.requestName"
                                                placeholder="Введите наименование заявки"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="requestStatus" class="fips__label">Статус заявки</label>
                                            <v-combobox
                                                v-model="filter.requestStatus"
                                                :items="requestStatuses"
                                                name="requestStatus"
                                                id="requestStatus"
                                                placeholder="Выберите статус заявки"
                                                value="Все"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="requestComment" class="fips__label">Комментарий к заявке</label>
                                            <v-text-field
                                                type="text"
                                                name="requestComment"
                                                id="requestComment"
                                                v-model="filter.requestComment"
                                                placeholder="Введите комментарий заявки"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="regNumber" class="fips__label">Рег. номер</label>
                                            <v-text-field
                                                type="text"
                                                name="regNumber"
                                                id="regNumber"
                                                v-model="filter.regNumber"
                                                placeholder="Введите рег. номер"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="uniqueNumber" class="fips__label">Уникальный номер</label>
                                            <v-text-field
                                                type="text"
                                                name="uniqueNumber"
                                                id="uniqueNumber"
                                                v-model="filter.uniqueNumber"
                                                placeholder="Введите уникальный номер"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="executor" class="fips__label">Исполнитель</label>
                                            <v-text-field
                                                type="text"
                                                name="executor"
                                                id="executor"
                                                v-model="filter.executor"
                                                placeholder="Введите исполнителя"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2  class="actionBar">
                                            <v-btn dark>Применить фильтры</v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </div>
                    </v-flex>
                </v-layout>
                
                
                <v-layout column wrap>
                    <div class="fips__box mt-3 pa-3">

                        <v-flex xs-12 md-6>
                            <div class="fips__title">{{ title }}</div>
                        </v-flex>
                    
                        <v-flex xs12>
                            <v-data-table
                                :headers="headers"
                                :items="filteredItems"
                                item-key="id"
                                :pagination.sync="pagination"
                                hide-actions
                            >
                                <template #items="props">
                                    <td>{{ props.item.registrationNumber }}</td>
                                    <td>{{ props.item.task }}</td>
                                    <td>{{ getFormatedDate(props.item.registrationDate) }}</td>
                                    <td>{{ props.item.status }}</td>
                                    <td>{{ props.item.step }}</td>
                                    <td>{{ getFormatedDate(props.item.deadline) }}</td>
                                    <td>{{ props.item.executor }}</td>
                                    <td>{{ props.item.comment }}</td>
                                </template>
                            </v-data-table>

                            <div class="text-xs-center py-4">
                                <v-pagination v-model="pagination.page"
                                    class="taskpagination"
                                    :length="pages"
                                ></v-pagination>
                            </div>
                        </v-flex>
                    </div>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import * as moment from 'moment';
import { default as Breadcrumbs } from '../../components/Breadcrumbs';

export default {
    components: { Breadcrumbs },
    data: () => ({
        title: 'Заявки НМПТ',
        nextLinks: [
            {
                text: "Журналы",
                disabled: false,
                href: "/journals/overview"
            },
            {
                text: "Заявки НМПТ",
                disabled: true,
                href: "/journals/AoORequests"
            },
        ],
        pagination: {
            rowsPerPage: 5
        },
        headers: [
            {
                text: 'Регистрационный номер',
                sortable: false,
            },
            { 
                text: 'Название',
                sortable: false,
            },
            { 
                text: 'Дата регистрации',
                sortable: false,
            },
            { 
                text: 'Статус заявки',
                sortable: false,
            },
            { 
                text: 'Шаг процесса исполнения',
                sortable: false,
            },
            { 
                text: 'Срок исполнения',
                sortable: false,
            },
            { 
                text: 'Исполнитель',
                sortable: false,
            },
            { 
                text: 'Комментарий',
                sortable: false,
            },
        ],
        filteredItems: [],
        items: [
            {
                id: 1,
                registrationNumber: 435475,
                task: 'Проверка пошлины',
                registrationDate: new Date(2019, 2, 10, 15, 44),
                status: 'Ожидание пошлины',
                step: 'Шаг 1',
                deadline: new Date(2019, 5, 1, 16, 0),
                executor: 'Титов В. М.',
                comment: 'Комментарий 1',
            },
            {
                id: 2,
                registrationNumber: 176547,
                task: 'Проведение экспертизы ЗО',
                registrationDate: new Date(2019, 3, 15, 15, 44),
                status: 'Экспертиза ЗО',
                step: 'Шаг 2',
                deadline: new Date(2019, 5, 1, 16, 0),
                executor: 'Суханов Г. М.',
                comment: 'Комментарий 2',
            },
        ],
        dateFrom: [],
        dateTo: [],
        menuFrom: false,
        menuTo: false,
        requestStatuses: [
            'Зарегистрирована',
            'Формальная экспертиза',
            'Экспертиза по существу',
            'Регистрация и внесение в ЕГР',
            'Делопроизводство завершено',
        ],
        filter: {
            selectedDateFrom: new Date().toISOString().substr(0, 10),
            selectedDateTo: '',
            requestName: '',
            requestStatus: '',
            requestComment: '',
            regNumber: '',
            uniqueNumber: '',
            executor: '',
        },
    }),
    mounted: function() {
        let date = new Date();
        date.setDate(new Date().getDate() - 7);
        this.filter.selectedDateFrom = date.toISOString().substr(0, 10);
        this.filteredItems = this.items;
    },
    methods: {
        applyFilter: function() {},
        clearFilter: function() {},
        getFormatedDate: (date) => moment(date).format('DD.MM.YYYY'),
        getFormatedTime: (date) => moment(date).format('HH.mm'),
    },
    computed: {
        pages() {
            if (this.pagination.rowsPerPage == null || this.items.length == null)
                return 0;

            return Math.ceil(
                this.items.length / this.pagination.rowsPerPage
            );
        }
    }
}
</script>

<style>
    .fips__datelabel {
        margin: 7px 8px;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header {
        border-left: 0;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__header {
        border: 0;
        background: none;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header:hover {
        border: 0;
        background: none;
    }
    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__body {
        border-left: 0;
    }
</style>