<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md class="pt-2">
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-expansion-panel>
                                <v-expansion-panel-content>
                                    <template v-slot:header><span class="fips__subtitle">Параметры поиска</span></template>
                                    <v-layout row wrap>
                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="showMode" class="fips__label">Показать</label>
                                            <v-combobox
                                                v-model="filter.showMode"
                                                :items="showModes"
                                                name="showMode"
                                                id="showMode"
                                                placeholder="Что показывать"
                                                value="Все"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="employee" class="fips__label">Работник</label>
                                            <v-combobox
                                                v-model="filter.employee"
                                                :items="employeeItems"
                                                name="employee"
                                                id="employee"
                                                placeholder="Работник"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="deputy" class="fips__label">Заместитель</label>
                                            <v-combobox
                                                v-model="filter.deputy"
                                                :items="deputyItems"
                                                name="deputy"
                                                id="deputy"
                                                placeholder="Заместитель"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="assistant" class="fips__label">Помощник</label>
                                            <v-combobox
                                                v-model="filter.assistant"
                                                :items="assistantItems"
                                                name="assistant"
                                                id="assistant"
                                                placeholder="Помощник"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>
                                    </v-layout>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-data-table
                                :headers="headers"
                                :items="filteredItems"
                                item-key="id"
                                :pagination.sync="pagination"
                                hide-actions
                            >
                                <template #items="props">
                                    <td>{{ props.item.employee }}</td>
                                    <td>{{ props.item.deputy }}</td>
                                    <td>{{ props.item.assistant }}</td>
                                </template>
                            </v-data-table>

                            <div class="text-xs-center py-4">
                                <v-pagination v-model="pagination.page"
                                    class="taskpagination"
                                    :length="pages"
                                ></v-pagination>
                            </div>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import { default as Breadcrumbs } from '../../components/Breadcrumbs';

export default {
    components: { Breadcrumbs },
    data: () => ({
        title: 'Помощники и замещающие лица',
        nextLinks: [
            {
                text: "Журналы",
                disabled: false,
                href: "/journals/overview"
            },
            {
                text: "Помощники и замещающие лица",
                disabled: true,
                href: "/journals/assistantsAndAlternates"
            },
        ],
        pagination: {
            rowsPerPage: 5
        },
        headers: [
            {
                text: 'Работник',
                sortable: false,
            },
            { 
                text: 'Заместитель',
                sortable: false,
            },
            { 
                text: 'Помощник',
                sortable: false,
            },
        ],
        filteredItems: [],
        items: [
            {
                id: 1,
                employee: 'Титов В. М.',
                deputy: 'Титов В. М.',
                assistant: 'Титов В. М.',
            },
            {
                id: 2,
                employee: 'Суханов Г. М.',
                deputy: 'Суханов Г. М.',
                assistant: 'Суханов Г. М.',
            },
            {
                id: 3,
                employee: 'Дроздов О. С.',
                deputy: 'Дроздов О. С.',
                assistant: 'Дроздов О. С.',
            },
            {
                id: 4,
                employee: 'Системный',
                deputy: 'Системный',
                assistant: 'Системный',
            },
            {
                id: 5,
                employee: 'Архипова А. Г.',
                deputy: 'Архипова А. Г.',
                assistant: 'Архипова А. Г.',
            },
            {
                id: 6,
                employee: 'Бутко А. Ю.',
                deputy: 'Бутко А. Ю.',
                assistant: 'Бутко А. Ю.',
            },
            {
                id: 7,
                employee: 'Воронцова Э. Р.',
                deputy: 'Воронцова Э. Р.',
                assistant: 'Воронцова Э. Р.',
            },
            {
                id: 8,
                employee: 'Системный',
                deputy: 'Системный',
                assistant: 'Системный',
            },
            {
                id: 9,
                employee: 'Тарасова Т. И.',
                deputy: 'Тарасова Т. И.',
                assistant: 'Тарасова Т. И.',
            }
        ],
        showModes: [],
        employeeItems: [],
        deputyItems: [],
        assistantItems: [],
        deputy: [],
        assistant: [],
        filter: {
            showMode:'',
            employee: '',
            deputy: '',
            assistant: '',
        },
    }),
    mounted: function() {
        this.filteredItems = this.items;
    },
    computed: {
        pages() {
            if (this.pagination.rowsPerPage == null || this.items.length == null)
                return 0;

            return Math.ceil(
                this.items.length / this.pagination.rowsPerPage
            );
        }
    }
}
</script>

<style>
    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__header {
        border: 0;
        background: none;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header {
        border-left: 0;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header:hover {
        border: 0;
        background: none;
    }
    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__body {
        border-left: 0;
    }
</style>