<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md class="pt-2">
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-expansion-panel>
                                <v-expansion-panel-content>
                                    <template v-slot:header><span class="fips__subtitle">Параметры поиска</span></template>
                                    <v-layout row wrap>
                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="eventName" class="fips__label">Наименование события</label>
                                            <v-combobox
                                                v-model="filter.eventName"
                                                :items="eventNames"
                                                name="eventName"
                                                id="eventName"
                                                placeholder="Выберите название события"
                                                value="Все"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="eventText" class="fips__label">Текст события</label>
                                            <v-text-field
                                                type="text"
                                                name="eventText"
                                                id="eventText"
                                                v-model="filter.eventText"
                                                placeholder="Введите текст события"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="user" class="fips__label">Пользователь</label>
                                            <v-combobox
                                                v-model="filter.user"
                                                :items="users"
                                                name="user"
                                                id="user"
                                                placeholder="Выберите пользователя"
                                                value="Все"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <v-layout row wrap>
                                                <v-flex xs12 md5 lg5 class="fips__box pa-3">
                                                    <v-layout column wrap>
                                                        <v-flex xs12 md12 lg12 class="fips__row">
                                                            <label class="fips__label">С</label>
                                                        </v-flex>

                                                        <v-flex xs12 md12 lg12 class="fips_row">
                                                            <v-menu
                                                                v-model="menuFrom"
                                                                :close-on-content-click="false"
                                                                :nudge-right="40"
                                                                lazy
                                                                offset-y
                                                                full-width
                                                                min-width="290px"
                                                            >
                                                                <template v-slot:activator="{ on }">
                                                                <v-text-field
                                                                    v-model="filter.selectedDateFrom"
                                                                    v-on="on"
                                                                    :items="dateFrom"
                                                                    name="dateFrom"
                                                                    id="dateFrom"
                                                                    placeholder="Введите дату"
                                                                    append-icon="mdi-chevron-down"
                                                                ></v-text-field>
                                                                </template>
                                                                <v-date-picker v-model="filter.selectedDateFrom" @input="menuFrom = false"></v-date-picker>
                                                            </v-menu>
                                                        </v-flex>

                                                        <v-flex xs12 md12 lg12 class="fips_row">
                                                            <label for="hoursFrom" class="fips__label">Час</label>
                                                            <v-combobox
                                                                v-model="filter.hoursFrom"
                                                                :items="hours"
                                                                name="hoursFrom"
                                                                id="hoursFrom"
                                                                placeholder="Час"
                                                                value="0"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>

                                                        <v-flex xs12 md12 lg12 class="fips_row">
                                                            <label for="minutesFrom" class="fips__label">Минута</label>
                                                            <v-combobox
                                                                v-model="filter.minutesFrom"
                                                                :items="minutes"
                                                                name="minutesFrom"
                                                                id="minutesFrom"
                                                                placeholder="Минута"
                                                                value="0"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>

                                                        <v-flex xs12 md12 lg12 class="fips_row">
                                                            <label for="secondsFrom" class="fips__label">Секунды</label>
                                                            <v-combobox
                                                                v-model="filter.secondsFrom"
                                                                :items="minutes"
                                                                name="secondsFrom"
                                                                id="secondsFrom"
                                                                placeholder="Секунды"
                                                                value="0"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                                <v-flex xs12 md5 offset-md1 lg5 offset-lg1 class="fips__box pa-3 ">
                                                    <v-layout column wrap>
                                                        <v-flex xs12 md12 lg12 class="fips__row">
                                                            <label class="fips__label">По</label>
                                                        </v-flex>

                                                        <v-flex xs12 md12 lg12 class="fips_row">
                                                            <v-menu
                                                                v-model="menuTo"
                                                                :close-on-content-click="false"
                                                                :nudge-right="40"
                                                                lazy
                                                                offset-y
                                                                full-width
                                                                min-width="290px"
                                                            >
                                                                <template v-slot:activator="{ on }">
                                                                <v-text-field
                                                                    v-model="filter.selectedDateTo"
                                                                    v-on="on"
                                                                    :items="dateTo"
                                                                    name="dateTo"
                                                                    id="dateTo"
                                                                    placeholder="Введите дату"
                                                                    append-icon="mdi-chevron-down"
                                                                ></v-text-field>
                                                                </template>
                                                                <v-date-picker v-model="filter.selectedDateTo" @input="menuTo = false"></v-date-picker>
                                                            </v-menu>
                                                        </v-flex>

                                                        <v-flex xs12 md12 lg12 class="fips_row">
                                                            <label for="hoursTo" class="fips__label">Час</label>
                                                            <v-combobox
                                                                v-model="filter.hoursTo"
                                                                :items="hours"
                                                                name="hoursTo"
                                                                id="hoursTo"
                                                                placeholder="Час"
                                                                value="0"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>

                                                        <v-flex xs12 md12 lg12 class="fips_row">
                                                            <label for="minutesTo" class="fips__label">Минута</label>
                                                            <v-combobox
                                                                v-model="filter.minutesTo"
                                                                :items="minutes"
                                                                name="minutesTo"
                                                                id="minutesTo"
                                                                placeholder="Минута"
                                                                value="0"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>

                                                        <v-flex xs12 md12 lg12 class="fips_row">
                                                            <label for="secondsTo" class="fips__label">Секунды</label>
                                                            <v-combobox
                                                                v-model="filter.secondsTo"
                                                                :items="minutes"
                                                                name="secondsTo"
                                                                id="secondsTo"
                                                                placeholder="Секунды"
                                                                value="0"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="eventSuccess" class="fips__label">Успешность события</label>
                                            <v-combobox
                                                v-model="filter.eventSuccess"
                                                :items="eventSuccessItems"
                                                name="eventSuccess"
                                                id="eventSuccess"
                                                placeholder="Выберите успешность события"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="ipAddress" class="fips__label">IP-адрес устройства</label>
                                            <v-text-field
                                                type="text"
                                                name="ipAddress"
                                                id="ipAddress"
                                                v-model="filter.ipAddress"
                                                placeholder="Введите ip-адрес"
                                            ></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </div>
                    </v-flex>
                </v-layout>
                
                
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-data-table
                                :headers="headers"
                                :items="filteredItems"
                                item-key="id"
                                :pagination.sync="pagination"
                                hide-actions
                            >
                                <template #items="props">
                                    <td>{{ props.item.eventName }}</td>
                                    <td>{{ getFormatedTime(props.item.time) }}</td>
                                    <td>{{ getFormatedDate(props.item.date) }}</td>
                                    <td>{{ props.item.user }}</td>
                                    <td>{{ props.item.action }}</td>
                                    <td>{{ props.item.isSuccess }}</td>
                                    <td>{{ props.item.ipAddress }}</td>
                                </template>
                            </v-data-table>

                            <div class="text-xs-center py-4">
                                <v-pagination v-model="pagination.page"
                                    class="taskpagination"
                                    :length="pages"
                                ></v-pagination>
                            </div>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import * as moment from 'moment';
import { default as Breadcrumbs } from '../../components/Breadcrumbs';

export default {
    components: { Breadcrumbs },
    data: () => ({
        title: 'Аудит',
        nextLinks: [
            {
                text: "Журналы",
                disabled: false,
                href: "/journals/overview"
            },
            {
                text: "Аудит",
                disabled: true,
                href: "/journals/audit"
            },
        ],
        pagination: {
            rowsPerPage: 5
        },
        headers: [
            {
                text: 'Наименование события',
            },
            { 
                text: 'Время',
            },
            { 
                text: 'Дата',
            },
            { 
                text: 'Пользователь',
            },
            { 
                text: 'Действие, вызвавшее событие',
            },
            { 
                text: 'Отметка успешности выполнения действия, вызвавшего событие',
            },
            { 
                text: 'IP-адрес рабочей станции',
            }
        ],
        filteredItems: [],
        items: [
            {
                id: 1,
                eventName: 'Событие 1',
                time: new Date(2019, 2, 10, 15, 44),
                date: new Date(2019, 11, 27, 15, 44),
                user: 'Титов В. М.',
                action: 'Попытка входа в систему субъекта доступа',
                isSuccess: 'Успешно',
                ipAddress: '74.158.187.2',
            },
            {
                id: 2,
                eventName: 'Событие 2',
                time: new Date(2019, 3, 15, 15, 44),
                date: new Date(2019, 2, 17, 16, 34),
                user: 'Суханов Г. М.',
                action: 'Изменение состава и полномочий ролевой модели',
                isSuccess: 'Не успешно',
                ipAddress: '200.172.16.73',
            },
        ],
        eventSuccess: [ 'Успешно' , 'Не успешно'],
        eventNames: [],
        eventSuccessItems: [],
        users: [],
        hours: [],
        minutes: [],
        dateFrom: [],
        dateTo: [],
        menuFrom: false,
        menuTo: false,
        filter: {
            selectedDateFrom: new Date().toISOString().substr(0, 10),
            selectedDateTo: new Date().toISOString().substr(0, 10),
            certificateNumber: '',
            expertName: '',
            hoursFrom: 23,
            minutesFrom: 59,
            secondsFrom: 59,
            hoursTo: 23,
            minutesTo: 59,
            secondsTo: 59,
            eventSuccess: '',
            ipAddress: '',
        },
    }),
    created: function() {
        this.fillTimeItems();
    },
    mounted: function() {
        this.filteredItems = this.items;
        
    },
    methods: {
        applyFilter: function() {},
        clearFilter: function() {},
        fillTimeItems: function() {
            for(var i = 0 ; i < 60; i++) {
                if( i < 24) this.hours[i] = i;
                this.minutes[i] = i;
            }
        },
        getFormatedDate: (date) => moment(date).format('DD.MM.YYYY'),
        getFormatedTime: (date) => moment(date).format('HH.mm'),
    },
    computed: {
        pages() {
            if (this.pagination.rowsPerPage == null || this.items.length == null)
                return 0;

            return Math.ceil(
                this.items.length / this.pagination.rowsPerPage
            );
        }
    }
}
</script>

<style>
    .input_label {
        width: 115px;
    }

    .input_short_label {
        width: 2vmin;
    }

    .actionBar button {
        width: 130px;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header {
        border-left: 0;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__header {
        border: 0;
        background: none;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header:hover {
        border: 0;
        background: none;
    }
    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__body {
        border-left: 0;
    }
</style>