<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md class="pt-2">
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-expansion-panel expand>
                                <v-expansion-panel-content>
                                    <template v-slot:header><span class="fips__subtitle">Параметры поиска</span></template>
                                    <v-layout row wrap>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="documentRegNumber" class="fips__label">Рег. номер документа</label>
                                            <v-text-field
                                                type="text"
                                                name="documentRegNumber"
                                                id="documentRegNumber"
                                                v-model="filter.documentRegNumber"
                                                placeholder="Введите рег. номер документа"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="freeAssignmentNumber" class="fips__label">№ свободного поручения</label>
                                            <v-text-field
                                                type="text"
                                                name="freeAssignmentNumber"
                                                id="freeAssignmentNumber"
                                                v-model="filter.freeAssignmentNumber"
                                                placeholder="Введите № свободного поручения"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="status" class="fips__label">Статус</label>
                                            <v-combobox
                                                v-model="filter.status"
                                                :items="statusItems"
                                                name="status"
                                                id="status"
                                                placeholder="Выберите статус"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 >
                                            <v-layout row wrap>

                                                <v-flex xs12 md4 lg4>
                                                    <div class="fips__box">
                                                        <label class="fips__label ml-2">Дата создания поручения</label>
                                                        <v-flex xs12 class="fips__column">
                                                            <v-flex xs12 md12 lg12 class="fips_row">
                                                                <label for="orderCreationDateFrom" class="fips__label">C</label>
                                                                <v-menu
                                                                    v-model="menuOrderCreationDateFrom"
                                                                    :close-on-content-click="false"
                                                                    :nudge-right="40"
                                                                    lazy
                                                                    offset-y
                                                                    full-width
                                                                    min-width="290px"
                                                                >
                                                                    <template v-slot:activator="{ on }">
                                                                    <v-text-field
                                                                        v-model="filter.orderCreationDateFrom"
                                                                        v-on="on"
                                                                        :items="orderCreationDateFromItems"
                                                                        name="orderCreationDateFrom"
                                                                        id="orderCreationDateFrom"
                                                                        placeholder="Введите дату"
                                                                        append-icon="mdi-chevron-down"
                                                                    ></v-text-field>
                                                                    </template>
                                                                    <v-date-picker v-model="filter.orderCreationDateFrom" @input="menuOrderCreationDateFrom = false"></v-date-picker>
                                                                </v-menu>
                                                            </v-flex>

                                                            <v-flex xs12 md12 lg12 class="fips_row">
                                                                <label for="orderCreationDateTo" class="fips__label">По</label>
                                                                <v-menu
                                                                    v-model="menuOrderCreationDateTo"
                                                                    :close-on-content-click="false"
                                                                    :nudge-right="40"
                                                                    lazy
                                                                    offset-y
                                                                    full-width
                                                                    min-width="290px"
                                                                >
                                                                    <template v-slot:activator="{ on }">
                                                                    <v-text-field
                                                                        v-model="filter.orderCreationDateTo"
                                                                        v-on="on"
                                                                        :items="orderCreationDateToItems"
                                                                        name="orderCreationDateTo"
                                                                        id="orderCreationDateTo"
                                                                        placeholder="Введите дату"
                                                                        append-icon="mdi-chevron-down"
                                                                    ></v-text-field>
                                                                    </template>
                                                                    <v-date-picker v-model="filter.orderCreationDateTo" @input="menuOrderCreationDateTo = false"></v-date-picker>
                                                                </v-menu>
                                                            </v-flex>
                                                        </v-flex>
                                                    </div>
                                                </v-flex>

                                                <v-flex xs12 md4 lg4>
                                                    <div class="fips__box">
                                                        <label class="fips__label ml-2">Контрольный срок</label>
                                                        <v-flex xs12 class="fips__column">
                                                            <v-flex xs12 md12 lg12 class="fips_row">
                                                                <label for="deadlineFrom" class="fips__label">C</label>
                                                                <v-menu
                                                                    v-model="menuDeadlineFrom"
                                                                    :close-on-content-click="false"
                                                                    :nudge-right="40"
                                                                    lazy
                                                                    offset-y
                                                                    full-width
                                                                    min-width="290px"
                                                                >
                                                                    <template v-slot:activator="{ on }">
                                                                    <v-text-field
                                                                        v-model="filter.deadlineFrom"
                                                                        v-on="on"
                                                                        :items="deadlineFromItems"
                                                                        name="deadlineFrom"
                                                                        id="deadlineFrom"
                                                                        placeholder="Введите дату"
                                                                        append-icon="mdi-chevron-down"
                                                                    ></v-text-field>
                                                                    </template>
                                                                    <v-date-picker v-model="filter.deadlineFrom" @input="menuDeadlineFrom = false"></v-date-picker>
                                                                </v-menu>
                                                            </v-flex>

                                                            <v-flex xs12 md12 lg12 class="fips_row">
                                                                <label for="deadlineTo" class="fips__label">По</label>
                                                                <v-menu
                                                                    v-model="menuDeadlineTo"
                                                                    :close-on-content-click="false"
                                                                    :nudge-right="40"
                                                                    lazy
                                                                    offset-y
                                                                    full-width
                                                                    min-width="290px"
                                                                >
                                                                    <template v-slot:activator="{ on }">
                                                                    <v-text-field
                                                                        v-model="filter.deadlineTo"
                                                                        v-on="on"
                                                                        :items="deadlineToItems"
                                                                        name="deadlineTo"
                                                                        id="deadlineTo"
                                                                        placeholder="Введите дату"
                                                                        append-icon="mdi-chevron-down"
                                                                    ></v-text-field>
                                                                    </template>
                                                                    <v-date-picker v-model="filter.deadlineTo" @input="menuDeadlineTo = false"></v-date-picker>
                                                                </v-menu>
                                                            </v-flex>
                                                        </v-flex>
                                                    </div>
                                                </v-flex>
                                                
                                                <v-flex xs12 md4 lg4 class="fips__row">
                                                    <div class="fips__box">
                                                        <label class="fips__label ml-2">Дата исполнения</label>
                                                        <v-flex xs12 class="fips__column">
                                                            <v-flex xs12 md12 lg12 class="fips_row">
                                                                <label for="executionDateFrom" class="fips__label">C</label>
                                                                <v-menu
                                                                    v-model="menuExecutionDateFrom"
                                                                    :close-on-content-click="false"
                                                                    :nudge-right="40"
                                                                    lazy
                                                                    offset-y
                                                                    full-width
                                                                    min-width="290px"
                                                                >
                                                                    <template v-slot:activator="{ on }">
                                                                    <v-text-field
                                                                        v-model="filter.executionDateFrom"
                                                                        v-on="on"
                                                                        :items="executionDateFromItems"
                                                                        name="executionDateFrom"
                                                                        id="executionDateFrom"
                                                                        placeholder="Введите дату"
                                                                        append-icon="mdi-chevron-down"
                                                                    ></v-text-field>
                                                                    </template>
                                                                    <v-date-picker v-model="filter.executionDateFrom" @input="menuExecutionDateFrom = false"></v-date-picker>
                                                                </v-menu>
                                                            </v-flex>

                                                            <v-flex xs12 md12 lg12 class="fips_row">
                                                                <label for="executionDateTo" class="fips__label">По</label>
                                                                <v-menu
                                                                    v-model="menuExecutionDateTo"
                                                                    :close-on-content-click="false"
                                                                    :nudge-right="40"
                                                                    lazy
                                                                    offset-y
                                                                    full-width
                                                                    min-width="290px"
                                                                >
                                                                    <template v-slot:activator="{ on }">
                                                                    <v-text-field
                                                                        v-model="filter.executionDateTo"
                                                                        v-on="on"
                                                                        :items="executionDateToItems"
                                                                        name="executionDateTo"
                                                                        id="executionDateTo"
                                                                        placeholder="Введите дату"
                                                                        append-icon="mdi-chevron-down"
                                                                    ></v-text-field>
                                                                    </template>
                                                                    <v-date-picker v-model="filter.executionDateTo" @input="menuExecutionDateTo = false"></v-date-picker>
                                                                </v-menu>
                                                            </v-flex>
                                                        </v-flex>
                                                    </div>
                                                </v-flex>

                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="task" class="fips__label">Задание</label>
                                            <v-text-field
                                                type="text"
                                                name="task"
                                                id="task"
                                                v-model="filter.task"
                                                placeholder="Введите задание"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="content" class="fips__label">Содержание</label>
                                            <v-text-field
                                                type="text"
                                                name="content"
                                                id="content"
                                                v-model="filter.content"
                                                placeholder="Введите содержание"
                                            ></v-text-field>
                                        </v-flex>
                                        
                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="onControl" class="fips__label">На контроле</label>
                                            <v-combobox
                                                v-model="filter.onControl"
                                                :items="onControlItems"
                                                name="onControl"
                                                id="onControl"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="isOverdue" class="fips__label">Просроченные</label>
                                            <v-checkbox v-model="filter.isOverdue" id="isOverdue"></v-checkbox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="executor" class="fips__label">Исполнитель</label>
                                            <v-combobox
                                                v-model="filter.executor"
                                                :items="executorItems"
                                                name="executor"
                                                id="executor"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="controller" class="fips__label">Контролер</label>
                                            <v-combobox
                                                v-model="filter.controller"
                                                :items="controllerItems"
                                                name="controller"
                                                id="controller"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="orderType" class="fips__label">Вид поручения</label>
                                            <v-combobox
                                                v-model="filter.orderType"
                                                :items="orderTypeItems"
                                                name="orderType"
                                                id="orderType"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="iAmAuthor" class="fips__label">Автор</label>
                                            <v-checkbox v-model="filter.iAmAuthor" id="iAmAuthor"></v-checkbox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="iAmRegistar" class="fips__label">Регистратор</label>
                                            <v-checkbox v-model="filter.iAmRegistar" id="iAmRegistar"></v-checkbox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="iAmController" class="fips__label">Контролер</label>
                                            <v-checkbox v-model="filter.iAmController" id="iAmController"></v-checkbox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="iAmExecutor" class="fips__label">Исполнитель</label>
                                            <v-checkbox v-model="filter.iAmExecutor" id="iAmExecutor"></v-checkbox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="showWhereAssistantOrSubstitude" class="fips__label">Помощник/Замещающий</label>
                                            <v-checkbox v-model="filter.showWhereAssistantOrSubstitude" id="showWhereAssistantOrSubstitude"></v-checkbox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2>
                                            <v-btn dark>Поиск</v-btn>
                                            <v-btn dark>Очистить</v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout column wrap>
                    <div class="fips__box mt-3 pa-3">
                        <v-flex xs-12 md-6>
                            <div class="fips__title">{{ title }}</div>
                        </v-flex>
                    
                        <v-flex xs12>
                            <v-data-table
                                :headers="headers"
                                :items="filteredItems"
                                item-key="id"
                                :pagination.sync="pagination"
                                hide-actions
                            >
                                <template slot="headerCell" slot-scope="props">
                                    <v-icon v-if="props.header.pictogram" style="height:30px" color="primary">mdi-kickstarter</v-icon>
                                    <span v-else>{{props.header.text}}</span>
                                </template>
                                <template #items="props">
                                    <td></td>
                                    <td>{{ props.item.instructionNumber }}</td>
                                    <td>{{ getFormatedDate(props.item.dateEntered) }}</td>
                                    <td>{{ getFormatedDate(props.item.dateOfIssues) }}</td>
                                    <td>{{ props.item.task }}</td>
                                    <td>{{ props.item.docRegistrationNumber }}</td>
                                    <td>{{ props.item.content }}</td>
                                    <td>{{ props.item.registrator }}</td>
                                    <td>{{ props.item.executor }}</td>
                                    <td>{{ props.item.status }}</td>
                                    <td>{{ getFormatedDate(props.item.deadline) }}</td>
                                    <td>{{ props.item.done || 'Пусто' }}</td>
                                </template>
                            </v-data-table>

                            <div class="text-xs-center py-4">
                                <v-pagination v-model="pagination.page"
                                    class="taskpagination"
                                    :length="pages"
                                ></v-pagination>
                            </div>
                        </v-flex>
                    </div>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import * as moment from 'moment';
import { default as Breadcrumbs } from '../../components/Breadcrumbs';

export default {
    components: { Breadcrumbs },    
    data: () => ({
        title: 'Поручения',
        nextLinks: [
            {
                text: "Журналы",
                disabled: false,
                href: "/journals/overview"
            },
            {
                text: "Поручения",
                disabled: true,
                href: "/journals/instructions"
            },
        ],
        pagination: {
            rowsPerPage: 5
        },
        headers: [
            {
                text: 'Пиктограмма',
                pictogram: true,
                sortable: false,
            },
            {
                text: 'Номер поручения',
                sortable: false,
            },
            {
                text: 'Дата занесения',
                sortable: false,
            },
            {
                text: 'Дата выдачи',
                sortable: false,
            },
            {
                text: 'Задание',
                sortable: false,
            },
            {
                text: 'Рег. номер док-та',
                sortable: false,
            },
            {
                text: 'Содержание',
                sortable: false,
            },
            {
                text: 'Регистратор',
                sortable: false,
            },
            {
                text: 'Исполнитель',
                sortable: false,
            },
            {
                text: 'Статус',
                sortable: false,
            },
            {
                text: 'Контрольный срок',
                sortable: false,
            },
            {
                text: 'Исполнено',
                sortable: false,
            },
        ],
        items: [
            {
                pictogram: '',
                instructionNumber: 201970012,
                dateEntered: new Date(2019, 2, 10, 15, 44),
                dateOfIssues: new Date(2019, 5, 1, 16, 0),
                task: 'Задание 1',
                docRegistrationNumber: 43547,
                content: 'Содержание 1',
                registrator: 'Титов В. М.',
                executor: 'Суханов Г. М.',
                status: 'Исполнение/ Ознакомление',
                deadline: new Date(2019, 10, 6, 18, 15),
                done: '',
            },
            {
                pictogram: '',
                instructionNumber: 201970486,
                dateEntered: new Date(2019, 3, 15, 15, 44),
                dateOfIssues: new Date(2019, 12, 8, 16, 0),
                task: 'Задание 2',
                docRegistrationNumber: 176547,
                content: 'Содержание 2',
                registrator: 'Архипова А. Г.',
                executor: 'Бутко А. Ю.',
                status: 'Исполнено/Ознакомлено',
                deadline: new Date(2019, 7, 16, 7, 45),
                done: '',
            },
        ],
        filteredItems: [],
        statusItems: ['Все','Исполнено/ознакомлено','На исполнении/на ознакомлении', 'Отозвано'],
        menuOrderCreationDateFrom: false,
        menuOrderCreationDateTo: false,
        menuDeadlineTo: false,
        menuDeadlineFrom: false,
        menuExecutionDateFrom: false,
        menuExecutionDateTo: false,
        orderCreationDateFromItems: [],
        orderCreationDateToItems: [],
        deadlineToItems: [],
        deadlineFromItems: [],
        executionDateFromItems: [],
        executionDateToItems: [],
        executorItems: [],
        onControlItems: ['На контроле', 'Без контроля', 'Все'],
        controllerItems: [],
        orderTypeItems: ['Все', 'На исполнение (со сроком)', 'На ознакомление (без срока)', 'Свободное поручение'],
        filter: {
            documentRegNumber: '',
            freeAssignmentNumber: '',
            status: 'Все',
            orderCreationDateFrom: new Date().toISOString().substr(0, 10),
            orderCreationDateTo: new Date().toISOString().substr(0, 10),
            task: '',
            content: '',
            deadlineFrom: '',
            deadlineTo: '',
            executionDateFrom: '',
            executionDateTo: '',
            onControl: 'Все',
            isOverdue: false,
            executor: '',
            controller: '',
            orderType: '',
            iAmAuthor: true,
            iAmRegistar: true,
            iAmController: true,
            iAmExecutor: true,
            showWhereAssistantOrSubstitude: false,
        }
    }),
    mounted: function() {
        let date = new Date();
        date.setMonth(new Date().getMonth() - 2);
        this.filter.orderCreationDateFrom = date.toISOString().substr(0, 10);
        this.filteredItems = this.items;
    },
    methods: {
        getFormatedDate: (date) => moment(date).format('DD.MM.YYYY'),
    },
    computed: {
        pages() {
            if (this.pagination.rowsPerPage == null || this.items.length == null)
                return 0;

            return Math.ceil(
                this.items.length / this.pagination.rowsPerPage
            );
        }
    }
}
</script>

<style scoped>
    .actionBar button {
        width: 130px;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header {
        border-left: 0;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__header {
        border: 0;
        background: none;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header:hover {
        border: 0;
        background: none;
    }
    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__body {
        border-left: 0;
    }
</style>