<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md class="pt-2">
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-expansion-panel>
                                <v-expansion-panel-content>
                                    <template v-slot:header><span class="fips__subtitle">Параметры поиска</span></template>
                                    <v-layout row wrap>
                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="registrationNumber" class="fips__label">Регистрационный номер</label>
                                            <v-text-field
                                                type="text"
                                                name="registrationNumber"
                                                id="registrationNumber"
                                                v-model="filter.registrationNumber"
                                                placeholder="Введите регистрационный номер"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="uniqueNumber" class="fips__label">Уникальный номер</label>
                                            <v-text-field
                                                type="text"
                                                name="uniqueNumber"
                                                id="uniqueNumber"
                                                v-model="filter.uniqueNumber"
                                                placeholder="Введите уникальный номер"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="docType" class="fips__label">Тип документа</label>
                                            <v-combobox
                                                v-model="filter.selectedDocType"
                                                :items="docTypes"
                                                name="docType"
                                                id="docType"
                                                placeholder="Выберите тип документа"
                                                value="Все типы"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="docForm" class="fips__label">Вид документа</label>
                                            <v-combobox
                                                v-model="filter.selectedDocForm"
                                                :items="docForms"
                                                name="docForm"
                                                id="docForm"
                                                placeholder="Выберите вид документа"
                                                value="Все типы"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="content" class="fips__label">Краткое содержание</label>
                                            <v-text-field
                                                type="text"
                                                name="content"
                                                id="content"
                                                v-model="filter.content"
                                                placeholder="Введите краткое содержание"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="status" class="fips__label">Статус</label>
                                            <v-combobox
                                                v-model="filter.selectedDocForm"
                                                :items="statuses"
                                                name="status"
                                                id="status"
                                                placeholder="Выберите статус"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label class="fips__label">Дата проекта</label>
                                            <div>
                                                <v-layout row wrap>
                                                    <v-flex xs6 class="fips__row">
                                                        <label for="dateFrom" class="fips__datelabel">с</label>
                                                        <v-menu
                                                            v-model="menuFrom"
                                                            :close-on-content-click="false"
                                                            :nudge-right="40"
                                                            lazy
                                                            offset-y
                                                            full-width
                                                            min-width="290px"
                                                        >
                                                            <template v-slot:activator="{ on }">
                                                            <v-text-field
                                                                v-model="filter.selectedDateFrom"
                                                                v-on="on"
                                                                :items="dateFrom"
                                                                name="dateFrom"
                                                                id="dateFrom"
                                                                placeholder="Введите дату"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="filter.selectedDateFrom" @input="menuFrom = false"></v-date-picker>
                                                        </v-menu>
                                                    </v-flex>
                                                    <v-flex xs6 class="fips__row">
                                                        <label for="dateTo" class="fips__datelabel">По</label>
                                                        <v-menu
                                                            v-model="menuTo"
                                                            :close-on-content-click="false"
                                                            :nudge-right="40"
                                                            lazy
                                                            offset-y
                                                            full-width
                                                            min-width="290px"
                                                        >
                                                            <template v-slot:activator="{ on }">
                                                            <v-text-field
                                                                v-model="filter.selectedDateTo"
                                                                v-on="on"
                                                                :items="dateTo"
                                                                name="dateTo"
                                                                id="dateTo"
                                                                placeholder="Введите дату"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="filter.selectedDateTo" @input="menuTo = false"></v-date-picker>
                                                        </v-menu>
                                                    </v-flex>
                                                </v-layout>
                                            </div>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="associatedWithDocument" class="fips__label">Связано с документом</label>
                                            <v-checkbox v-model="filter.associatedWithDocument" id="associatedWithDocument"></v-checkbox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="unread" class="fips__label">Не просмотрено</label>
                                            <v-checkbox v-model="filter.unread" id="unread"></v-checkbox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="last" class="fips__label">Последние</label>
                                            <v-combobox
                                                v-model="filter.last"
                                                :items="last"
                                                name="last"
                                                id="last"
                                                placeholder="Последние..."
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>
                                        
                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2  class="actionBar">
                                            <v-btn dark @click="applyFilter">Поиск</v-btn>
                                            <v-btn dark>Очистить фильтр</v-btn>
                                            <v-btn dark>Экспорт</v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-data-table
                                :headers="headers"
                                :items="filteredItems"
                                :pagination.sync="pagination"
                                hide-actions
                            >
                                <template #items="props">
                                    <td>{{ props.item.registrationNumber }}</td>
                                    <td>{{ props.item.docForm }}</td>
                                    <td>{{ props.item.docType }}</td>
                                    <td>{{ getFormatedDate(props.item.edited) }}</td>
                                    <td>{{ getFormatedDate(props.item.registrationDate) }}</td>
                                    <td>{{ props.item.content }}</td>
                                    <td>{{ props.item.status }}</td>
                                </template>
                            </v-data-table>

                            <div class="text-xs-center py-4">
                                <v-pagination v-model="pagination.page"
                                            class="taskpagination"
                                            :length="pages"
                                ></v-pagination>
                            </div>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import * as moment from 'moment';
import { default as Breadcrumbs } from '../../components/Breadcrumbs';

export default {
    components: { Breadcrumbs },
    data: () => ({
        title: 'Мои документы',
        nextLinks: [
            {
                text: "Журналы",
                disabled: false,
                href: "/journals/overview"
            },
            {
                text: "Мои документы",
                disabled: true,
                href: "/journals/mydocuments"
            },
        ],
        pagination: {
            rowsPerPage: 5
        },
        headers: [
            {
                text: 'Регистрационный номер',
                sortable: false,
            },
            { 
                text: 'Вид документа',
                sortable: false,
            },
            { 
                text: 'Тип документа',
                sortable: false,
            },
            { 
                text: 'Изменено',
                sortable: false,
            },
            { 
                text: 'Дата регистрации',
                sortable: false,
            },
            { 
                text: 'Краткое содержание',
                sortable: false,
            },
            { 
                text: 'Статус',
                sortable: false,
            },
        ],
        last: [ 10, 50, 100, 'Все' ],
        filteredItems: [],
        items: [
            {
                registrationNumber: 43547,
                docForm: 'Вид документа 1',
                docType: 'Тип документа 1',
                edited: '',
                registrationDate: new Date().toISOString().substr(0, 10),
                content: 'Содержание 1',
                status: 'Статус 1',
            },
            {
                registrationNumber: 176547,
                docForm: 'Вид документа 2',
                docType: 'Тип документа 2',
                edited: '',
                registrationDate: new Date().toISOString().substr(0, 10),
                content: 'Содержание 2',
                status: 'Статус 2',
            },
        ],
        dateFrom: [],
        dateTo: [],
        docTypes: [],
        docForms: [],
        statuses: [],
        menuFrom: false,
        menuTo: false,
        filter: {
            registrationNumber: '',
            uniqueNumber: '',
            selectedDocType: '',
            selectedDocForm: '',
            content: '',
            selectedDateFrom: '',
            selectedDateTo: '',
        },
    }),
    mounted: function() {
        let date = new Date();
        date.setMonth(new Date().getMonth() - 3);
        this.filter.selectedDateFrom = date.toISOString().substr(0, 10);
        this.filteredItems = this.items;
        this.items.forEach( (e,index) => {
            date = new Date();
            date.setDate( date.getDate() - index);
            e.edited = date.toISOString().substr(0, 10);
        })
    },
    methods: {
        applyFilter: function() {},
        clearFilter: function() {},
        getFormatedDate: (date) => moment(date).format('DD.MM.YYYY'),
        getFormatedTime: (date) => moment(date).format('HH.mm'),
    },
    computed: {
        pages() {
            if (this.pagination.rowsPerPage == null || this.items.length == null)
                return 0;

            return Math.ceil(
                this.items.length / this.pagination.rowsPerPage
            );
        }
    }
}
</script>

<style>
    .fips__datelabel {
        margin: 7px 8px;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header {
        border-left: 0;
    }
    
    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__header {
        border: 0;
        background: none;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header:hover {
        border: 0;
        background: none;
    }
    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__body {
        border-left: 0;
    }
</style>