<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md class="pt-2">
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>
                
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-expansion-panel>
                                <v-expansion-panel-content>
                                    <template v-slot:header><span class="fips__subtitle">Параметры поиска</span></template>
                                    <v-layout row wrap>
                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label class="fips__label">Задачи пользователя</label>
                                            <div>
                                                <v-layout row wrap>
                                                    <v-flex xs6 class="fips__row">
                                                        <label for="dateFrom" class="fips__datelabel">С</label>
                                                        <v-menu
                                                            v-model="menuFrom"
                                                            :close-on-content-click="false"
                                                            :nudge-right="40"
                                                            lazy
                                                            offset-y
                                                            full-width
                                                            min-width="290px"
                                                        >
                                                            <template v-slot:activator="{ on }">
                                                            <v-text-field
                                                                v-model="filter.selectedDateFrom"
                                                                v-on="on"
                                                                :items="dateFrom"
                                                                name="dateFrom"
                                                                id="dateFrom"
                                                                placeholder="Введите дату"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="filter.selectedDateFrom" @input="menuFrom = false"></v-date-picker>
                                                        </v-menu>
                                                    </v-flex>
                                                    <v-flex xs6 class="fips__row">
                                                        <label for="dateTo" class="fips__datelabel">По</label>
                                                        <v-menu
                                                            v-model="menuTo"
                                                            :close-on-content-click="false"
                                                            :nudge-right="40"
                                                            lazy
                                                            offset-y
                                                            full-width
                                                            min-width="290px"
                                                        >
                                                            <template v-slot:activator="{ on }">
                                                            <v-text-field
                                                                v-model="filter.selectedDateTo"
                                                                v-on="on"
                                                                :items="dateTo"
                                                                name="dateTo"
                                                                id="dateTo"
                                                                placeholder="Введите дату"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="filter.selectedDateTo" @input="menuTo = false"></v-date-picker>
                                                        </v-menu>
                                                    </v-flex>
                                                </v-layout>
                                            </div>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="taskStatus" class="fips__label">Статус задачи</label>
                                            <v-combobox
                                                v-model="filter.taskStatus"
                                                :items="taskStatuses"
                                                name="taskStatus"
                                                id="taskStatus"
                                                placeholder="Выберите статус задачи"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="taskName" class="fips__label">Наименование задачи</label>
                                            <v-autocomplete
                                                v-model="filter.taskName"
                                                :items="taskNames"
                                                append-icon="mdi-chevron-down"
                                                no-data-text="Ничего не найдено"
                                                placeholder="Выберите наименование задачи"
                                                name="taskName"
                                                id="taskName"
                                                >
                                            </v-autocomplete>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="registrationNumber" class="fips__label">Регистрационный номер</label>
                                            <v-text-field
                                                type="text"
                                                name="registrationNumber"
                                                id="registrationNumber"
                                                v-model="filter.registrationNumber"
                                                placeholder="Введите регистрационный номер"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="uniqueNumber" class="fips__label">Уникальный номер</label>
                                            <v-text-field
                                                type="text"
                                                name="uniqueNumber"
                                                id="uniqueNumber"
                                                v-model="filter.uniqueNumber"
                                                placeholder="Введите уникальный номер"
                                            ></v-text-field>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label class="fips__label">Крайний срок выполнения</label>
                                            <div>
                                                <v-layout row wrap>
                                                    <v-flex xs6 class="fips__row">
                                                        <v-menu
                                                            v-model="menuDeadline"
                                                            :close-on-content-click="false"
                                                            :nudge-right="40"
                                                            lazy
                                                            offset-y
                                                            full-width
                                                            min-width="290px"
                                                        >
                                                            <template v-slot:activator="{ on }">
                                                            <v-text-field
                                                                v-model="filter.deadline"
                                                                v-on="on"
                                                                :items="deadlineItems"
                                                                name="deadline"
                                                                id="deadline"
                                                                placeholder="Введите дату"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-text-field>
                                                            </template>
                                                            <v-date-picker v-model="filter.deadline" @input="menuDeadline = false"></v-date-picker>
                                                        </v-menu>
                                                    </v-flex>
                                                </v-layout>
                                            </div>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="onControl" class="fips__label">На контроле</label>
                                            <v-checkbox v-model="filter.onControl" id="onControl"></v-checkbox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="priority" class="fips__label">Приоритет</label>
                                            <v-combobox
                                                v-model="filter.priority"
                                                :items="priorities"
                                                name="priority"
                                                id="priority"
                                                placeholder="Выберите приоритет"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2>
                                            <v-btn dark @click="applyFilter">Применить фильтр</v-btn>
                                            <v-btn dark>Очистить фильтр</v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-data-table
                                :headers="headers"
                                :items="filteredItems"
                                :pagination.sync="pagination"
                                hide-actions
                            >
                                <template #items="props">
                                    <td>{{ getFormatedDate(props.item.date) }}</td>
                                    <td>{{ getFormatedTime(props.item.date) }}</td>
                                    <td>{{ props.item.type || 'Пусто' }}</td>
                                    <td>{{ props.item.priority }}</td>
                                    <td>
                                        <v-checkbox
                                                hide-details
                                                color="primary"
                                                v-model="props.item.onControl"
                                                :value="props.item.onControl"
                                                disabled
                                        ></v-checkbox>
                                    </td>
                                    <td><a>{{ props.item.regNumber}}</a></td>
                                    <td>{{ getFormatedDate(props.item.deadline) }}</td>
                                    <td>{{ props.item.status }}</td>
                                </template>
                            </v-data-table>

                            <div class="text-xs-center py-4">
                                <v-pagination v-model="pagination.page"
                                            class="taskpagination"
                                            :length="pages"
                                ></v-pagination>
                            </div>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import * as moment from 'moment';
import { default as Breadcrumbs } from '../../components/Breadcrumbs';

export default {
    components: { Breadcrumbs },
    data: () => ({
        title: 'Мои задачи',
        nextLinks: [
            {
                text: "Журналы",
                disabled: false,
                href: "/journals/overview"
            },
            {
                text: "Мои задачи",
                disabled: true,
                href: "/journals/mytasks"
            },
        ],
        pagination: {
            rowsPerPage: 5
        },
        headers: [
            {
                text: 'Дата',
                sortable: false,
            },
            { 
                text: 'Время',
                sortable: false,
            },
            { 
                text: 'Тип задачи',
                sortable: false,
            },
            { 
                text: 'Приоритет',
                sortable: false,
            },
            { 
                text: 'На контроле',
                sortable: false,
            },
            { 
                text: 'Рег. номер',
                sortable: false,
            },
            { 
                text: 'Крайний срок выполнения',
                sortable: false,
            },
            { 
                text: 'Статус задачи',
                sortable: false,
            },
        ],
        filteredItems: [],
        items: [
            {
                id: 1,
                date: new Date(2019, 11, 27, 15, 44),
                type: '',
                priority: 'Обычный',
                onControl: true,
                regNumber: 282,
                deadline: new Date(2019, 8, 17, 12, 27),
                status: 'Не начато',
            },
            {
                id: 2,
                date: new Date(2019, 2, 17, 16, 34),
                type: '',
                priority: 'Срочный',
                onControl: false,
                regNumber: 507,
                deadline: new Date(2019, 3, 8, 10, 11),
                status: 'В работе',
            },
            {
                id: 3,
                date: new Date(2019, 3, 18, 2, 15),
                type: '',
                priority: 'Весьма срочный',
                onControl: false,
                regNumber: 684,
                deadline: new Date(2019, 5, 16, 22, 20),
                status: 'Ожидание',
            },
            {
                id: 4,
                date: new Date(2019, 3, 21, 8, 45),
                type: '',
                priority: 'Обычный',
                onControl: true,
                regNumber: 761,
                deadline: new Date(2019, 7, 19, 16, 0),
                status: 'В работе',
            },
            {
                id: 5,
                date: new Date(2019, 5, 7, 10, 54),
                type: '',
                priority: 'Срочный',
                onControl: true,
                regNumber: 457,
                deadline: new Date(2019, 1, 1, 1, 0),
                status: 'Ожидание',
            },
            {
                id: 6,
                date: new Date(2019, 6, 8, 20, 12),
                type: '',
                priority: 'Обычный',
                onControl: true,
                regNumber: 185,
                deadline: new Date(2019, 10, 25, 17, 35),
                status: 'Не начато',
            },
            {
                id: 7,
                date: new Date(2019, 10, 6, 18, 15),
                type: '',
                priority: 'Весьма срочный',
                onControl: false,
                regNumber: 769,
                deadline: new Date(2019, 6, 10, 15, 43),
                status: 'Ожидание',
            },
            {
                id: 8,
                date: new Date(2019, 7, 16, 7, 45),
                type: '',
                priority: 'Весьма срочный',
                onControl: false,
                regNumber: 578,
                deadline: new Date(2019, 4, 30, 23, 50),
                status: 'Просрочено',
            },
            {
                id: 9,
                date: new Date(2019, 12, 26, 19, 23),
                type: '',
                priority: 'Срочный',
                onControl: true,
                regNumber: 814,
                deadline: new Date(2019, 9, 10, 9, 10),
                status: 'Просрочено',
            }
        ],
        taskStatuses: [
            'Не начато',
            'В работе',
            'Ожидание',
            'Просрочено',
        ],
        taskNames: [
            'Не начато',
            'В работе',
            'Ожидание',
            'Просрочено',
        ],
        priorities: [
            'Обычный',
            'Срочный',
            'Весьма срочный',
        ],
        dateFrom: [],
        dateTo: [],
        deadlineItems: [],
        menuFrom: false,
        menuTo: false,
        menuDeadline: false,
        filter: {
            selectedDateFrom: new Date().toISOString().substr(0, 10),
            selectedDateTo: '',
            taskStatus: '',
            taskName: '',
            registrationNumber: '',
            uniqueNumber: '',
            deadline: new Date().toISOString().substr(0, 10),
            onControl: false,
            priority: ''
        },
    }),
    mounted: function() {
        let date = new Date();
        date.setDate(new Date().getDate() - 7);
        this.filter.selectedDateTo = date.toISOString().substr(0, 10);
        this.filteredItems = this.items;
    },
    methods: {
        applyFilter: function() {},
        clearFilter: function() {},
        getFormatedDate: (date) => moment(date).format('DD.MM.YYYY'),
        getFormatedTime: (date) => moment(date).format('HH.mm'),
    },
    computed: {
        pages() {
            if (this.pagination.rowsPerPage == null || this.items.length == null)
                return 0;

            return Math.ceil(
                this.items.length / this.pagination.rowsPerPage
            );
        }
    }
}
</script>

<style>
    .fips__datelabel {
        margin: 7px 8px;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header {
        border-left: 0;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__header {
        border: 0;
        background: none;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header:hover {
        border: 0;
        background: none;
    }
    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__body {
        border-left: 0;
    }
</style>