<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md class="pt-2">
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-expansion-panel>
                                <v-expansion-panel-content>
                                    <template v-slot:header><span class="fips__subtitle">Параметры поиска</span></template>
                                    <v-layout row wrap>
                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="userRole" class="fips__label">Способ подачи</label>
                                            <v-combobox
                                                v-model="filter.selectedUserRole"
                                                :items="userRoles"
                                                name="userRole"
                                                id="userRole"
                                                placeholder="Выберите роль пользователя"
                                                value="Я - получатель"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="associatedWithDocument" class="fips__label">Связано с документом</label>
                                            <v-checkbox v-model="filter.associatedWithDocument" id="associatedWithDocument"></v-checkbox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label class="fips__label">Дата уведомлений</label>
                                            <div>
                                                <v-layout row wrap>
                                                    <v-flex xs6 class="fips__row">
                                                            <v-flex class="fips__datelabel shrink">С</v-flex>
                                                            <v-flex grow>
                                                                <v-menu
                                                                    v-model="menuFrom"
                                                                    :close-on-content-click="false"
                                                                    :nudge-right="40"
                                                                    lazy
                                                                    offset-y
                                                                    full-width
                                                                    min-width="290px"
                                                                >
                                                                    <template v-slot:activator="{ on }">
                                                                    <v-text-field
                                                                        v-model="filter.selectedDateFrom"
                                                                        v-on="on"
                                                                        :items="dateFrom"
                                                                        name="dateFrom"
                                                                        id="dateFrom"
                                                                        placeholder="Введите дату"
                                                                        append-icon="mdi-chevron-down"
                                                                    ></v-text-field>
                                                                    </template>
                                                                    <v-date-picker v-model="filter.selectedDateFrom" @input="menuFrom = false"></v-date-picker>
                                                                </v-menu>
                                                            </v-flex>
                                                    </v-flex>
                                                    <v-flex xs6 class="fips__row">
                                                            <v-flex class="fips__datelabel shrink">По</v-flex>
                                                            <v-flex grow>
                                                                <v-menu
                                                                    v-model="menuTo"
                                                                    :close-on-content-click="false"
                                                                    :nudge-right="40"
                                                                    lazy
                                                                    offset-y
                                                                    full-width
                                                                    min-width="290px"
                                                                >
                                                                    <template v-slot:activator="{ on }">
                                                                    <v-text-field
                                                                        v-model="filter.selectedDateTo"
                                                                        v-on="on"
                                                                        :items="dateTo"
                                                                        name="dateTo"
                                                                        id="dateTo"
                                                                        placeholder="Введите дату"
                                                                        append-icon="mdi-chevron-down"
                                                                    ></v-text-field>
                                                                    </template>
                                                                    <v-date-picker v-model="filter.selectedDateTo" @input="menuTo = false"></v-date-picker>
                                                                </v-menu>
                                                            </v-flex>
                                                    </v-flex>
                                                </v-layout>
                                            </div>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="registrationNumber" class="fips__label">Регистрационный номер</label>
                                            <v-text-field
                                                type="text"
                                                name="registrationNumber"
                                                id="registrationNumber"
                                                v-model="filter.registrationNumber"
                                                placeholder="Введите регистрационный номер"
                                            ></v-text-field>
                                        </v-flex>
                                        
                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="notificationType" class="fips__label">Тип уведомления</label>
                                            <v-combobox
                                                v-model="filter.selectedNotificationType"
                                                :items="notificationTypes"
                                                name="notificationType"
                                                id="notificationType"
                                                placeholder="Выберите тип уведомления"
                                                value="Все"
                                                append-icon="mdi-chevron-down"
                                            ></v-combobox>
                                        </v-flex>

                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                            <label for="unread" class="fips__label">Не просмотрено</label>
                                            <v-checkbox v-model="filter.unread" id="unread"></v-checkbox>
                                        </v-flex>
                                        
                                        <v-flex xs12 md10 offset-md1 lg8 offset-lg2>
                                            <v-btn dark @click="applyFilter">Применить фильтр</v-btn>
                                            <v-btn dark>Очистить фильтр</v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-data-table
                                :headers="headers"
                                :items="filteredItems"
                                :pagination.sync="pagination"
                                hide-actions
                                :expand="expand"
                            >
                                <template #items="props">
                                    <tr :key="props.item.id" @contextmenu="show" @click="props.expanded = !props.expanded">
                                        <td>{{ getFormatedDate(props.item.date) }}</td>
                                        <td>{{ getFormatedTime(props.item.date) }}</td>
                                        <td>{{ props.item.type.text || 'Пусто' }}</td>
                                        <td>{{ props.item.regNumber }}</td>
                                        <td>{{ props.item.content }}</td>
                                        <td>{{ props.item.author }}</td>
                                    </tr>
                                </template>
                                <template v-slot:expand="props">
                                    <v-card flat>
                                        <v-card-text>Some content!</v-card-text>
                                    </v-card>
                                </template>
                            </v-data-table>

                            <div class="text-xs-center py-4">
                                <v-pagination v-model="pagination.page"
                                            class="taskpagination"
                                            :length="pages"
                                ></v-pagination>
                            </div>

                            <v-menu
                                v-model="contextMenu.showMenu"
                                :position-x="contextMenu.x"
                                :position-y="contextMenu.y"
                                absolute
                                offset-y
                            >
                                <v-list>
                                    <v-list-tile
                                        v-for="(item, index) in contextMenu.items"
                                        :key="index"
                                        @click="item.action"
                                    >
                                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                                    </v-list-tile>
                                </v-list>
                            </v-menu>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import * as moment from 'moment';
import { default as Breadcrumbs } from '../../components/Breadcrumbs';

export default {
    components: { Breadcrumbs },
    data: () => ({
        title: 'Уведомления',
        nextLinks: [
            {
                text: "Журналы",
                disabled: false,
                href: "/journals/overview"
            },
            {
                text: "Уведомления",
                disabled: true,
                href: "/journals/notifications"
            },
        ],
        pagination: {
            rowsPerPage: 5
        },
        headers: [
            {
                text: 'Дата',
                sortable: false,
            },
            { 
                text: 'Время',
                sortable: false,
            },
            { 
                text: 'Тип уведомления',
                sortable: false,
            },
            { 
                text: 'Рег. номер',
                sortable: false,
            },
            { 
                text: 'Содержание',
                sortable: false,
            },
            { 
                text: 'Автор',
                sortable: false,
            },
        ],
        filteredItems: [],
        items: [
            {
                id: 1,
                date: new Date(2019, 11, 27, 15, 44),
                type: {
                    value: 1,
                    text: 'Входящая корреспонденция'
                },
                regNumber: 282,
                content: 'Задача организации, в особенности же...',
                author: 'Титов В. М.',
            },
            {
                id: 2,
                date: new Date(2019, 2, 17, 16, 34),
                type: {
                    value: 4,
                    text: 'Заявка на НМПТ'
                },
                regNumber: 507,
                content: 'С другой стороны рамки и...',
                author: 'Суханов Г. М.',
            },
            {
                id: 3,
                date: new Date(2019, 3, 18, 2, 15),
                type: {
                    value: 3,
                    text: 'Заявка на ТЗ'
                },
                regNumber: 864,
                content: 'С другой стороны социально-экономическое развитие...',
                author: 'Дроздов О. С.',
            },
            {
                id: 4,
                date: new Date(2019, 3, 21, 8, 45),
                type: {
                    value: 5,
                    text: 'Прочие'
                },
                regNumber: 761,
                content: 'С другой стороны курс на...',
                author: 'Системный',
            },
            {
                id: 5,
                date: new Date(2019, 5, 7, 10, 54),
                type: {
                    value: 0,
                    text: ''
                },
                regNumber: 457,
                content: 'Не следует, однако, забывать о...',
                author: 'Архипова А. Г.',
            },
            {
                id: 6,
                date: new Date(2019, 6, 8, 20, 12),
                type: {
                    value: 3,
                    text: 'Заявка на ТЗ'
                },
                regNumber: 185,
                content: 'Разнообразный и богатый опыт рамки...',
                author: 'Бутко А. Ю.'
            },
            {
                id: 7,
                date: new Date(2019, 10, 6, 18, 15),
                type: {
                    value: 1,
                    text: 'Входящая корреспонденция'
                },
                regNumber: 769,
                content: 'Повседневная практика показывает, что консультация...',
                author: 'Воронцова Э. Р.'
            },
            {
                id: 8,
                date: new Date(2019, 7, 16, 7, 45),
                type: {
                    value: 0,
                    text: ''
                },
                regNumber: 578,
                content: 'Таким образом, постоянный количественный рост...',
                author: 'Системный'
            },
            {
                id: 9,
                date: new Date(2019, 12, 26, 19, 23),
                type: {
                    value: 2,
                    text: 'Исходящая корреспонденция'
                },
                regNumber: 814,
                content: 'Таким образом, повышен9ие уровня гражданского...',
                author: 'Тарасова Т. И.'
            }
        ],
        userRoles: [
            'Я - автор',
            'Я - получатель',
            'Системные',
        ],
        notificationTypes: [
            {
               value: 1,
               text: 'Входящая корреспонденция' 
            },
            {
               value: 2,
               text: 'Исходящая корреспонденция' 
            },
            {
               value: 3,
               text: 'Заявка на ТЗ' 
            },
            {
               value: 4,
               text: 'Заявка на НМПТ' 
            },
            {
               value: 5,
               text: 'Прочие' 
            },
        ],
        dateFrom: [

        ],
        dateTo: [

        ],
        contextMenu: {
            showMenu: false,
            x: 0,
            y: 0,
            items: [
                { 
                    title: 'Открыть карточку',
                    action: function() {

                    }    
                },
                { 
                    title: 'Редактировать карточку',
                    action: function() {
                        
                    }
                },
            ],
        },
        expand: false,
        menuFrom: false,
        menuTo: false,
        filter: {
            selectedUserRole: 'Я - получатель',
            selectedNotificationType: 'Все',
            selectedDateFrom: new Date().toISOString().substr(0, 10),
            selectedDateTo: '',
            registrationNumber: '',
            associatedWithDocument: false,
            unread: false,
        },
    }),
    mounted: function() {
        let date = new Date();
        date.setDate(new Date().getDate() - 7);
        this.filter.selectedDateTo = date.toISOString().substr(0, 10);
        this.filteredItems = this.items;
    },
    methods: {
        applyFilter: function() {
            let type = this.filter.selectedNotificationType;
            this.filteredItems = type.value ? this.items.filter( elem => elem.type.value === type.value ) : this.items;
        },
        clearFilter: function() {
            this.filter.selectedNotificationType = 'Все';
            this.filteredItems = this.items;
        },
        getFormatedDate: (date) => moment(date).format('DD.MM.YYYY'),
        getFormatedTime: (date) => moment(date).format('HH.mm'),
        show: function(event) {
            event.preventDefault();
            this.contextMenu.showMenu = false;
            this.contextMenu.x = event.clientX;
            this.contextMenu.y = event.clientY;
            this.$nextTick(() => {
                this.contextMenu.showMenu = true
            })
        }
    },
    computed: {
        pages() {
            if (this.pagination.rowsPerPage == null || this.items.length == null)
                return 0;

            return Math.ceil(
                this.items.length / this.pagination.rowsPerPage
            );
        }
    }
}
</script>

<style>
    .fips__datelabel {
        margin: 7px 8px;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header {
        border-left: 0;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__header {
        border: 0;
        background: none;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header:hover {
        border: 0;
        background: none;
    }
    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__body {
        border-left: 0;
    }
</style>