<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md fill-height>
                <v-layout row wrap>
                <v-flex xs12 md8 offset-md2>
                    <div class="fips__homegrid">
                    <a class="fips__box" v-for="(item, index) in items" :key="index" :href="item.href">
                        <v-icon color="white">{{ item.icon }}</v-icon>
                        {{ item.title }}
                    </a>
                    </div>
                </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import { default as Breadcrumbs } from '../../components/Breadcrumbs';

export default {
    components: {
        Breadcrumbs
    },
    data: () => ({
        nextLinks: [
            {
                text: "Журналы",
                disabled: true,
                href: "/journals/overview"
            },
        ],
        items: [
            {
                title: "Уведомления",
                icon: "mdi-bell",
                href: "/journals/notifications"
            },
            {
                title: "Мои задачи",
                icon: "mdi-clipboard-outline",
                href: "/journals/mytasks",
            },
            {
                title: "Мои документы",
                icon: "mdi-library-books",
                href: "/journals/mydocuments",
            },
            {
                title: "Перераспределение задач",
                icon: "mdi-swap-horizontal",
                href: "/journals/taskRedistribution",
            },
            {
                title: "Входящая корреспонденция",
                icon: "mdi-briefcase-download",
                href: ""
            },
            {
                title: "Исходящая корреспонденция",
                icon: "mdi-briefcase-upload",
                href: ""
            },
            {
                title: "Заявки ТЗ",
                icon: "mdi-shopping",
                href: "/journals/trademarkRequests",
            },
            {
                title: "Заявки НМПТ",
                icon: "mdi-map ",
                href: "/journals/AoORequests",
            },
            {
                title: "Регистрации ТЗ",
                icon: "mdi-seal",
                href: "/journals/trademarkRegistration",
            },
            {
                title: "Регистрации НМПТ",
                icon: "mdi-marker-check ",
                href: "/journals/AoORegistration"
            },
            {
                title: "Аудит",
                icon: "mdi-certificate",
                href: "/journals/audit"
            },
            {
                title: "Помощники и замещающие лица",
                icon: "mdi-account-multiple",
                href: "/journals/assistantsAndAlternates",
            },
            {
                title: "Поручения",
                icon: "mdi-forum",
                href: "/journals/instructions",
            },
        ]
    })
};
</script>