<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md class="pt-2">
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12 md9 lg9>
                                    <v-expansion-panel expand>
                                        <v-expansion-panel-content>
                                            <template v-slot:header><span class="fips__subtitle">Параметры поиска</span></template>
                                            <div>
                                                <v-layout row wrap>
                                                        <v-flex xs12 md7 lg7>
                                                            <v-layout column wrap>
                                                                <v-flex xs12 md12 lg12 class="fips__row">
                                                                    <label for="taskName" class="fips__input__label">Документ</label>
                                                                    <v-autocomplete
                                                                        v-model="filter.doc"
                                                                        :items="docs"
                                                                        append-icon="mdi-chevron-down"
                                                                        no-data-text="Ничего не найдено"
                                                                        placeholder="Выберите документ"
                                                                        name="doc"
                                                                        id="doc"
                                                                        >
                                                                    </v-autocomplete>
                                                                </v-flex>

                                                                <v-flex xs12 md12 lg12 class="fips__row">
                                                                    <label for="number" class="fips__input__label">Номер</label>
                                                                    <v-text-field
                                                                        type="text"
                                                                        name="number"
                                                                        id="number"
                                                                        v-model="filter.number"
                                                                        placeholder="Введите номер"
                                                                    ></v-text-field>
                                                                </v-flex>

                                                                <v-flex xs12 md12 lg12 class="fips__row">
                                                                    <label class="fips__widelabel">Дата поступления</label>
                                                                    <div>
                                                                        <v-layout row wrap>
                                                                            <v-flex xs6 class="fips__row">
                                                                                <label for="receiptDate" class="fips__datelabel">c</label>
                                                                                <v-menu
                                                                                    v-model="menuReceiptDate"
                                                                                    :close-on-content-click="false"
                                                                                    :nudge-right="40"
                                                                                    lazy
                                                                                    offset-y
                                                                                    full-width
                                                                                    min-width="290px"
                                                                                >
                                                                                    <template v-slot:activator="{ on }">
                                                                                    <v-text-field
                                                                                        v-model="filter.receiptDate"
                                                                                        v-on="on"
                                                                                        :items="receiptDate"
                                                                                        name="receiptDate"
                                                                                        id="receiptDate"
                                                                                        placeholder="Введите дату"
                                                                                        append-icon="mdi-chevron-down"
                                                                                    ></v-text-field>
                                                                                    </template>
                                                                                    <v-date-picker v-model="filter.receiptDate" @input="menuReceiptDate = false"></v-date-picker>
                                                                                </v-menu>
                                                                            </v-flex>
                                                                            <v-flex xs6 class="fips__row">
                                                                                <label for="receiptDateTo" class="fips__datelabel">по</label>
                                                                                <v-menu
                                                                                    v-model="menuReceiptDateTo"
                                                                                    :close-on-content-click="false"
                                                                                    :nudge-right="40"
                                                                                    lazy
                                                                                    offset-y
                                                                                    full-width
                                                                                    min-width="290px"
                                                                                >
                                                                                    <template v-slot:activator="{ on }">
                                                                                    <v-text-field
                                                                                        v-model="filter.receiptDateTo"
                                                                                        v-on="on"
                                                                                        :items="receiptDateTo"
                                                                                        name="receiptDateTo"
                                                                                        id="receiptDateTo"
                                                                                        placeholder="Введите дату"
                                                                                        append-icon="mdi-chevron-down"
                                                                                    ></v-text-field>
                                                                                    </template>
                                                                                    <v-date-picker v-model="filter.receiptDateTo" @input="menuReceiptDateTo = false"></v-date-picker>
                                                                                </v-menu>
                                                                            </v-flex>
                                                                        </v-layout>
                                                                    </div>
                                                                </v-flex>

                                                                <v-flex xs12 md12 lg12 class="fips__row">
                                                                    <label class="fips__input__label">Исполнение</label>
                                                                    <div>
                                                                        <v-layout row wrap>
                                                                            <v-flex xs6 class="fips__row">
                                                                                <label for="executionDate" class="fips__datelabel">c</label>
                                                                                <v-menu
                                                                                    v-model="menuExecutionDate"
                                                                                    :close-on-content-click="false"
                                                                                    :nudge-right="40"
                                                                                    lazy
                                                                                    offset-y
                                                                                    full-width
                                                                                    min-width="290px"
                                                                                >
                                                                                    <template v-slot:activator="{ on }">
                                                                                    <v-text-field
                                                                                        v-model="filter.executionDate"
                                                                                        v-on="on"
                                                                                        :items="executionDate"
                                                                                        name="executionDate"
                                                                                        id="executionDate"
                                                                                        placeholder="Введите дату"
                                                                                        append-icon="mdi-chevron-down"
                                                                                    ></v-text-field>
                                                                                    </template>
                                                                                    <v-date-picker v-model="filter.executionDate" @input="menuExecutionDate = false"></v-date-picker>
                                                                                </v-menu>
                                                                            </v-flex>
                                                                            <v-flex xs6 class="fips__row">
                                                                                <label for="executionDateTo" class="fips__datelabel">по</label>
                                                                                <v-menu
                                                                                    v-model="menuExecutionDateTo"
                                                                                    :close-on-content-click="false"
                                                                                    :nudge-right="40"
                                                                                    lazy
                                                                                    offset-y
                                                                                    full-width
                                                                                    min-width="290px"
                                                                                >
                                                                                    <template v-slot:activator="{ on }">
                                                                                    <v-text-field
                                                                                        v-model="filter.executionDateTo"
                                                                                        v-on="on"
                                                                                        :items="executionDateTo"
                                                                                        name="executionDateTo"
                                                                                        id="executionDateTo"
                                                                                        placeholder="Введите дату"
                                                                                        append-icon="mdi-chevron-down"
                                                                                    ></v-text-field>
                                                                                    </template>
                                                                                    <v-date-picker v-model="filter.executionDateTo" @input="menuExecutionDateTo = false"></v-date-picker>
                                                                                </v-menu>
                                                                            </v-flex>
                                                                        </v-layout>
                                                                    </div>
                                                                </v-flex>

                                                                <v-flex xs12 md12 lg12 class="fips__row">
                                                                    <label for="executor" class="fips__input__label">Исполнитель</label>
                                                                    <v-autocomplete
                                                                        v-model="filter.executor"
                                                                        :items="executors"
                                                                        append-icon="mdi-chevron-down"
                                                                        no-data-text="Ничего не найдено"
                                                                        placeholder="Выберите исполнителя"
                                                                        name="executor"
                                                                        id="executor"
                                                                        >
                                                                    </v-autocomplete>
                                                                </v-flex>
                                                            </v-layout>
                                                        </v-flex>

                                                        <v-flex xs12 md5 lg5>
                                                            <v-layout column wrap>
                                                                <v-flex xs12 md12 lg12 class="fips__row">
                                                                    <label for="taskStage" class="fips__input__label">Этап задачи</label>
                                                                    <v-autocomplete
                                                                        v-model="filter.taskStage"
                                                                        :items="taskStages"
                                                                        append-icon="mdi-chevron-down"
                                                                        no-data-text="Ничего не найдено"
                                                                        placeholder="Выберите этап"
                                                                        name="taskStage"
                                                                        id="taskStage"
                                                                        >
                                                                    </v-autocomplete>
                                                                </v-flex>

                                                                <v-flex xs12 md12 lg12 class="fips__row">
                                                                    <label for="taskStatus" class="fips__input__label">Статус задачи</label>
                                                                    <v-autocomplete
                                                                        v-model="filter.taskStatus"
                                                                        :items="taskStatuses"
                                                                        append-icon="mdi-chevron-down"
                                                                        no-data-text="Ничего не найдено"
                                                                        placeholder="Выберите статус"
                                                                        name="taskStatus"
                                                                        id="taskStatus"
                                                                        >
                                                                    </v-autocomplete>
                                                                </v-flex>

                                                                <div class="fips__box">
                                                                    <v-flex xs12 md12 lg12 pl-3 class="fips__row">
                                                                        <label class="fips__label">Заявитель</label>
                                                                    </v-flex>

                                                                    <v-flex xs12 md12 lg12 pr-0 class="fips__row">
                                                                        <label for="nomination" class="fips__input__label">Наименование</label>
                                                                        <v-autocomplete
                                                                            v-model="filter.nomination"
                                                                            :items="nominations"
                                                                            append-icon="mdi-chevron-down"
                                                                            no-data-text="Ничего не найдено"
                                                                            placeholder="Выберите наименование"
                                                                            name="nomination"
                                                                            id="nomination"
                                                                            >
                                                                        </v-autocomplete>
                                                                    </v-flex>

                                                                    <v-flex xs12 md12 lg12 pr-0 class="fips__row">
                                                                        <label for="transliteration" class="fips__input__label">Транслитерация</label>
                                                                        <v-autocomplete
                                                                            v-model="filter.transliteration"
                                                                            :items="transliterations"
                                                                            append-icon="mdi-chevron-down"
                                                                            no-data-text="Ничего не найдено"
                                                                            placeholder="Выберите статус"
                                                                            name="transliteration"
                                                                            id="transliteration"
                                                                            >
                                                                        </v-autocomplete>
                                                                    </v-flex>
                                                                </div>
                                                            </v-layout>
                                                        </v-flex>
                                                </v-layout>
                                            </div>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-flex>
                                <v-flex xs12 md3 lg3>
                                    <v-expansion-panel expand>
                                        <v-expansion-panel-content>
                                            <template v-slot:header><span class="fips__subtitle">Перераспределить</span></template>
                                                <v-layout row wrap>
                                                    <v-flex xs12>
                                                        <v-btn-toggle v-model="filter.distributionMethod">
                                                            <v-btn dark value="На исполнителя">На исполнителя</v-btn>
                                                            <v-btn dark ml-3 value="Автоматически">Автоматически</v-btn>
                                                        </v-btn-toggle>
                                                    </v-flex>

                                                    <v-flex xs12>
                                                        <v-text-field
                                                            type="text"
                                                            name="redistributedUser"
                                                            id="redistributedUser"
                                                            v-model="filter.redistributedUser"
                                                            placeholder="Введите пользователя"
                                                        ></v-text-field>
                                                    </v-flex>

                                                    <v-flex xs12>
                                                        <v-btn dark value="Назначить себе">Назначить себе</v-btn>
                                                        <v-btn dark value="Распределить">Распределить</v-btn>
                                                    </v-flex>
                                                </v-layout>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>  
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>
                
                
                <v-layout column wrap>
                    <div class="fips__box mt-3 pa-3">
                        <v-flex xs12>
                            <v-data-table
                                v-model="selected"
                                :headers="headers"
                                :items="filteredItems"
                                item-key="id"
                                :pagination.sync="pagination"
                                hide-actions
                                select-all
                            >
                                <template #items="props">
                                    <td>
                                        <v-checkbox
                                            v-model="props.selected"
                                            primary
                                            hide-details
                                        ></v-checkbox>
                                    </td>
                                    <td>{{ props.item.requestNumber }}</td>
                                    <td>{{ props.item.feedWay }}</td>
                                    <td>{{ props.item.task }}</td>
                                    <td>{{ props.item.taskStage }}</td>
                                    <td>{{ props.item.status }}</td>
                                    <td>{{ getFormatedDate(props.item.updated) }}</td>
                                    <td>{{ getFormatedDate(props.item.deadline) }}</td>
                                    <td>{{ props.item.executor }}</td>
                                </template>
                            </v-data-table>

                            <div class="text-xs-center py-4">
                                <v-pagination v-model="pagination.page"
                                    class="taskpagination"
                                    :length="pages"
                                ></v-pagination>
                            </div>
                        </v-flex>
                    </div>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import * as moment from 'moment';
import { default as Breadcrumbs } from '../../components/Breadcrumbs';

export default {
    components: { Breadcrumbs },
    data: () => ({
        title: 'Распределение задач',
        nextLinks: [
            {
                text: "Журналы",
                disabled: false,
                href: "/journals/overview"
            },
            {
                text: "Перераспределение задач",
                disabled: true,
                href: "/journals/taskRedistribution"
            },
        ],
        pagination: {
            rowsPerPage: 5
        },
        headers: [
            {
                text: 'Номер заявки',
                sortable: false,
            },
            { 
                text: 'Способ подачи',
                sortable: false,
            },
            { 
                text: 'Задача',
                sortable: false,
            },
            { 
                text: 'Этап задачи',
                sortable: false,
            },
            { 
                text: 'Статус',
                sortable: false,
            },
            { 
                text: 'Обновление',
                sortable: false,
            },
            { 
                text: 'Срок исполнителя',
                sortable: false,
            },
            { 
                text: 'Исполнитель',
                sortable: false,
            },
        ],
        filteredItems: [],
        items: [
            {
                id: 1,
                requestNumber: 201970012,
                feedWay: 'Способ 1',
                task: 'Проверка пошлины',
                taskStage: 'Регистрация',
                status: 'Ожидание пошлины',
                updated: new Date(2019, 2, 10, 15, 44),
                deadline: new Date(2019, 5, 1, 16, 0),
                executor: 'Титов В. М.',
            },
            {
                id: 2,
                requestNumber: 201970486,
                feedWay: 'Способ 2',
                task: 'Проведение экспертизы ЗО',
                taskStage: 'ЭЗО',
                status: 'Экспертиза ЗО',
                updated: new Date(2019, 3, 15, 15, 44),
                deadline: new Date(2019, 5, 1, 16, 0),
                executor: 'Суханов Г. М.',
            },
        ],
        docs: [],
        receiptDate: [],
        receiptDateTo: [],
        executionDate: [],
        executionDateTo: [],
        executors: [],
        taskStages: [],
        taskStatuses: [],
        nominations: [],
        transliterations: [],
        selected: [],
        menuReceiptDate: false,
        menuReceiptDateTo: false,
        menuExecutionDate: false,
        menuExecutionDateTo: false,
        filter: {
            doc: '',
            number: '',
            receiptDate: new Date().toISOString().substr(0, 10),
            receiptDateTo: new Date().toISOString().substr(0, 10),
            executionDate: new Date().toISOString().substr(0, 10),
            executionDateTo: new Date().toISOString().substr(0, 10),
            executor: '',
            nomination: '',
            transliteration: '',
            distributionMethod: '',
        },
    }),
    mounted: function() {
        let date = new Date();
        date.setDate(new Date().getDate() - 7);
        this.filter.selectedDateTo = date.toISOString().substr(0, 10);
        this.filteredItems = this.items;
    },
    methods: {
        applyFilter: function() {},
        clearFilter: function() {},
        getFormatedDate: (date) => moment(date).format('DD.MM.YYYY'),
        getFormatedTime: (date) => moment(date).format('HH.mm'),
    },
    computed: {
        pages() {
            if (this.pagination.rowsPerPage == null || this.items.length == null)
                return 0;

            return Math.ceil(
                this.items.length / this.pagination.rowsPerPage
            );
        }
    }
}
</script>

<style>
    .fips__widelabel {
        margin: 7px 8px;
        font-weight: bold;
    }

    .fips__input__label {
        margin: 7px 8px;
        width: 110px;
        font-weight: bold;
    }

    .fips__datelabel {
        margin: 7px 8px;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header {
        border-left: 0;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__header {
        border: 0;
        background: none;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header:hover {
        border: 0;
        background: none;
    }
    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__body {
        border-left: 0;
    }
</style>