<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md class="pt-2">
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-expansion-panel expand>
                                <v-expansion-panel-content>
                                    <template v-slot:header><span class="fips__subtitle">Параметры поиска</span></template>
                                        <v-layout row wrap>
                                            <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                                <label class="fips__label">Дата решения</label>
                                                <div>
                                                    <v-layout row wrap>
                                                        <v-flex xs6 class="fips__row">
                                                            <label for="dateFrom" class="fips__datelabel">с</label>
                                                            <v-menu
                                                                v-model="menuFrom"
                                                                :close-on-content-click="false"
                                                                :nudge-right="40"
                                                                lazy
                                                                offset-y
                                                                full-width
                                                                min-width="290px"
                                                            >
                                                                <template v-slot:activator="{ on }">
                                                                <v-text-field
                                                                    v-model="filter.selectedDateFrom"
                                                                    v-on="on"
                                                                    :items="dateFrom"
                                                                    name="dateFrom"
                                                                    id="dateFrom"
                                                                    placeholder="Введите дату"
                                                                    append-icon="mdi-chevron-down"
                                                                ></v-text-field>
                                                                </template>
                                                                <v-date-picker v-model="filter.selectedDateFrom" @input="menuFrom = false"></v-date-picker>
                                                            </v-menu>
                                                        </v-flex>
                                                        <v-flex xs6 class="fips__row">
                                                            <label for="dateTo" class="fips__datelabel">по</label>
                                                            <v-menu
                                                                v-model="menuTo"
                                                                :close-on-content-click="false"
                                                                :nudge-right="40"
                                                                lazy
                                                                offset-y
                                                                full-width
                                                                min-width="290px"
                                                            >
                                                                <template v-slot:activator="{ on }">
                                                                <v-text-field
                                                                    v-model="filter.selectedDateTo"
                                                                    v-on="on"
                                                                    :items="dateTo"
                                                                    name="dateTo"
                                                                    id="dateTo"
                                                                    placeholder="Введите дату"
                                                                    append-icon="mdi-chevron-down"
                                                                ></v-text-field>
                                                                </template>
                                                                <v-date-picker v-model="filter.selectedDateTo" @input="menuTo = false"></v-date-picker>
                                                            </v-menu>
                                                        </v-flex>
                                                    </v-layout>
                                                </div>
                                            </v-flex>

                                            <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                                <label for="certificateNumber" class="fips__label">Номер свидетельства</label>
                                                <v-text-field
                                                    type="text"
                                                    name="certificateNumber"
                                                    id="certificateNumber"
                                                    v-model="filter.certificateNumber"
                                                    placeholder="Введите номер свидетельства"
                                                ></v-text-field>
                                            </v-flex>

                                            <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                                <label for="expertName" class="fips__label">ФИО эксперта</label>
                                                <v-combobox
                                                    v-model="filter.expertName"
                                                    :items="expertNames"
                                                    name="expertName"
                                                    id="expertName"
                                                    placeholder="Выберите эксперта"
                                                    value="Все"
                                                    append-icon="mdi-chevron-down"
                                                ></v-combobox>
                                            </v-flex>
                                        </v-layout>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </div>
                    </v-flex>
                </v-layout>
                
                
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-data-table
                                :headers="headers"
                                :items="filteredItems"
                                item-key="id"
                                :pagination.sync="pagination"
                                hide-actions
                            >
                                <template #items="props">
                                    <td>{{ getFormatedDate(props.item.solutionDate) }}</td>
                                    <td>{{ props.item.certificateNumber }}</td>
                                    <td>{{ props.item.expertName }}</td>
                                    <td>{{ props.item.comment }}</td>
                                </template>
                            </v-data-table>

                            <div class="text-xs-center py-4">
                                <v-pagination v-model="pagination.page"
                                    class="taskpagination"
                                    :length="pages"
                                ></v-pagination>
                            </div>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import * as moment from 'moment';
import { default as Breadcrumbs } from '../../components/Breadcrumbs';

export default {
    components: { Breadcrumbs },
    data: () => ({
        title: 'Регистрация ТЗ',
        nextLinks: [
            {
                text: "Журналы",
                disabled: false,
                href: "/journals/overview"
            },
            {
                text: "Регистрации ТЗ",
                disabled: true,
                href: "/journals/trademarkRegistration"
            },
        ],
        pagination: {
            rowsPerPage: 5
        },
        headers: [
            {
                text: 'Дата решения',
                sortable: false,
            },
            { 
                text: 'Номер свидетельства',
                sortable: false,
            },
            { 
                text: 'ФИО эксперта',
                sortable: false,
            },
            { 
                text: 'Комментарий',
                sortable: false,
            }
        ],
        filteredItems: [],
        items: [
            {
                id: 1,
                solutionDate: new Date(2019, 2, 10, 15, 44),
                certificateNumber: 435475,
                expertName: 'Титов В. М.',
                comment: 'Комментарий 1',
            },
            {
                id: 2,
                solutionDate: new Date(2019, 3, 15, 15, 44),
                certificateNumber: 176547,
                expertName: 'Суханов Г. М.',
                comment: 'Комментарий 2',
            },
        ],
        dateFrom: [],
        dateTo: [],
        expertNames: [],
        menuFrom: false,
        menuTo: false,
        filter: {
            selectedDateFrom: new Date().toISOString().substr(0, 10),
            selectedDateTo: '',
            certificateNumber: '',
            expertName: '',
        },
    }),
    mounted: function() {
        let date = new Date();
        date.setDate(new Date().getDate() - 7);
        this.filter.selectedDateFrom = date.toISOString().substr(0, 10);
        this.filteredItems = this.items;
    },
    methods: {
        applyFilter: function() {},
        clearFilter: function() {},
        getFormatedDate: (date) => moment(date).format('DD.MM.YYYY'),
        getFormatedTime: (date) => moment(date).format('HH.mm'),
    },
    computed: {
        pages() {
            if (this.pagination.rowsPerPage == null || this.items.length == null)
                return 0;

            return Math.ceil(
                this.items.length / this.pagination.rowsPerPage
            );
        }
    }
}
</script>

<style>
    .fips__datelabel {
        margin: 7px 8px;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header {
        border-left: 0;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__header {
        border: 0;
        background: none;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header:hover {
        border: 0;
        background: none;
    }
    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__body {
        border-left: 0;
    }
</style>