<template>
  <v-app>
    <v-content>
      <v-container fluid grid-list-md class="pt-2">
        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12>
                  <div class="fips__title">Цвета</div>
                  <table>
                    <tr>
                      <td>
                        <div class="fips__box pa-3 fips__color--blue" style="min-width: 400px">
                          <v-layout row wrap>
                            <v-flex xs12 sm8>
                              <div class="fips__title">Заявка на ТЗ</div>
                            </v-flex>

                            <v-flex xs12 sm4 text-sm-right>
                              <div class="fips__subtitle">
                                <v-icon color="primary">mdi-play-speed</v-icon>&nbsp;Статус
                              </div>
                            </v-flex>
                          </v-layout>
                        </div>
                      </td>
                      <td>
                        <pre class="ml-4"><code>class="fips__color--blue"</code></pre>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="fips__box pa-3 fips__color--coral" style="min-width: 400px">
                          <v-layout row wrap>
                            <v-flex xs12 sm8>
                              <div class="fips__title">Заявка на НМПТ/ПНМПТ</div>
                            </v-flex>

                            <v-flex xs12 sm4 text-sm-right>
                              <div class="fips__subtitle">
                                <v-icon color="primary">mdi-play-speed</v-icon>&nbsp;Статус
                              </div>
                            </v-flex>
                          </v-layout>
                        </div>
                      </td>
                      <td>
                        <pre class="ml-4"><code>class="fips__color--coral"</code></pre>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="fips__box pa-3 fips__color--fuchsia" style="min-width: 400px">
                          <v-layout row wrap>
                            <v-flex xs12 sm8>
                              <div class="fips__title">Договор</div>
                            </v-flex>

                            <v-flex xs12 sm4 text-sm-right>
                              <div class="fips__subtitle">
                                <v-icon color="primary">mdi-play-speed</v-icon>&nbsp;Статус
                              </div>
                            </v-flex>
                          </v-layout>
                        </div>
                      </td>
                      <td>
                        <pre class="ml-4"><code>class="fips__color--fuchsia"</code></pre>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="fips__box pa-3 fips__color--pink" style="min-width: 400px">
                          <v-layout row wrap>
                            <v-flex xs12 sm8>
                              <div class="fips__title">Переход права без договора</div>
                            </v-flex>

                            <v-flex xs12 sm4 text-sm-right>
                              <div class="fips__subtitle">
                                <v-icon color="primary">mdi-play-speed</v-icon>&nbsp;Статус
                              </div>
                            </v-flex>
                          </v-layout>
                        </div>
                      </td>
                      <td>
                        <pre class="ml-4"><code>class="fips__color--pink"</code></pre>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="fips__box pa-3 fips__color--orange" style="min-width: 400px">
                          <v-layout row wrap>
                            <v-flex xs12 sm8>
                              <div class="fips__title">Заявка на ПО</div>
                            </v-flex>

                            <v-flex xs12 sm4 text-sm-right>
                              <div class="fips__subtitle">
                                <v-icon color="primary">mdi-play-speed</v-icon>&nbsp;Статус
                              </div>
                            </v-flex>
                          </v-layout>
                        </div>
                      </td>
                      <td>
                        <pre class="ml-4"><code>class="fips__color--orange"</code></pre>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="fips__box pa-3 fips__color--green" style="min-width: 400px">
                          <v-layout row wrap>
                            <v-flex xs12 sm8>
                              <div class="fips__title">Заявка на ПМ</div>
                            </v-flex>

                            <v-flex xs12 sm4 text-sm-right>
                              <div class="fips__subtitle">
                                <v-icon color="primary">mdi-play-speed</v-icon>&nbsp;Статус
                              </div>
                            </v-flex>
                          </v-layout>
                        </div>
                      </td>
                      <td>
                        <pre class="ml-4"><code>class="fips__color--green"</code></pre>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="fips__box pa-3 fips__color--yellow" style="min-width: 400px">
                          <v-layout row wrap>
                            <v-flex xs12 sm8>
                              <div class="fips__title">Заявка на ИЗ</div>
                            </v-flex>

                            <v-flex xs12 sm4 text-sm-right>
                              <div class="fips__subtitle">
                                <v-icon color="primary">mdi-play-speed</v-icon>&nbsp;Статус
                              </div>
                            </v-flex>
                          </v-layout>
                        </div>
                      </td>
                      <td>
                        <pre class="ml-4"><code>class="fips__color--yellow"</code></pre>
                      </td>
                    </tr>
                  </table>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>

          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12>
                  <div class="fips__title">Простые данные в формате термин-определение</div>
                  <pre class="py-3"><code>&lt;dl class="fips__data"&gt;<br />    &lt;dt&gt;Термин&lt;/dt&gt;<br />    &lt;dd&gt;Определение&lt;/dd&gt;<br />&lt;/dl&gt;</code></pre>

                  <dl class="fips__data">
                    <dt>Регистрационный номер</dt>
                    <dd>2018/777/02/Й</dd>

                    <dt>Уникальный номер</dt>
                    <dd>9646516841/18/1</dd>

                    <dt>Входящий номер</dt>
                    <dd>898765</dd>

                    <dt>Дата регистрации</dt>
                    <dd>31.02.2020</dd>

                    <dt>Регистратор</dt>
                    <dd>Укропль Святогор</dd>
                  </dl>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>

          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12>
                  <div class="fips__title">Кнопки</div>

                  <v-layout row wrap>
                    <v-flex xs12>
                      <pre class="pt-3"><code>&lt;v-btn&gt;btn&lt;/v-btn&gt;</code></pre>или
                      <pre><code>&lt;v-btn light&gt;btn&lt;/v-btn&gt;</code></pre>
                      <v-btn>btn</v-btn>
                      <v-divider class="mt-2"></v-divider>
                      <pre class="pt-3"><code>&lt;v-btn primary&gt;btn&lt;/v-btn&gt;</code></pre>или
                      <pre><code>&lt;v-btn dark&gt;btn&lt;/v-btn&gt;</code></pre>
                      <v-btn color="primary">primary</v-btn>
                      <v-divider class="mt-2"></v-divider>
                      <pre class="pt-3"><code>&lt;v-btn disabled&gt;btn&lt;/v-btn&gt;</code></pre>
                      <v-btn disabled>disabled</v-btn>
                      <v-divider class="mt-2"></v-divider>
                      <pre class="pt-3"><code>&lt;v-btn flat&gt;btn&lt;/v-btn&gt;</code></pre>
                      <v-btn flat>flat</v-btn>
                      <v-divider class="mt-2"></v-divider>
                      <pre class="pt-3"><code>&lt;v-btn icon&gt;btn&lt;/v-btn&gt;</code></pre>
                      <v-btn icon>
                        <v-icon>mdi-airplane</v-icon>
                      </v-btn>
                      <v-divider class="mt-2"></v-divider>
                      <pre class="pt-3"><code>&lt;v-btn icon outline&gt;btn&lt;/v-btn&gt;</code></pre>
                      <v-btn icon outline>
                        <v-icon>mdi-airplane</v-icon>
                      </v-btn>
                      <v-divider class="mt-2"></v-divider>
                      <pre class="pt-3"><code>&lt;v-btn icon dark&gt;btn&lt;/v-btn&gt;</code></pre>
                      <v-btn icon dark>
                        <v-icon>mdi-airplane</v-icon>
                      </v-btn>
                      <v-divider class="mt-2"></v-divider>
                      <pre class="pt-3"><code>&lt;v-btn large outline&gt;btn&lt;/v-btn&gt;</code></pre>
                      <v-btn large outline>large</v-btn>
                      <v-divider class="mt-2"></v-divider>
                      <pre class="pt-3"><code>&lt;v-btn small outline&gt;btn&lt;/v-btn&gt;</code></pre>
                      <v-btn small outline>small</v-btn>
                      <v-divider class="mt-2"></v-divider>
                      <pre class="pt-3"><code>&lt;v-btn loading outline&gt;btn&lt;/v-btn&gt;</code></pre>
                      <v-btn loading outline>loading</v-btn>
                      <v-divider class="mt-2"></v-divider>
                      <pre class="pt-3"><code>&lt;v-btn outline&gt;btn&lt;/v-btn&gt;</code></pre>
                      <v-btn outline>outline</v-btn>
                      <v-divider class="mt-2"></v-divider>
                      <pre class="pt-3"><code>&lt;v-btn round&gt;btn&lt;/v-btn&gt;</code></pre>
                      <v-btn round>round</v-btn>
                      <v-divider class="mt-2"></v-divider>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>

          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12>
                  <div class="fips__title">Autocomplete</div>
                </v-flex>

                <v-flex xs12>
                  <pre class="py-3"><code>&lt;label for="autocomplete" class="fips__label"&gt;Minimal&lt;/label&gt;<br />&lt;v-autocomplete<br />  append-icon="mdi-chevron-down"<br />  no-data-text="Ничего не найдено"<br />  placeholder="Выберите что-нибудь"<br />  :items="autocomplete"<br />  name="autocomplete"<br />  id="autocomplete"<br />&gt;&lt;/v-autocomplete&gt;</code></pre>
                </v-flex>

                <v-flex xs12 class="fips__row">
                  <label for="autocomplete" class="fips__label">Minimal</label>
                  <v-autocomplete
                    append-icon="mdi-chevron-down"
                    no-data-text="Ничего не найдено"
                    placeholder="Выберите что-нибудь"
                    :items="autocomplete"
                    name="autocomplete"
                    id="autocomplete"
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-divider></v-divider>
                  <pre class="py-3"><code>&lt;label for="autocomplete" class="fips__label"&gt;Readonly&lt;/label&gt;<br />&lt;v-autocomplete<br />  append-icon="mdi-chevron-down"<br />  no-data-text="Ничего не найдено"<br />  placeholder="Выберите что-нибудь"<br />  :items="autocomplete"<br />  name="autocomplete"<br />  id="autocomplete"<br />  readonly<br />&gt;&lt;/v-autocomplete&gt;</code></pre>
                </v-flex>

                <v-flex xs12 class="fips__row">
                  <label for="autocomplete" class="fips__label">Readonly</label>
                  <v-autocomplete
                    append-icon="mdi-chevron-down"
                    no-data-text="Ничего не найдено"
                    placeholder="Выберите что-нибудь"
                    :items="autocomplete"
                    name="autocomplete"
                    id="autocomplete"
                    readonly
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-divider></v-divider>
                  <pre class="py-3"><code>&lt;label for="autocomplete" class="fips__label"&gt;Disabled&lt;/label&gt;<br />&lt;v-autocomplete<br />  append-icon="mdi-chevron-down"<br />  no-data-text="Ничего не найдено"<br />  placeholder="Выберите что-нибудь"<br />  :items="autocomplete"<br />  name="autocomplete"<br />  id="autocomplete"<br />  disabled<br />&gt;&lt;/v-autocomplete&gt;</code></pre>
                </v-flex>

                <v-flex xs12 class="fips__row">
                  <label for="autocomplete" class="fips__label">Disabled</label>
                  <v-autocomplete
                    append-icon="mdi-chevron-down"
                    no-data-text="Ничего не найдено"
                    placeholder="Выберите что-нибудь"
                    :items="autocomplete"
                    name="autocomplete"
                    id="autocomplete"
                    disabled
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-divider></v-divider>
                  <pre class="py-3"><code>&lt;label for="autocomplete" class="fips__label"&gt;Icons, prefix, suffix&lt;/label&gt;<br />&lt;v-autocomplete<br />  no-data-text="Ничего не найдено"<br />  placeholder="Выберите что-нибудь"<br />  prefix="Префикс"<br />  suffix="Суффикс"<br />  clear-icon="mdi-close"<br />  append-icon="mdi-chevron-down"<br />  append-outer-icon="mdi-airplane-landing"<br />  prepend-inner-icon="mdi-airplane"<br />  prepend-icon="mdi-airplane-takeoff"<br />  :items="autocomplete"<br />  name="autocomplete"<br />  id="autocomplete"<br />  clearable<br />&gt;&lt;/v-autocomplete&gt;</code></pre>
                </v-flex>

                <v-flex xs12 class="fips__row">
                  <label for="autocomplete" class="fips__label">Icons, prefix, suffix</label>
                  <v-autocomplete
                    no-data-text="Ничего не найдено"
                    placeholder="Выберите что-нибудь"
                    prefix="Префикс"
                    suffix="Суффикс"
                    clear-icon="mdi-close"
                    append-icon="mdi-chevron-down"
                    append-outer-icon="mdi-airplane-landing"
                    prepend-inner-icon="mdi-airplane"
                    prepend-icon="mdi-airplane-takeoff"
                    :items="autocomplete"
                    name="autocomplete"
                    id="autocomplete"
                    clearable
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-divider></v-divider>
                  <pre class="py-3"><code>&lt;label for="autocomplete" class="fips__label"&gt;Chips and clearabe&lt;/label&gt;<br />&lt;v-autocomplete<br />  append-icon="mdi-chevron-down"<br />  no-data-text="Ничего не найдено"<br />  placeholder="Выберите что-нибудь"<br />  :items="autocomplete"<br />  name="autocomplete"<br />  id="autocomplete"<br />  chips<br />  clearable<br />  deletable-chips<br />&gt;&lt;/v-autocomplete&gt;</code></pre>
                </v-flex>

                <v-flex xs12 class="fips__row">
                  <label for="autocomplete" class="fips__label">Chips and clearabe</label>
                  <v-autocomplete
                    append-icon="mdi-chevron-down"
                    no-data-text="Ничего не найдено"
                    placeholder="Выберите что-нибудь"
                    :items="autocomplete"
                    name="autocomplete"
                    id="autocomplete"
                    chips
                    clearable
                    deletable-chips
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-divider></v-divider>
                  <pre class="py-3"><code>&lt;label for="autocomplete" class="fips__label"&gt;Multiple&lt;/label&gt;<br />&lt;v-autocomplete<br />  append-icon="mdi-chevron-down"<br />  no-data-text="Ничего не найдено"<br />  placeholder="Выберите что-нибудь"<br />  :items="autocomplete"<br />  name="autocomplete"<br />  id="autocomplete"<br />  multiple<br />&gt;&lt;/v-autocomplete&gt;</code></pre>
                </v-flex>

                <v-flex xs12 class="fips__row">
                  <label for="autocomplete" class="fips__label">Multiple</label>
                  <v-autocomplete
                    append-icon="mdi-chevron-down"
                    no-data-text="Ничего не найдено"
                    placeholder="Выберите что-нибудь"
                    :items="autocomplete"
                    name="autocomplete"
                    id="autocomplete"
                    multiple
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-divider></v-divider>
                  <pre class="py-3"><code>&lt;label for="autocomplete" class="fips__label"&gt;Success&lt;/label&gt;<br />&lt;v-autocomplete<br />  append-icon="mdi-chevron-down"<br />  no-data-text="Ничего не найдено"<br />  placeholder="Выберите что-нибудь"<br />  :items="autocomplete"<br />  name="autocomplete"<br />  id="autocomplete"<br />  success<br />  success-messages="Это успех!"<br />&gt;&lt;/v-autocomplete&gt;</code></pre>
                </v-flex>

                <v-flex xs12 class="fips__row">
                  <label for="autocomplete" class="fips__label">Success</label>
                  <v-autocomplete
                    append-icon="mdi-chevron-down"
                    no-data-text="Ничего не найдено"
                    placeholder="Выберите что-нибудь"
                    :items="autocomplete"
                    name="autocomplete"
                    id="autocomplete"
                    success
                    success-messages="Это успех!"
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-divider></v-divider>
                  <pre class="py-3"><code>&lt;label for="autocomplete" class="fips__label"&gt;Errors and counter&lt;/label&gt;<br />&lt;v-autocomplete<br />  append-icon="mdi-chevron-down"<br />  no-data-text="Ничего не найдено"<br />  placeholder="Выберите что-нибудь"<br />  :items="autocomplete"<br />  name="autocomplete"<br />  id="autocomplete"<br />  error<br />  :error-messages="errorMessages"<br />  error-count="2"<br />  counter="50"<br />&gt;&lt;/v-autocomplete&gt;</code></pre>
                </v-flex>

                <v-flex xs12 class="fips__row">
                  <label for="autocomplete" class="fips__label">Errors and counter</label>
                  <v-autocomplete
                    append-icon="mdi-chevron-down"
                    no-data-text="Ничего не найдено"
                    placeholder="Выберите что-нибудь"
                    :items="autocomplete"
                    name="autocomplete"
                    id="autocomplete"
                    error
                    :error-messages="errorMessages"
                    error-count="2"
                    counter="50"
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12>
                  <v-divider></v-divider>
                  <pre class="py-3"><code>&lt;label for="autocomplete" class="fips__label"&gt;Avatar&lt;/label&gt;<br />&lt;v-autocomplete<br />  append-icon="mdi-chevron-down"<br />  no-data-text="Ничего не найдено"<br />  placeholder="Выберите что-нибудь"<br />  name="autocomplete"<br />  id="autocomplete"<br />  :items="autocompleteItems"<br />  item-text="name"<br />  item-value="name"<br />&gt;<br />  &lt;template v-slot:item="data"&gt;<br />    &lt;v-list-tile-avatar&gt;<br />      &lt;img :src="data.item.avatar" /&gt;<br />    &lt;/v-list-tile-avatar&gt;<br />    &lt;v-list-tile-content&gt;<br />      &lt;v-list-tile-title v-html="data.item.name"&gt;&lt;/v-list-tile-title&gt;<br />      &lt;v-list-tile-sub-title v-html="data.item.group"&gt;&lt;/v-list-tile-sub-title&gt;<br />    &lt;/v-list-tile-content&gt;<br />  &lt;/template&gt;<br />&lt;/v-autocomplete&gt;</code></pre>
                </v-flex>

                <v-flex xs12 class="fips__row">
                  <label for="autocomplete" class="fips__label">Avatar</label>
                  <v-autocomplete
                    append-icon="mdi-chevron-down"
                    no-data-text="Ничего не найдено"
                    placeholder="Выберите что-нибудь"
                    name="autocomplete"
                    id="autocomplete"
                    :items="autocompleteItems"
                    item-text="name"
                    item-value="name"
                  >
                    <template v-slot:item="data">
                      <v-list-tile-avatar>
                        <img :src="data.item.avatar" />
                      </v-list-tile-avatar>
                      <v-list-tile-content>
                        <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                        <v-list-tile-sub-title v-html="data.item.group"></v-list-tile-sub-title>
                      </v-list-tile-content>
                    </template>
                  </v-autocomplete>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>

          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12>
                  <div class="fips__title">Таблицы</div>
                </v-flex>
                <v-flex xs12>
                  <v-data-table
                    :headers="headersTable"
                    :items="tasksTable"
                    :pagination.sync="pagination"
                    :search="search"
                    :expand="expand"
                    item-key="id"
                    hide-actions
                    no-results-text="Ничего не найдено"
                    no-data-text="Данные отсутствуют"
                  >
                    <template slot="headerCell" slot-scope="props">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <span v-on="on">{{ props.header.shorttext }}</span>
                        </template>
                        <span>{{ props.header.text }}</span>
                      </v-tooltip>
                    </template>
                    <template v-slot:items="props">
                      <tr
                        @click="props.expanded = !props.expanded"
                        :class="{ expanded: props.expanded }"
                      >
                        <td>
                          <span>{{ props.item.tasktype }}</span>
                        </td>
                        <td>{{ props.item.summary }}</td>
                        <td>{{ props.item.name }}</td>
                        <td>{{ props.item.regdate }}</td>
                        <td>{{ props.item.content }}</td>
                        <td>{{ props.item.controldate }}</td>
                        <td>
                          <span v-for="doer in props.item.doers" :key="doer">
                            {{ doer.lastname }}&nbsp;{{ doer.firstname|initialis }}&nbsp;{{ doer.middlename|initialis }}
                            <br />
                          </span>
                        </td>
                        <td>{{ props.item.author.lastname }}&nbsp;{{ props.item.author.firstname|initialis }}&nbsp;{{ props.item.author.middlename|initialis }}</td>
                      </tr>
                    </template>
                    <template v-slot:expand="props">
                      <v-card flat>
                        <v-card-text>
                          <Treeview />
                        </v-card-text>
                      </v-card>
                    </template>
                  </v-data-table>

                  <div class="text-xs-center py-4">
                    <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
                  </div>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>



<script>
const srcs = {
  1: "https://cdn.vuetifyjs.com/images/lists/1.jpg",
  2: "https://cdn.vuetifyjs.com/images/lists/2.jpg",
  3: "https://cdn.vuetifyjs.com/images/lists/3.jpg",
  4: "https://cdn.vuetifyjs.com/images/lists/4.jpg",
  5: "https://cdn.vuetifyjs.com/images/lists/5.jpg"
};
export default {
  data: () => ({
    // Autocomplete
    autocomplete: [
      "Заявка на ТЗ",
      "Заявка на НМПТ/ПНМПТ",
      "Договор",
      "Переход права без договора",
      "Заявка на ПО",
      "Заявка на ПМ",
      "Заявка на ИЗ",
      "Заявка на программу для ЭВМ",
      "Заявка на БД",
      "Заявка на ТИМС"
    ],
    autocompleteItems: [
      { name: "Sandra Adams", group: "Group 1", avatar: srcs[1] },
      { name: "Ali Connors", group: "Group 1", avatar: srcs[2] },
      { name: "Trevor Hansen", group: "Group 1", avatar: srcs[3] },
      { name: "Tucker Smith", group: "Group 1", avatar: srcs[2] }
    ],
    errorMessages: ["Что-то пошло не так", "Ещё что-то пошло совсем не так"],

    // Tables
    expand: true,
    pagination: {
      rowsPerPage: 3
    },
    headersTable: [
      {
        text: "Задачи",
        shorttext: "Задача",
        align: "left",
        value: "tasktype"
      },
      {
        text: "Содержание",
        shorttext: "Краткое содержание",
        align: "left",
        value: "summary"
      },
      {
        text: "Регистрационный номер",
        shorttext: "№",
        align: "left",
        value: "name"
      },
      {
        text: "Дата регистрации",
        shorttext: "Дата регистрации",
        align: "left",
        value: "regdate"
      },
      {
        text: "Текст поручения ",
        shorttext: "Текст поручения ",
        align: "left",
        value: "content"
      },
      {
        text: "Срок исполнения",
        shorttext: "Срок исполнения",
        align: "left",
        value: "controldate"
      },
      {
        text: "Исполнители",
        shorttext: "Исполнители",
        align: "left",
        value: "doers"
      },
      {
        text: "Кто прислал",
        shorttext: "Кто прислал",
        align: "left",
        value: "author"
      }
    ],
    tasksTable: [
      {
        id: 1,
        name: "Вх-123453-Г1",
        tasktype: "На проверку отчета",
        summary: "О направлении документов",
        regdate: "15.10.2019",
        content: "Рассмотреть и подготовить ответ",
        controldate: "01.11.2019",
        doers: [
          {
            lastname: "Бирюков",
            firstname: "Сергей",
            middlename: "Евгеньевич"
          },
          {
            lastname: "Войнов",
            firstname: "Джон",
            middlename: "Йовович"
          },
          {
            lastname: "Колитильный",
            firstname: "Иван",
            middlename: "Сусанович"
          }
        ],
        author: {
          lastname: "Горбунов",
          firstname: "Александр",
          middlename: "Владимирович"
        }
      },
      {
        id: 2,
        name: "Вх-123453-Г2",
        tasktype: "На исполнение (исполнены дочерние)",
        summary: "О направлении документов",
        regdate: "15.10.2019",
        content: "Рассмотреть и подготовить ответ",
        controldate: "01.11.2019",
        doers: [
          {
            lastname: "Бирюков",
            firstname: "Сергей",
            middlename: "Евгеньевич"
          },
          {
            lastname: "Шопенгауэр",
            firstname: "Стас",
            middlename: "Ильденбургский"
          },
          {
            lastname: "Колокольцев",
            firstname: "Вениамин",
            middlename: "Стапослапович"
          }
        ],
        author: {
          lastname: "Горбунов",
          firstname: "Александр",
          middlename: "Владимирович"
        }
      },
      {
        id: 3,
        name: "Вх-123453-Г3",
        tasktype: "На исполнение",
        summary: "О направлении документов",
        regdate: "15.10.2019",
        content: "Рассмотреть и подготовить ответ",
        controldate: "01.11.2019",
        doers: [
          {
            lastname: "Бирюков",
            firstname: "Сергей",
            middlename: "Евгеньевич"
          },
          {
            lastname: "Молодкин",
            firstname: "Александр",
            middlename: "Валерьевич"
          }
        ],
        author: {
          lastname: "Горбунов",
          firstname: "Александр",
          middlename: "Владимирович"
        },

        children: [
          {
            id: 4,
            name: "Вх-123453-Г3-Б1",
            tasktype: "На исполнение",
            summary: "О направлении документов",
            regdate: "15.10.2019",
            content: "Рассмотреть и подготовить ответ",
            controldate: "01.11.2019",
            doers: [
              {
                lastname: "Фоменок",
                firstname: "Денис",
                middlename: "Васильевич"
              },
              {
                lastname: "Тюлина",
                firstname: "Елена",
                middlename: "Александровна"
              }
            ],
            author: {
              lastname: "Бирюков",
              firstname: "Сергей",
              middlename: "Евгеньевич"
            },

            children: [
              {
                id: 5,
                name: "Вх-123453-Г3-Б1-Ф1",
                tasktype: "На исполнение",
                summary: "О направлении документов",
                regdate: "15.10.2019",
                content: "Рассмотреть и подготовить ответ",
                controldate: "01.11.2019",
                doers: [
                  {
                    lastname: "Водянова",
                    firstname: "Наталья",
                    middlename: "Михайловна"
                  },
                  {
                    lastname: "Дзюба",
                    firstname: "Артем",
                    middlename: "Сергеевич"
                  }
                ],
                author: {
                  lastname: "Фоменок",
                  firstname: "Денис",
                  middlename: "Васильевич"
                },

                children: [
                  {
                    id: 6,
                    parentname: "Вх-123453-Г3-Б1",
                    name: "Вх-123453-2",
                    tasktype: "На проверку отчета",
                    summary: "О направлении документов",
                    regdate: "15.10.2019",
                    content: "Проверить документы и подготовить ответ",
                    controldate: "30.10.2019",
                    doers: [
                      {
                        lastname: "Рыбка",
                        firstname: "Анастасия",
                        middlename: "Безмозгововна"
                      },
                      {
                        lastname: "Стерлигов",
                        firstname: "Герман ",
                        middlename: "Львович "
                      }
                    ],
                    author: {
                      lastname: "Водянова",
                      firstname: "Наталья",
                      middlename: "Михайловна"
                    }
                  },
                  {
                    id: 7,
                    parentname: "Вх-123453-Г3-Б1",
                    name: "Вх-123453-2",
                    tasktype: "На проверку отчета",
                    summary: "О направлении документов",
                    regdate: "15.10.2019",
                    content: "Проверить документы и подготовить ответ",
                    controldate: "30.10.2019",
                    doers: [
                      {
                        lastname: "Страдивари",
                        firstname: "Скрипкаус",
                        middlename: "Неместнович"
                      },
                      {
                        lastname: "Михаилов",
                        firstname: "Стас",
                        middlename: "Незнаюотчествоидажегуглитьнехочу"
                      }
                    ],
                    author: {
                      lastname: "Дзюба",
                      firstname: "Артем",
                      middlename: "Сергеевич"
                    }
                  }
                ]
              },
              {
                id: 8,
                name: "Вх-123453-Г3-Б1-Т1",
                tasktype: "На исполнение",
                summary: "О направлении документов",
                regdate: "15.10.2019",
                content: "Рассмотреть и подготовить ответ",
                controldate: "01.11.2019",
                doers: [
                  {
                    lastname: "Медведев",
                    firstname: "Дим",
                    middlename: "Толич"
                  },
                  {
                    lastname: "Навальный",
                    firstname: "Алёха",
                    middlename: "Толич"
                  }
                ],
                author: {
                  lastname: "Тюлина",
                  firstname: "Елена",
                  middlename: "Александровна"
                }
              }
            ]
          }
        ]
      }
    ]
  }),
  watch: {},
  methods: {},
  computed: {
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    }
  }
};
</script>
