<template>
  <v-app>
    <v-content>
      <Breadcrumbs></Breadcrumbs>
      <v-container fluid grid-list-md fill-height>
        <v-layout row wrap>
          <v-flex xs12 md8 offset-md2>
            <div class="fips__homegrid">
              <a class="fips__box" v-for="(item, index) in items" :key="index" :href="item.href">
                <v-icon color="white">{{ item.icon }}</v-icon>
                {{ item.title }}
              </a>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { default as Breadcrumbs } from '../components/Breadcrumbs';

export default {
  components: { Breadcrumbs },
  data: () => ({
    items: [
      {
        title: "Регистрация первичной\u00A0ВК, относящейся\u00A0к\u00A0ОИС",
        icon: "mdi-email-outline",
        href: "/inbox/form-1"
      },
      {
        title: "Регистрация вторичной\u00A0ВК, относящейся\u00A0к\u00A0ОИС",
        icon: "mdi-email-open-outline",
        href: ""
      },
      {
        title: "Регистрация\u00A0ВК общего\u00A0делопроизводства",
        icon: "mdi-newspaper-variant-outline",
        href: ""
      },
      {
        title:
          "Журнал\u00A0регистрации первичной\u00A0ВК, относящейся\u00A0к\u00A0ОИС",
        icon: "mdi-email-multiple-outline",
        href: ""
      },
      {
        title:
          "Журнал\u00A0регистрации вторичной\u00A0ВК, относящейся\u00A0к\u00A0ОИС",
        icon: "mdi-email-open-multiple-outline",
        href: ""
      },
      {
        title: "Журнал\u00A0регистрации\u00A0ВК общего\u00A0делопроизводства",
        icon: "mdi-newspaper-variant-multiple-outline",
        href: ""
      },
      {
        title: "Поручения",
        icon: "mdi-clipboard-text-outline",
        href: "/tasks/home-1"
      },
      {
        title: "Отчёты",
        icon: "mdi-clipboard-check-outline",
        href: ""
      },
      {
        title: "Справка",
        icon: "mdi-information-variant",
        href: ""
      },
      {
        title: "Журналы",
        icon: "mdi-book-multiple",
        href: "/journals/overview"
      },
      {
        title: "Словари",
        icon: "mdi-book-variant",
        href: "/dictionary/overview"
      },
      {
        title: "Исходящая корреспонденция",
        icon: "mdi-email-multiple-outline",
        href: "/outbox/registration"
      },
      {
        title: "Список шаблонов ИК",
        icon: "mdi-view-list",
        href: "/dictionary/outboxTemplate"
      }
      ,
      {
        title: "Формы",
        icon: "mdi-book-variant",
        href: "/forms/overview"
      }
    ]
  })
};
</script>
