<template>
    <v-flex xs12 md12 lg12>
      <v-breadcrumbs :items="breadcrumbsItems">
        <template v-slot:divider>
          <v-icon color="grey darken-2">mdi-chevron-right</v-icon>
        </template>
      </v-breadcrumbs>
    </v-flex>
</template>

<script>
export default {
  props: {
    nextLinks: Array
  },
  data: () => ({
    breadcrumbsItems: [
      {
        text: "Главная",
        disabled: false,
        href: "/"
      },
    ]
  }),
  created: function() {
    this.breadcrumbsItems = [...this.breadcrumbsItems, ...this.nextLinks];
  },
};
</script>

<style>
</style>