<template>
  <v-speed-dial fixed dark fab bottom left direction="top" class="mr-0" open-on-hover>
    <template v-slot:activator>
      <v-btn small v-model="fab" color="red" dark class="mr-0" fab>
        <v-icon>mdi-link</v-icon>
      </v-btn>
    </template>
    <v-btn
      small
      color="red"
      dark
      v-for="item in devItems"
      :key="item.id"
      :href="item.path"
    >{{item.name}}</v-btn>
  </v-speed-dial>
</template>

<script>
export default {
  data: () => ({
    devItems: [
      // Tasks
      {
        id: 4,
        path: "/tasks/task-4",
        name: "Tasks-4"
      },
      {
        id: 3,
        path: "/tasks/task-3",
        name: "Tasks-3"
      },
      {
        id: 2,
        path: "/tasks/task-2",
        name: "Tasks-2"
      },
      {
        id: 1,
        path: "/tasks/task-1",
        name: "Tasks-1"
      },
      {
        id: 5,
        path: "/tasks",
        name: "Tasks home"
      },

      // inbox
      {
        id: 8,
        path: "/inbox/form-2",
        name: "Form-2"
      },
      {
        id: 7,
        path: "/inbox/form-2",
        name: "Form-1"
      },
      {
        id: 6,
        path: "/inbox",
        name: "inbox home?"
      }
    ]
  })
};
</script>