<template>
  <v-speed-dial fixed dark fab bottom right direction="left" class="mr-0" open-on-hover>
    <template v-slot:activator>
      <v-btn v-model="fab" color="primary" dark class="mr-0" fab>
        <v-icon>mdi-information-variant</v-icon>
      </v-btn>
    </template>
    <v-btn v-for="(item, index) in links" :key="index" dark small color="primary">
      {{ item.text }}&nbsp;
      <v-icon color="white" v-if="item.icon" size="18" class="ml-1">{{ item.icon }}</v-icon>
    </v-btn>
  </v-speed-dial>
</template>

<script>
export default {
  data: () => ({
    links: [
      {
        text: "Справка",
        icon: "mdi-book-open-page-variant",
        url: "/",
        color: "primary"
      },
      {
        text: "Сообщить об ошибке",
        icon: "mdi-bug",
        url: "/"
      }
    ]
  })
};
</script>

<style>
</style>