<template>
  <v-navigation-drawer v-model="sidebar" absolute clipped app>
    <v-list subheader expand>
      <v-list-tile href="#">
        <v-icon color="primary">mdi-message</v-icon>
        <v-list-tile-title class="pl-3">
          <span>Уведомления</span>&nbsp;
          <span class="fips__count-badge">46</span>
        </v-list-tile-title>
      </v-list-tile>
      <v-list-group value="true">
        <template v-slot:activator>
          <v-list-tile>
            <v-icon color="primary">mdi-clipboard-check</v-icon>
            <v-list-tile-title class="pl-3">
              <span>Поручения</span>&nbsp;
              <span class="fips__count-badge">9</span>
            </v-list-tile-title>
          </v-list-tile>
        </template>
        <v-treeview
          v-model="treeview"
          :open="open"
          :items="sidebarItems"
          activatable
          open-on-click
          class="pl-3"
          expand-icon="mdi-chevron-down"
          hoverable
          transition
        >
          <template slot="label" slot-scope="{ item }">
            <a :href="item.href">
              <span>{{ item.text }}</span>
              <span v-if="item.count" class="fips__count-badge ml-3">{{ item.count }}</span>
            </a>
          </template>
        </v-treeview>
      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  data: () => ({
    treeview: null,
    sidebar: null,
    sidebarItems: [
      {
        id: "folder-1",
        text: "Совсем новые",
        count: 5,
        href: "/"
      },
      {
        id: "folder-2",
        text: "Горят сроки",
        count: 90,
        href: "/"
      },
      {
        id: "folder-3",
        text: "Уже кому-то поручено",
        count: null,
        href: "/"
      },
      {
        id: "folder-4",
        text: "Проверить отчёт",
        count: null,
        href: "/"
      },
      {
        id: "folder-5",
        text: "Архивные поручения",
        count: null,
        href: "/"
      }
    ]
  })
};
</script>

<style>
</style>

