<template>
  <v-toolbar clipped-left absolute app flat height="58px">
    <!-- TODO - пофиксить связь с sidebar -->
    <v-toolbar-side-icon @click.stop="sidebar = !sidebar"></v-toolbar-side-icon>
    <v-toolbar-title>СУПД</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn v-for="(item, index) in toolbarItems" :key="index" :href="item.href">
        <v-icon v-if="item.icon" size="18" class="mr-1">{{ item.icon }}</v-icon>
        {{ item.text }}
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {
  data: () => ({
    toolbarItems: [
      {
        icon: "mdi-information-outline",
        text: "Справка",
        href: "/tasks/home-2"
      },
      {
        icon: "",
        text: "Регистрация ВК",
        href: "/inbox/form-1"
      },
      {
        icon: "",
        text: "Создать исходящий",
        href: "createOutbox"
      }
    ]
  })
};
</script>

<style>
</style>

