<template>
  <v-layout row wrap>
    <v-flex xs12 sm6>
      <div class="fips__box pa-3">
        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__title">Дерево поручений</div>
          </v-flex>
          <v-flex xs12>
            <template>
              <v-treeview
                v-model="taskTreeModel"
                :items="tasks"
                :active.sync="active"
                activatable
                :open.sync="taskTreeOpened"
                expand-icon="mdi-chevron-down"
                hoverable
                transition
                item-key="id"
                class="tasktree"
              >
                <template v-slot:prepend="{ item }">
                  <span class="prefix"></span>
                </template>
                <template v-slot:label="{ item }">
                  {{ item.name}} ({{ item.tasktype}})
                  <br />
                  Автор:
                  {{ item.author.lastname }}&nbsp;{{ item.author.firstname|initialis }}&nbsp;{{ item.author.middlename|initialis }}
                </template>
              </v-treeview>
            </template>
          </v-flex>
        </v-layout>
      </div>
    </v-flex>

    <v-flex xs12 sm6>
      <div class="fips__box pa-3">
        <v-layout v-if="!selected" row wrap>
          <v-flex xs12>
            <div class="fips__title">Выберите поручение или пользователя из дерева</div>
          </v-flex>
        </v-layout>

        <v-layout row wrap v-else :key="selected.id">
          <v-flex xs12>
            <div
              class="fips__title"
            >Поручение&nbsp;№&nbsp;{{ selected.name }} от&nbsp;{{ selected.regdate }}</div>
          </v-flex>

          <v-flex xs12>
            <dl class="fips__data">
              <dt>Текст поручения</dt>
              <dd>{{ selected.content }}</dd>

              <dt>Срок исполнения</dt>
              <dd>{{ selected.controldate }}</dd>

              <dt>Автор поручения</dt>
              <dd>{{ selected.author.lastname }}&nbsp;{{ selected.author.firstname|initialis }}&nbsp;{{ selected.author.middlename|initialis }}</dd>

              <dt>Исполнители</dt>
              <dd>
                <span v-for="doer in selected.doers" :key="doer">
                  {{ doer.lastname }}&nbsp;{{ doer.firstname|initialis }}&nbsp;{{ doer.middlename|initialis }}
                  <br />
                </span>
              </dd>
            </dl>
          </v-flex>
        </v-layout>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
const find = (arr, id) =>
  arr.reduce(
    (found, n) =>
      found ? found : n.id === id ? n : find(n.children || [], id),
    null
  );

export default {
  data: () => ({
    taskTreeOpened: [3],
    active: [],
    tasks: [
      {
        id: 1,
        name: "Вх-123453-Г1",
        tasktype: "На проверку отчета",
        summary: "О направлении документов",
        regdate: "15.10.2019",
        content: "Рассмотреть и подготовить ответ",
        controldate: "01.11.2019",
        doers: [
          {
            lastname: "Бирюков",
            firstname: "Сергей",
            middlename: "Евгеньевич"
          },
          {
            lastname: "Войнов",
            firstname: "Джон",
            middlename: "Йовович"
          },
          {
            lastname: "Колитильный",
            firstname: "Иван",
            middlename: "Сусанович"
          }
        ],
        author: {
          lastname: "Горбунов",
          firstname: "Александр",
          middlename: "Владимирович"
        }
      },
      {
        id: 2,
        name: "Вх-123453-Г2",
        tasktype: "На исполнение (исполнены дочерние)",
        summary: "О направлении документов",
        regdate: "15.10.2019",
        content: "Рассмотреть и подготовить ответ",
        controldate: "01.11.2019",
        doers: [
          {
            lastname: "Бирюков",
            firstname: "Сергей",
            middlename: "Евгеньевич"
          },
          {
            lastname: "Шопенгауэр",
            firstname: "Стас",
            middlename: "Ильденбургский"
          },
          {
            lastname: "Колокольцев",
            firstname: "Вениамин",
            middlename: "Стапослапович"
          }
        ],
        author: {
          lastname: "Горбунов",
          firstname: "Александр",
          middlename: "Владимирович"
        }
      },
      {
        id: 3,
        name: "Вх-123453-Г3",
        tasktype: "На исполнение",
        summary: "О направлении документов",
        regdate: "15.10.2019",
        content: "Рассмотреть и подготовить ответ",
        controldate: "01.11.2019",
        doers: [
          {
            lastname: "Бирюков",
            firstname: "Сергей",
            middlename: "Евгеньевич"
          },
          {
            lastname: "Молодкин",
            firstname: "Александр",
            middlename: "Валерьевич"
          }
        ],
        author: {
          lastname: "Горбунов",
          firstname: "Александр",
          middlename: "Владимирович"
        },

        children: [
          {
            id: 4,
            name: "Вх-123453-Г3-Б1",
            tasktype: "На исполнение",
            summary: "О направлении документов",
            regdate: "15.10.2019",
            content: "Рассмотреть и подготовить ответ",
            controldate: "01.11.2019",
            doers: [
              {
                lastname: "Фоменок",
                firstname: "Денис",
                middlename: "Васильевич"
              },
              {
                lastname: "Тюлина",
                firstname: "Елена",
                middlename: "Александровна"
              }
            ],
            author: {
              lastname: "Бирюков",
              firstname: "Сергей",
              middlename: "Евгеньевич"
            },

            children: [
              {
                id: 5,
                name: "Вх-123453-Г3-Б1-Ф1",
                tasktype: "На исполнение",
                summary: "О направлении документов",
                regdate: "15.10.2019",
                content: "Рассмотреть и подготовить ответ",
                controldate: "01.11.2019",
                doers: [
                  {
                    lastname: "Водянова",
                    firstname: "Наталья",
                    middlename: "Михайловна"
                  },
                  {
                    lastname: "Дзюба",
                    firstname: "Артем",
                    middlename: "Сергеевич"
                  }
                ],
                author: {
                  lastname: "Фоменок",
                  firstname: "Денис",
                  middlename: "Васильевич"
                },

                children: [
                  {
                    id: 6,
                    parentname: "Вх-123453-Г3-Б1",
                    name: "Вх-123453-2",
                    tasktype: "На проверку отчета",
                    summary: "О направлении документов",
                    regdate: "15.10.2019",
                    content: "Проверить документы и подготовить ответ",
                    controldate: "30.10.2019",
                    doers: [
                      {
                        lastname: "Рыбка",
                        firstname: "Анастасия",
                        middlename: "Безмозгововна"
                      },
                      {
                        lastname: "Стерлигов",
                        firstname: "Герман ",
                        middlename: "Львович "
                      }
                    ],
                    author: {
                      lastname: "Водянова",
                      firstname: "Наталья",
                      middlename: "Михайловна"
                    }
                  },
                  {
                    id: 7,
                    parentname: "Вх-123453-Г3-Б1",
                    name: "Вх-123453-2",
                    tasktype: "На проверку отчета",
                    summary: "О направлении документов",
                    regdate: "15.10.2019",
                    content: "Проверить документы и подготовить ответ",
                    controldate: "30.10.2019",
                    doers: [
                      {
                        lastname: "Страдивари",
                        firstname: "Скрипкаус",
                        middlename: "Неместнович"
                      },
                      {
                        lastname: "Михаилов",
                        firstname: "Стас",
                        middlename: "Незнаюотчествоидажегуглитьнехочу"
                      }
                    ],
                    author: {
                      lastname: "Дзюба",
                      firstname: "Артем",
                      middlename: "Сергеевич"
                    }
                  }
                ]
              },
              {
                id: 8,
                name: "Вх-123453-Г3-Б1-Т1",
                tasktype: "На исполнение",
                summary: "О направлении документов",
                regdate: "15.10.2019",
                content: "Рассмотреть и подготовить ответ",
                controldate: "01.11.2019",
                doers: [
                  {
                    lastname: "Медведев",
                    firstname: "Дим",
                    middlename: "Толич"
                  },
                  {
                    lastname: "Навальный",
                    firstname: "Алёха",
                    middlename: "Толич"
                  }
                ],
                author: {
                  lastname: "Тюлина",
                  firstname: "Елена",
                  middlename: "Александровна"
                }
              }
            ]
          }
        ]
      }
    ]
  }),
  computed: {
    selected() {
      return this.active.length ? find(this.tasks, this.active[0]) : null;
    }
  },
  filters: {
    initialis: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + ".";
    }
  }
};
</script>

<style>
</style>