<template>
    <v-app>
        <v-container fluid grid-list-md class="pt-2">

            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>

            <dictionary-dialog :dialog="dialog"
                               :dialogTitle="dialogTitle"
                               :successButtonTitle="successButtonTitle"
                               :closeButtonTitle="closeButtonTitle"
                               :item="item"
                               :headers="headers"
                               :successAction="successAction"
                               :maxWidth="maxWidth"
                               :isTable="isTable"
                               :dialogTable="dialogTable"
                               @closeDialog="closeDialog"
                               @newItem="addItem"
                               @editItem="editItem"
                               @deleteItem="deleteItem"
            ></dictionary-dialog>

            <dictionary-table :search="search"
                              :headers="headers"
                              :items="items"
                              :title="title"
                              :textSearch="textSearch"
                              :isSearch="true"
                              @clickRow="clickRow"
            ></dictionary-table>

            <buttons-bar :buttons="buttons"
                         :currentId="currentId"
                         :deletedItem="deletedItem"
                         @newItem="openNewItemDialog"
                         @deleteItem="openDeletingDialog"
                         @editItem="openEditingDialog"
                         @restoreItem="restoreItem"
            ></buttons-bar>

        </v-container>
    </v-app>
</template>

<script>
    import DictionaryTable from "../../components/dictionary/DictionaryTable";
    import ButtonsBar from "../../components/dictionary/ButtonsBar";
    import DictionaryDialog from "../../components/dictionary/DictionaryDialog";
    import Breadcrumbs from "../../components/Breadcrumbs";

    export default {
        name: "Countries",
        components: {Breadcrumbs, DictionaryDialog, ButtonsBar, DictionaryTable},
        data: () => ({
            nextLinks: [
                {
                    text: "Словари",
                    disabled: false,
                    href: "/dictionary/overview"
                },
                {
                    text: "Страны мира",
                    disabled: true,
                    href: "/dictionary/Countries"
                },
            ],
            headers: [
                {
                    text: 'id',
                    value: 'id',
                    readonly: true,
                    required: true
                },
                {
                    text: 'Название страны',
                    value: 'name',
                    required: true
                },
                {
                    text: 'Буквенный код альфа-2',
                    value: 'code2',
                    required: true
                },
                {
                    text: 'Буквенный код альфа-3',
                    value: 'code3',
                    required: true
                },
                {
                    text: 'Цифровой код',
                    value: 'digitalCode',
                    required: true
                }
            ],
            items: [
                {
                    'id': 1,
                    'name': 'Россия',
                    'code2': 'RU',
                    'code3': 'RUS',
                    'digitalCode': 1
                },
                {
                    'id': 2,
                    'name': 'США',
                    'code2': 'US',
                    'code3': 'USA',
                    'digitalCode': 2
                }
            ],
            defaultItem: {
                'id': '',
                'name': '',
                'code2': '',
                'code3': '',
                'digitalCode': ''
            },
            buttons: [
                {
                    id: 'newItem',
                    title: 'Добавить страну'
                },
                {
                    id: 'editItem',
                    title: 'Редактировать страну'
                },
                {
                    id: 'deleteItem',
                    title: 'Удалить страну'
                },
                {
                    id: 'restoreItem',
                    title: 'Восстановить страну'
                }
            ],
            search: '',
            title: 'Страны мира',
            textSearch: 'Поиск по странам',
            dialogTitle: 'Вы уверены, что хотите удалить объект?',
            successButtonTitle: 'OK',
            closeButtonTitle: 'Отмена',
            isSuccessNeeded: true,
            dialog: false,
            currentId: -1,
            item: null,
            successAction: '',
            deletedItem: null,
            maxWidth: 500,
            isTable: false,
            tableItems: [
                {
                    'id': 1,
                    'name': 'Россия',
                    'code2': 'RU',
                    'code3': 'RUS',
                    'digitalCode': 1,
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                },
                {
                    'id': 1,
                    'name': 'США',
                    'code2': 'US',
                    'code3': 'USA',
                    'digitalCode': 2,
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                }
            ],
            dialogTable: {
                headers: [
                    {
                        text: 'id',
                        value: 'id'
                    },
                    {
                        text: 'Название страны',
                        value: 'name'
                    },
                    {
                        text: 'Буквенный код альфа-2',
                        value: 'code2'
                    },
                    {
                        text: 'Буквенный код альфа-3',
                        value: 'code3'
                    },
                    {
                        text: 'Цифровой код',
                        value: 'digitalCode'
                    },
                    {
                        text: 'Действие',
                        value: 'action'
                    },
                    {
                        text: 'Дата',
                        value: 'date'
                    }
                ],
                isSearch: false
            }
        }),

        methods: {
            openNewItemDialog() {
                this.dialogTitle = 'Новая страна';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.isSuccessNeeded = true;
                this.item = Object.assign({}, this.defaultItem);
                this.successAction = 'newItem';
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            openDeletingDialog() {
                this.dialogTitle = 'Вы уверены, что хотите удалить объект?';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'deleteItem';
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            openEditingDialog() {
                const editingItem = this.items.find(item => item.id === this.currentId);

                this.dialogTitle = 'Редактирование страны';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'editItem';
                this.item = Object.assign({}, editingItem);
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            closeDialog() {
                this.dialog = false;

                this.item = null;
            },

            clickRow(currentId) {
                this.currentId = currentId;
            },

            addItem(newItem) {
                let item = Object.assign({}, newItem);

                this.items.push(item);

                this.item = null;
                this.dialog = false;

                this.addToHistory(Object.assign({}, item), 'created');
            },

            editItem(editedItem) {
                let editingItem = this.items.find(item => item.id === this.currentId);

                Object.assign(editingItem, editedItem);

                this.item = null;
                this.dialog = false;

                this.addToHistory(Object.assign({}, editingItem), 'edited');
            },

            deleteItem() {
                const deletingItem = this.items.find(item => item.id === this.currentId);

                if (deletingItem) {
                    this.deletedItem = deletingItem;
                    this.items.splice(this.items.indexOf(deletingItem), 1);

                    this.addToHistory(Object.assign({}, deletingItem), 'deleted');
                }

                this.currentId = -1;
                this.item = null;
                this.dialog = false;
            },

            restoreItem() {
                if (this.deletedItem) {
                    let deletedItem = Object.assign({}, this.deletedItem);
                    this.items.push(deletedItem);
                    this.currentId = this.deletedItem.id;

                    this.addToHistory(Object.assign({}, deletedItem), 'restored');
                }

                this.item = null;
                this.deletedItem = null;
            },

            addToHistory(item, action) {
                item.action = action;
                item.date = new Date().toISOString().split('T')[0];

                this.tableItems.push(item)
            }
        }
    }
</script>

<style scoped>

</style>