<template>
    <v-app>
        <v-container fluid grid-list-md class="pt-2">

            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>

            <dictionary-dialog :dialog="dialog"
                               :dialogTitle="dialogTitle"
                               :successButtonTitle="successButtonTitle"
                               :closeButtonTitle="closeButtonTitle"
                               :item="item"
                               :headers="headers"
                               :successAction="successAction"
                               :maxWidth="maxWidth"
                               :isTable="isTable"
                               :dialogTable="dialogTable"
                               @closeDialog="closeDialog"
                               @newItem="addItem"
            ></dictionary-dialog>

            <dictionary-table :search="search"
                              :headers="headers"
                              :items="items"
                              :title="title"
                              :textSearch="textSearch"
                              :isSearch="true"
                              @clickRow="clickRow"
            ></dictionary-table>

            <buttons-bar :buttons="buttons"
                         :currentId="currentId"
                         :deletedItem="deletedItem"
                         @newItem="openNewItemDialog"
            ></buttons-bar>

        </v-container>
    </v-app>
</template>

<script>
    import DictionaryTable from "../../components/dictionary/DictionaryTable";
    import ButtonsBar from "../../components/dictionary/ButtonsBar";
    import DictionaryDialog from "../../components/dictionary/DictionaryDialog";
    import Breadcrumbs from "../../components/Breadcrumbs";

    export default {
        name: "DeliveryMethods",
        components: {Breadcrumbs, DictionaryDialog, ButtonsBar, DictionaryTable},
        data: () => ({
            nextLinks: [
                {
                    text: "Словари",
                    disabled: false,
                    href: "/dictionary/overview"
                },
                {
                    text: "Справочник 'Способы отправки/доставки'",
                    disabled: true,
                    href: "/dictionary/DeliveryMethods"
                },
            ],
            headers: [
                {
                    text: 'Код элемента',
                    value: 'id',
                    readonly: true,
                    required: true
                },
                {
                    text: 'Наименование элемента',
                    value: 'name',
                    required: true
                }
            ],
            items: [
                {
                    'id': '01',
                    'name': 'Одно окно'
                },
                {
                    'id': '02',
                    'name': 'Почта'
                }
            ],
            defaultItem: {
                'id': '',
                'name': ''
            },
            buttons: [
                {
                    id: 'newItem',
                    title: 'Добавить способ'
                }
            ],
            search: '',
            title: 'Справочник «Способы отправки/доставки» ',
            textSearch: 'Поиск по способам',
            dialogTitle: 'Вы уверены, что хотите удалить объект?',
            successButtonTitle: 'OK',
            closeButtonTitle: 'Отмена',
            isSuccessNeeded: true,
            dialog: false,
            currentId: -1,
            item: null,
            successAction: '',
            deletedItem: null,
            maxWidth: 500,
            isTable: false,
            tableItems: [
                {
                    'id': '01',
                    'name': 'Одно окно',
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                }, {
                    'id': '02',
                    'name': 'Почта',
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                }
            ],
            dialogTable: {
                headers: [
                    {
                        text: 'Код элемента',
                        value: 'id'
                    },
                    {
                        text: 'Наименование элемента',
                        value: 'name'
                    },
                    {
                        text: 'Действие',
                        value: 'action'
                    },
                    {
                        text: 'Дата',
                        value: 'date'
                    }
                ],
                isSearch: false
            }
        }),

        methods: {
            openNewItemDialog() {
                this.dialogTitle = 'Новый носитель';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.isSuccessNeeded = true;
                this.item = Object.assign({}, this.defaultItem);
                this.successAction = 'newItem';
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            closeDialog() {
                this.dialog = false;

                this.item = null;
            },

            clickRow(currentId) {
                this.currentId = currentId;
            },

            addItem(newItem) {
                let item = Object.assign({}, newItem);

                this.items.push(item);

                this.item = null;
                this.dialog = false;

                this.addToHistory(Object.assign({}, item), 'created');
            }
        }
    }
</script>

<style scoped>

</style>