<template>
    <v-app>
        <v-container fluid grid-list-md class="pt-2">

            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>

            <dictionary-dialog :dialog="dialog"
                               :dialogTitle="dialogTitle"
                               :successButtonTitle="successButtonTitle"
                               :closeButtonTitle="closeButtonTitle"
                               :item="item"
                               :headers="headers"
                               :selectableItems="selectableItems"
                               :successAction="successAction"
                               :maxWidth="maxWidth"
                               :isTable="isTable"
                               :dialogTable="dialogTable"
                               @closeDialog="closeDialog"
                               @newItem="addItem"
                               @editItem="editItem"
                               @deleteItem="deleteItem"
            ></dictionary-dialog>

            <dictionary-table :search="search"
                              :headers="headers"
                              :items="items"
                              :title="title"
                              :textSearch="textSearch"
                              :isSearch="true"
                              @clickRow="clickRow"
            ></dictionary-table>

            <buttons-bar :buttons="buttons"
                         :currentId="currentId"
                         :deletedItem="deletedItem"
                         @newItem="openNewItemDialog"
                         @deleteItem="openDeletingDialog"
                         @editItem="openEditingDialog"
                         @restoreItem="restoreItem"
                         @showHistory="openHistoryDialog"
            ></buttons-bar>

        </v-container>
    </v-app>
</template>

<script>
    import DictionaryTable from "../../components/dictionary/DictionaryTable";
    import ButtonsBar from "../../components/dictionary/ButtonsBar";
    import DictionaryDialog from "../../components/dictionary/DictionaryDialog";
    import Breadcrumbs from "../../components/Breadcrumbs";

    export default {
        name: "DocumentTemplates",
        components: {Breadcrumbs, DictionaryDialog, ButtonsBar, DictionaryTable},
        data: () => ({
            nextLinks: [
                {
                    text: "Словари",
                    disabled: false,
                    href: "/dictionary/overview"
                },
                {
                    text: "Шаблоны документов",
                    disabled: true,
                    href: "/dictionary/DocumentTemplates"
                },
            ],
            headers: [
                {
                    text: 'id',
                    value: 'id',
                    readonly: true,
                    required: true
                },
                {
                    text: 'Наименование шаблона документа',
                    value: 'name',
                    required: true
                },
                {
                    text: 'Краткое наименование шаблона документа',
                    value: 'shortName',
                    required: true
                },
                {
                    text: 'Связь с видом документа',
                    value: 'relationWithType',
                    selectable: true,
                    multiple: true,
                    required: true
                }
            ],
            items: [
                {
                    'id': 1,
                    'name': 'Первое наименование',
                    'shortName': 'Перв наим',
                    'relationWithType': [1]
                }, {
                    'id': 2,
                    'name': 'Второе наименование',
                    'shortName': 'Втор наим',
                    'relationWithType': [2]
                }, {
                    'id': 3,
                    'name': 'Третье наименование',
                    'shortName': 'Трет наим',
                    'relationWithType': [3]
                }, {
                    'id': 4,
                    'name': 'Четвертое наименование',
                    'shortName': 'Четв наим',
                    'relationWithType': [4]
                }, {
                    'id': 5,
                    'name': 'Пятое наименование',
                    'shortName': 'Пят наим',
                    'relationWithType': [5]
                }
            ],
            defaultItem: {
                'id': '',
                'name': '',
                'shortName': '',
                'relationWithType': []
            },
            buttons: [
                {
                    id: 'newItem',
                    title: 'Добавить шаблон документа'
                },
                {
                    id: 'editItem',
                    title: 'Редактировать шаблон документа'
                },
                {
                    id: 'deleteItem',
                    title: 'Удалить шаблон документа'
                },
                {
                    id: 'restoreItem',
                    title: 'Восстановить шаблон документа'
                },
                {
                    id: 'showHistory',
                    title: 'Открыть историю изменений'
                },
            ],

            selectableItems: {
                relationWithType: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            },
            search: '',
            title: 'Шаблоны документов',
            textSearch: 'Поиск по шаблонам документов',
            dialogTitle: 'Вы уверены, что хотите удалить объект?',
            successButtonTitle: 'OK',
            closeButtonTitle: 'Отмена',
            isSuccessNeeded: true,
            dialog: false,
            currentId: -1,
            item: null,
            successAction: '',
            deletedItem: null,
            maxWidth: 500,
            isTable: false,
            tableItems: [
                {
                    'id': 1,
                    'name': 'Первое наименование',
                    'shortName': 'Перв наим',
                    'relationWithType': [1],
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                }, {
                    'id': 2,
                    'name': 'Второе наименование',
                    'shortName': 'Втор наим',
                    'relationWithType': [2],
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                }, {
                    'id': 3,
                    'name': 'Третье наименование',
                    'shortName': 'Трет наим',
                    'relationWithType': [3],
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                }, {
                    'id': 4,
                    'name': 'Четвертое наименование',
                    'shortName': 'Четв наим',
                    'relationWithType': [4],
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                }, {
                    'id': 5,
                    'name': 'Пятое наименование',
                    'shortName': 'Пят наим',
                    'relationWithType': [5],
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                }
            ],
            dialogTable: {
                headers: [
                    {
                        text: 'id',
                        value: 'id'
                    },
                    {
                        text: 'Наименование шаблона документа',
                        value: 'name'
                    },
                    {
                        text: 'Краткое наименование шаблона документа',
                        value: 'shortName'
                    },
                    {
                        text: 'Связь с видом документа',
                        value: 'relationWithType'
                    },
                    {
                        text: 'Действие',
                        value: 'action'
                    },
                    {
                        text: 'Дата',
                        value: 'date'
                    }
                ],
                isSearch: false
            }
        }),

        methods: {
            openNewItemDialog() {
                this.dialogTitle = 'Новый шаблон документов';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.isSuccessNeeded = true;
                this.item = Object.assign({}, this.defaultItem);
                this.successAction = 'newItem';
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            openDeletingDialog() {
                this.dialogTitle = 'Вы уверены, что хотите удалить объект?';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'deleteItem';
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            openEditingDialog() {
                const editingItem = this.items.find(item => item.id === this.currentId);

                this.dialogTitle = 'Редактирование шаблона документов';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'editItem';
                this.item = Object.assign({}, editingItem);
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            openHistoryDialog() {
                this.dialogTitle = 'История изменений';
                this.successButtonTitle = null;
                this.closeButtonTitle = 'OK';
                this.maxWidth = 1300;
                this.isTable = true;
                this.dialogTable.items = this.tableItems.filter(item => item.id === this.currentId);
                this.dialog = true;
            },

            closeDialog() {
                this.dialog = false;

                this.item = null;
            },

            clickRow(currentId) {
                this.currentId = currentId;
            },

            addItem(newItem) {
                let item = Object.assign({}, newItem);

                this.items.push(item);

                this.item = null;
                this.dialog = false;

                this.addToHistory(Object.assign({}, item), 'created');
            },

            editItem(editedItem) {
                let editingItem = this.items.find(item => item.id === this.currentId);

                Object.assign(editingItem, editedItem);

                this.item = null;
                this.dialog = false;

                this.addToHistory(Object.assign({}, editingItem), 'edited');
            },

            deleteItem() {
                const deletingItem = this.items.find(item => item.id === this.currentId);

                if (deletingItem) {
                    this.deletedItem = deletingItem;
                    this.items.splice(this.items.indexOf(deletingItem), 1);

                    this.addToHistory(Object.assign({}, deletingItem), 'deleted');
                }

                this.currentId = -1;
                this.item = null;
                this.dialog = false;
            },

            addToHistory(item, action) {
                item.action = action;
                item.date = new Date().toISOString().split('T')[0];

                this.tableItems.push(item)
            },

            restoreItem() {
                if (this.deletedItem) {
                    let deletedItem = Object.assign({}, this.deletedItem);
                    this.items.push(deletedItem);
                    this.currentId = this.deletedItem.id;

                    this.addToHistory(Object.assign({}, deletedItem), 'restored');
                }

                this.item = null;
                this.deletedItem = null;
            },
        }
    }
</script>

<style scoped>

</style>