<template>
    <v-app>
        <v-container fluid grid-list-md class="pt-2">

            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>

            <dictionary-dialog :dialog="dialog"
                               :dialogTitle="dialogTitle"
                               :successButtonTitle="successButtonTitle"
                               :closeButtonTitle="closeButtonTitle"
                               :item="item"
                               :headers="headers"
                               :selectableItems="selectableItems"
                               :successAction="successAction"
                               :maxWidth="maxWidth"
                               :isTable="isTable"
                               :dialogTable="dialogTable"
                               @closeDialog="closeDialog"
                               @newItem="addItem"
                               @editItem="editItem"
                               @deleteItem="deleteItem"
            ></dictionary-dialog>

            <dictionary-table :search="search"
                              :headers="headers"
                              :items="items"
                              :title="title"
                              :textSearch="textSearch"
                              :isSearch="true"
                              @clickRow="clickRow"
            ></dictionary-table>

            <buttons-bar :buttons="buttons"
                         :currentId="currentId"
                         :deletedItem="deletedItem"
                         @newItem="openNewItemDialog"
                         @deleteItem="openDeletingDialog"
                         @editItem="openEditingDialog"
                         @showHistory="openHistoryDialog"
            ></buttons-bar>

        </v-container>
    </v-app>
</template>

<script>
    import DictionaryTable from "../../components/dictionary/DictionaryTable";
    import ButtonsBar from "../../components/dictionary/ButtonsBar";
    import DictionaryDialog from "../../components/dictionary/DictionaryDialog";
    import Breadcrumbs from "../../components/Breadcrumbs";

    export default {
        name: "DocumentTypes",
        components: {Breadcrumbs, DictionaryDialog, ButtonsBar, DictionaryTable},
        data: () => ({
            nextLinks: [
                {
                    text: "Словари",
                    disabled: false,
                    href: "/dictionary/overview"
                },
                {
                    text: "Типы документов",
                    disabled: true,
                    href: "/dictionary/DocumentTypes"
                },
            ],
            headers: [
                {
                    text: 'id',
                    value: 'id',
                    readonly: true,
                    required: true
                },
                {
                    text: 'Код вида документа',
                    value: 'code'
                },
                {
                    text: 'Вид документа',
                    value: 'type',
                    required: true
                },
                {
                    text: 'Тип/подтип документа',
                    value: 'documentType',
                    selectable: true,
                    multiple: true
                }
            ],
            items: [
                {
                    'id': 1,
                    'code': 'Первый код',
                    'type': 'Первый тип',
                    'documentType': [1]
                }, {
                    'id': 2,
                    'code': 'Второй код',
                    'type': 'Второй тип',
                    'documentType': [2]
                }, {
                    'id': 3,
                    'code': 'Третий код',
                    'type': 'Третий тип',
                    'documentType': [3]
                }, {
                    'id': 4,
                    'code': 'Пятый код',
                    'type': 'Пятый тип',
                    'documentType': [5]
                }, {
                    'id': 5,
                    'code': 'Четвертый код',
                    'type': 'Четвертый тип',
                    'documentType': [4]
                }
            ],
            defaultItem: {
                'id': '',
                'code': '',
                'type': '',
                'documentType': []
            },
            buttons: [
                {
                    id: 'newItem',
                    title: 'Добавить вид документа'
                },
                {
                    id: 'editItem',
                    title: 'Изменить наименование'
                },
                {
                    id: 'deleteItem',
                    title: 'Удалить наименование'
                },
                {
                    id: 'showHistory',
                    title: 'Открыть историю изменений'
                },
            ],

            selectableItems: {
                documentType: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            },
            search: '',
            title: 'Виды документов',
            textSearch: 'Поиск по видам документов',
            dialogTitle: 'Вы уверены, что хотите удалить объект?',
            successButtonTitle: 'OK',
            closeButtonTitle: 'Отмена',
            isSuccessNeeded: true,
            dialog: false,
            currentId: -1,
            item: null,
            successAction: '',
            deletedItem: null,
            maxWidth: 500,
            isTable: false,
            tableItems: [
                {
                    'id': 1,
                    'code': 'Первый код',
                    'type': 'Первый тип',
                    'documentType': [1],
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                }, {
                    'id': 2,
                    'code': 'Второй код',
                    'type': 'Второй тип',
                    'documentType': [2],
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                }, {
                    'id': 3,
                    'code': 'Третий код',
                    'type': 'Третий тип',
                    'documentType': [3],
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                }, {
                    'id': 4,
                    'code': 'Пятый код',
                    'type': 'Пятый тип',
                    'documentType': [5],
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                }, {
                    'id': 5,
                    'code': 'Четвертый код',
                    'type': 'Четвертый тип',
                    'documentType': [4],
                    'action': 'created',
                    'date': new Date('2019-11-27').toISOString().split('T')[0]
                }
            ],
            dialogTable: {
                headers: [
                    {
                        text: 'id',
                        value: 'id'
                    },
                    {
                        text: 'Код вида документа',
                        value: 'code'
                    },
                    {
                        text: 'Вид документа',
                        value: 'type'
                    },
                    {
                        text: 'Тип/подтип документа',
                        value: 'documentType'
                    },
                    {
                        text: 'Действие',
                        value: 'action'
                    },
                    {
                        text: 'Дата',
                        value: 'date'
                    }
                ],
                isSearch: false
            }
        }),

        methods: {
            openNewItemDialog() {
                this.dialogTitle = 'Новый вид документов';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.isSuccessNeeded = true;
                this.item = Object.assign({}, this.defaultItem);
                this.successAction = 'newItem';
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            openDeletingDialog() {
                this.dialogTitle = 'Вы уверены, что хотите удалить объект?';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'deleteItem';
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            openEditingDialog() {
                const editingItem = this.items.find(item => item.id === this.currentId);

                this.dialogTitle = 'Редактирование вида документов';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'editItem';
                this.item = Object.assign({}, editingItem);
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            openHistoryDialog() {
                this.dialogTitle = 'История изменений';
                this.successButtonTitle = null;
                this.closeButtonTitle = 'OK';
                this.maxWidth = 1300;
                this.isTable = true;
                this.dialogTable.items = this.tableItems.filter(item => item.id === this.currentId);
                this.dialog = true;
            },

            closeDialog() {
                this.dialog = false;

                this.item = null;
            },

            clickRow(currentId) {
                this.currentId = currentId;
            },

            addItem(newItem) {
                let item = Object.assign({}, newItem);

                this.items.push(item);

                this.item = null;
                this.dialog = false;

                this.addToHistory(Object.assign({}, item), 'created');
            },

            editItem(editedItem) {
                let editingItem = this.items.find(item => item.id === this.currentId);

                Object.assign(editingItem, editedItem);

                this.item = null;
                this.dialog = false;

                this.addToHistory(Object.assign({}, editingItem), 'edited');
            },

            deleteItem() {
                const deletingItem = this.items.find(item => item.id === this.currentId);

                if (deletingItem) {
                    this.deletedItem = deletingItem;
                    this.items.splice(this.items.indexOf(deletingItem), 1);

                    this.addToHistory(Object.assign({}, deletingItem), 'deleted');
                }

                this.currentId = -1;
                this.item = null;
                this.dialog = false;
            },

            addToHistory(item, action) {
                item.action = action;
                item.date = new Date().toISOString().split('T')[0];

                this.tableItems.push(item)
            }
        }
    }
</script>

<style scoped>

</style>