<template>
    <v-app>
        <v-container fluid grid-list-md class="pt-2">

            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>

            <dictionary-dialog :dialog="dialog"
                               :dialogTitle="dialogTitle"
                               :successButtonTitle="successButtonTitle"
                               :closeButtonTitle="closeButtonTitle"
                               :item="item"
                               :headers="headers"
                               :selectableItems="selectableItems"
                               :successAction="successAction"
                               :maxWidth="maxWidth"
                               :isTable="isTable"
                               @closeDialog="closeDialog"
                               @newItem="addItem"
                               @editItem="editItem"
                               @deleteItem="deleteItem"
            ></dictionary-dialog>

            <dictionary-table :search="search"
                              :headers="headers"
                              :items="items"
                              :title="title"
                              :textSearch="textSearch"
                              :isSearch="true"
                              @clickRow="clickRow"
            ></dictionary-table>

            <buttons-bar :buttons="buttons"
                         :currentId="currentId"
                         :deletedItem="deletedItem"
                         @newItem="openCreatingDialog"
                         @editItem="openEditingDialog"
                         @deleteItem="openDeletingDialog"
                         @close="close"
            ></buttons-bar>

        </v-container>
    </v-app>
</template>

<script>
    import DictionaryTable from "../../components/dictionary/DictionaryTable";
    import ButtonsBar from "../../components/dictionary/ButtonsBar";
    import DictionaryDialog from "../../components/dictionary/DictionaryDialog";
    import Breadcrumbs from "../../components/Breadcrumbs";

    export default {
        name: "EventsList",
        components: {Breadcrumbs, DictionaryDialog, ButtonsBar, DictionaryTable},

        data: () => ({
            nextLinks: [
                {
                    text: "Словари",
                    disabled: false,
                    href: "/dictionary/overview"
                },
                {
                    text: "Календарь рабочих дней",
                    disabled: false,
                    href: "/dictionary/workingDaysCalendar"
                },
                {
                    text: "Редактирование календаря",
                    disabled: true,
                    href: "/dictionary/EventsList"
                },
            ],
            headers: [
                {
                    text: 'Дата',
                    value: 'id',
                    readonly: true,
                    required: true,
                    datePicker: true
                },
                {
                    text: 'Начало',
                    value: 'start',
                    timePicker: true
                },
                {
                    text: 'Конец',
                    value: 'end',
                    timePicker: true
                },
                {
                    text: 'Тип',
                    value: 'type',
                    selectable: true,
                    required: true
                },
                {
                    text: 'Описание',
                    value: 'description',
                    required: true
                }
            ],
            items: [
                {
                    'id': '2019-01-01',
                    'start': '',
                    'end': '',
                    'type': 'Праздничный день',
                    'description': 'Новый год'

                },
                {
                    'id': '2019-02-22',
                    'start': '8:00',
                    'end': '16:15',
                    'type': 'Предпраздничный день',
                    'description': 'День защитника отечества'
                }
            ],
            defaultItem: {
                'id': '',
                'start': '',
                'end': '',
                'type': '',
                'description': ''
            },
            buttons: [
                {
                    id: 'newItem',
                    title: 'Создать'
                },
                {
                    id: 'deleteItem',
                    title: 'Удалить'
                },
                {
                    id: 'editItem',
                    title: 'Редактировать'
                },
                {
                    id: 'close',
                    title: 'Закрыть',
                    href: '/dictionary/workingDaysCalendar'
                }
            ],
            selectableItems: {
                type: ['Праздничный день', 'Предпраздничный день']
            },
            search: '',
            title: 'Редактирование календаря',
            textSearch: 'Поиск событиям',
            dialogTitle: 'Вы уверены, что хотите удалить объект?',
            successButtonTitle: 'OK',
            closeButtonTitle: 'Отмена',
            isSuccessNeeded: true,
            dialog: false,
            currentId: -1,
            item: null,
            successAction: '',
            deletedItem: null,
            maxWidth: 500,
            isTable: false
        }),

        mounted() {
            this.$root.$on('edit', (items) => this.items = items );
        },

        methods: {
            openCreatingDialog() {
                this.dialogTitle = 'Добавить событие';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.isSuccessNeeded = true;
                this.item = Object.assign({}, this.defaultItem);
                this.successAction = 'newItem';
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            openDeletingDialog() {
                this.dialogTitle = 'Вы уверены, что хотите удалить объект?';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'deleteItem';
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            openEditingDialog() {
                const editingItem = this.items.find(item => item.id === this.currentId);

                this.dialogTitle = 'Редактировать событие';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'editItem';
                this.item = Object.assign({}, editingItem);
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            closeDialog() {
                this.dialog = false;

                this.item = null;
            },

            clickRow(currentId) {
                this.currentId = currentId;
            },

            addItem(newItem) {
                let item = Object.assign({}, newItem);

                this.items.push(item);

                this.item = null;
                this.dialog = false;
            },

            editItem(editedItem) {
                let editingItem = this.items.find(item => item.id === this.currentId);

                Object.assign(editingItem, editedItem);

                this.item = null;
                this.dialog = false;
            },

            deleteItem() {
                const deletingItem = this.items.find(item => item.id === this.currentId);

                if (deletingItem) {
                    this.deletedItem = deletingItem;
                    this.items.splice(this.items.indexOf(deletingItem), 1);
                }

                this.currentId = -1;
                this.item = null;
                this.dialog = false;
            },

            addToHistory(item, action) {
                item.action = action;
                item.date = new Date().toISOString().split('T')[0];

                this.tableItems.push(item)
            },

            restoreItem() {
                if (this.deletedItem) {
                    let deletedItem = Object.assign({}, this.deletedItem);
                    this.items.push(deletedItem);
                    this.currentId = this.deletedItem.id;
                }

                this.item = null;
                this.deletedItem = null;
            },

            close() {
                this.$root.$emit('close', this.items);
            }
        }
    }
</script>

<style scoped>

</style>