<template>
    <v-app>
        <v-content>

            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>

            <v-container fluid grid-list-md fill-height>
                <v-layout row wrap>
                    <v-flex xs12 md8 offset-md2>
                        <div class="fips__homegrid">
                            <a class="fips__box" v-for="(item, index) in items" :key="index" :href="item.href">
                                <v-icon color="white">{{ item.icon }}</v-icon>
                                {{ item.title }}
                            </a>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import Breadcrumbs from "../../components/Breadcrumbs";
    export default {
        components: {Breadcrumbs},
        data: () => ({
            nextLinks: [
                {
                    text: "Словари",
                    disabled: true,
                    href: "/dictionary/overview"
                }
            ],
            items: [
                {
                    title: "Типовые поручения",
                    icon: "mdi-view-list",
                    href: "/dictionary/StandardErrands"
                },
                {
                    title: "Типовые отчеты по поручениям",
                    icon: "mdi-file-document-box",
                    href: "/dictionary/StandardReportsByErrands"
                },
                {
                    title: "Шаблоны документов",
                    icon: "mdi-file-chart",
                    href: "/dictionary/DocumentTemplates"
                },
                {
                    title: "Справочник Международная классификация товаров и услуг",
                    icon: "mdi-file-multiple",
                    href: "/dictionary/GoodsAndServices"
                },
                {
                    title: "Типы/подтипы документов",
                    icon: "mdi-file-document",
                    href: "/dictionary/DocumentSubtypes"
                },
                {
                    title: "Виды документов",
                    icon: "mdi-file-document",
                    href: "/dictionary/DocumentTypes"
                },
                {
                    title: "Справочник «Способы отправки/доставки»",
                    icon: "mdi-file-multiple",
                    href: "/dictionary/DeliveryMethods"
                },
                {
                    title: "Виды документов, удостоверяющих личность",
                    icon: "mdi-file-account",
                    href: "/dictionary/IdentityDocumentTypes"
                },
                {
                    title: "Календарь рабочих дней",
                    icon: "mdi-calendar-multiple",
                    href: "/dictionary/WorkingDaysCalendar"
                },
                {
                    title: "Патентные поверенные",
                    icon: "mdi-account",
                    href: "/dictionary/PatentAttorneys"
                },
                {
                    title: "Фирмы, в которых работают патентные поверенные",
                    icon: "mdi-hospital-building",
                    href: "/dictionary/PatentAttorneyFirms"
                },
                {
                    title: "Корреспонденты",
                    icon: "mdi-account",
                    href: "/dictionary/Correspondents"
                },
                {
                    title: "Типовые тексты документов экспертизы по заявке",
                    icon: "mdi-file-document",
                    href: "/dictionary/TypicalTexts"
                },
                {
                    title: "Носители информации",
                    icon: "mdi-package",
                    href: "/dictionary/Media"
                },
                {
                    title: "Причины отказа от регистрации",
                    icon: "mdi-account-off",
                    href: "/dictionary/RefuseRegistrationReasons"
                },
                {
                    title: "Виды взаимосвязей",
                    icon: "mdi-repeat",
                    href: "/dictionary/RelationshipsTypes"
                },
                {
                    title: "Типовые комментарии для отчета о поиске",
                    icon: "mdi-file-document",
                    href: "/dictionary/SearchReportComments"
                },
                {
                    title: "Номенклатура запланированных действий пользователя",
                    icon: "mdi-view-list",
                    href: "/dictionary/ActionsNomenclature"
                },
                {
                    title: "Номенклатура дел",
                    icon: "mdi-view-list",
                    href: "/dictionary/AffairsNomenclature"
                },
                {
                    title: "Страны мира",
                    icon: "mdi-earth",
                    href: "/dictionary/Countries"
                },
                {
                    title: "Федеральные округа",
                    icon: "mdi-earth-box",
                    href: "/dictionary/Regions"
                },
                {
                    title: "Субъекты РФ",
                    icon: "mdi-flag-outline",
                    href: "/dictionary/Subjects"
                },
                {
                    title: "Организационно-правовые формы",
                    icon: "mdi-domain",
                    href: "/dictionary/IncorporationForm"
                },
            ]
        })
    };
</script>