<template>
    <v-app>
        <v-container fluid grid-list-md class="pt-2">

            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>

            <dictionary-dialog :dialog="dialog"
                               :dialogTitle="dialogTitle"
                               :successButtonTitle="successButtonTitle"
                               :closeButtonTitle="closeButtonTitle"
                               :item="item"
                               :headers="headers"
                               :selectableItems="selectableItems"
                               :successAction="successAction"
                               :maxWidth="maxWidth"
                               :isTable="isTable"
                               :dialogTable="dialogTable"
                               @closeDialog="closeDialog"
                               @newItem="addItem"
                               @editItem="editItem"
                               @deleteItem="deleteItem"
            ></dictionary-dialog>

            <dictionary-table :search="search"
                              :headers="headers"
                              :items="items"
                              :title="title"
                              :textSearch="textSearch"
                              :isSearch="true"
                              @clickRow="clickRow"
            ></dictionary-table>

            <buttons-bar :buttons="buttons"
                         :currentId="currentId"
                         :deletedItem="deletedItem"
                         @newItem="openNewItemDialog"
                         @deleteItem="openDeletingDialog"
                         @editItem="openEditingDialog"
                         @restoreItem="restoreItem"
                         @showHistory="openHistoryDialog"
            ></buttons-bar>

        </v-container>
    </v-app>
</template>

<script>
    import DictionaryTable from "../../components/dictionary/DictionaryTable";
    import ButtonsBar from "../../components/dictionary/ButtonsBar";
    import DictionaryDialog from "../../components/dictionary/DictionaryDialog";
    import Breadcrumbs from "../../components/Breadcrumbs";

    export default {
        name: "StandardReportsByErrands",
        components: {Breadcrumbs, DictionaryDialog, ButtonsBar, DictionaryTable},
        data: () => ({
            nextLinks: [
                {
                    text: "Словари",
                    disabled: false,
                    href: "/dictionary/overview"
                },
                {
                    text: "Типовые отчеты по поручениям",
                    disabled: true,
                    href: "/dictionary/StandardReportsByErrands"
                },
            ],
            headers: [
                {
                    text: 'id',
                    value: 'id',
                    readonly: true,
                    required: true
                },
                {
                    text: 'Наименование отчета по поручению',
                    value: 'name',
                    required: true
                },
                {
                    text: 'Краткое описание отчета по поручению',
                    value: 'shortDescription'
                },
                {
                    text: 'Связь с поручением',
                    value: 'relationWithErrand',
                    selectable: true,
                    multiple: true,
                    required: true
                },
                {
                    text: 'Связь с шаблоном документа',
                    value: 'relationWithTemplate',
                    selectable: true,
                    required: true
                }
            ],
            items: [{
                'id': 1,
                'name': 'Первое поручение',
                'shortDescription': 'Короткое описание первого поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 19
            }, {
                'id': 2,
                'name': 'Второе поручение',
                'shortDescription': 'Короткое описание второго поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 11
            }, {
                'id': 3,
                'name': 'Третье поручение',
                'shortDescription': 'Короткое описание третьего поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 12
            }, {
                'id': 4,
                'name': 'Четвертое поручение',
                'shortDescription': 'Короткое описание четвертого поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 13
            }, {
                'id': 5,
                'name': 'Пятое поручение',
                'shortDescription': 'Короткое описание пятого поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 14
            }, {
                'id': 6,
                'name': 'Шестое поручение',
                'shortDescription': 'Короткое описание шестого поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 15
            }, {
                'id': 7,
                'name': 'Седьмое поручение',
                'shortDescription': 'Короткое описание седьмого поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 16
            }, {
                'id': 8,
                'name': 'Восьмое поручение',
                'shortDescription': 'Короткое описание восьмое поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 17
            }, {
                'id': 9,
                'name': 'Девятое поручение',
                'shortDescription': 'Короткое описание девятого поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 18
            }, {
                'id': 10,
                'name': 'Десятое поручение',
                'shortDescription': 'Короткое описание десятое поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 20
            }],
            defaultItem: {
                'id': '',
                'name': '',
                'shortDescription': '',
                'relationWithErrand': [],
                'relationWithTemplate': ''
            },
            buttons: [
                {
                    id: 'newItem',
                    title: 'Добавить типовой отчет по поручению'
                },
                {
                    id: 'editItem',
                    title: 'Редактировать типовой отчет по поручению'
                },
                {
                    id: 'deleteItem',
                    title: 'Удалить типовой отчет по поручению'
                },
                {
                    id: 'restoreItem',
                    title: 'Восстановить типовой отчет по поручению'
                },
                {
                    id: 'showHistory',
                    title: 'Открыть историю изменений'
                },
            ],

            selectableItems: {
                relationWithErrand: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                relationWithTemplate: [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
            },
            search: '',
            title: 'Типовые отчеты по поручениям',
            textSearch: 'Поиск по отчетам',
            dialogTitle: 'Вы уверены, что хотите удалить объект?',
            successButtonTitle: 'OK',
            closeButtonTitle: 'Отмена',
            isSuccessNeeded: true,
            dialog: false,
            currentId: -1,
            item: null,
            successAction: '',
            deletedItem: null,
            maxWidth: 500,
            isTable: false,
            tableItems: [{
                'id': 1,
                'name': 'Первое поручение',
                'shortDescription': 'Короткое описание первого поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 19,
                'action': 'created',
                'date': new Date('2019-11-27').toISOString().split('T')[0]
            }, {
                'id': 2,
                'name': 'Второе поручение',
                'shortDescription': 'Короткое описание второго поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 11,
                'action': 'created',
                'date': new Date('2019-11-27').toISOString().split('T')[0]
            }, {
                'id': 3,
                'name': 'Третье поручение',
                'shortDescription': 'Короткое описание третьего поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 12,
                'action': 'created',
                'date': new Date('2019-11-27').toISOString().split('T')[0]
            }, {
                'id': 4,
                'name': 'Четвертое поручение',
                'shortDescription': 'Короткое описание четвертого поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 13,
                'action': 'created',
                'date': new Date('2019-11-27').toISOString().split('T')[0]
            }, {
                'id': 5,
                'name': 'Пятое поручение',
                'shortDescription': 'Короткое описание пятого поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 14,
                'action': 'created',
                'date': new Date('2019-11-27').toISOString().split('T')[0]
            }, {
                'id': 6,
                'name': 'Шестое поручение',
                'shortDescription': 'Короткое описание шестого поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 15,
                'action': 'created',
                'date': new Date('2019-11-27').toISOString().split('T')[0]
            }, {
                'id': 7,
                'name': 'Седьмое поручение',
                'shortDescription': 'Короткое описание седьмого поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 16,
                'action': 'created',
                'date': new Date('2019-11-27').toISOString().split('T')[0]
            }, {
                'id': 8,
                'name': 'Восьмое поручение',
                'shortDescription': 'Короткое описание восьмое поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 17,
                'action': 'created',
                'date': new Date('2019-11-27').toISOString().split('T')[0]
            }, {
                'id': 9,
                'name': 'Девятое поручение',
                'shortDescription': 'Короткое описание девятого поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 18,
                'action': 'created',
                'date': new Date('2019-11-27').toISOString().split('T')[0]
            }, {
                'id': 10,
                'name': 'Десятое поручение',
                'shortDescription': 'Короткое описание десятое поручения',
                'relationWithErrand': [1],
                'relationWithTemplate': 20,
                'action': 'created',
                'date': new Date('2019-11-27').toISOString().split('T')[0]
            }],
            dialogTable: {
                headers: [
                    {
                        text: 'id',
                        value: 'id'
                    },
                    {
                        text: 'Наименование отчета по поручению',
                        value: 'name'
                    },
                    {
                        text: 'Краткое описание отчета по поручению',
                        value: 'shortDescription'
                    },
                    {
                        text: 'Связь с поручением',
                        value: 'relationWithErrand'
                    },
                    {
                        text: 'Связь с шаблоном документа',
                        value: 'relationWithTemplate'
                    },
                    {
                        text: 'Действие',
                        value: 'action'
                    },
                    {
                        text: 'Дата',
                        value: 'date'
                    }
                ],
                isSearch: false
            }
        }),

        methods: {
            openNewItemDialog() {
                this.dialogTitle = 'Новое типовой отчет по поручению';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.isSuccessNeeded = true;
                this.item = Object.assign({}, this.defaultItem);
                this.successAction = 'newItem';
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            openDeletingDialog() {
                this.dialogTitle = 'Вы уверены, что хотите удалить объект?';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'deleteItem';
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            openEditingDialog() {
                const editingItem = this.items.find(item => item.id === this.currentId);

                this.dialogTitle = 'Редактирование отчета по поручению';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'editItem';
                this.item = Object.assign({}, editingItem);
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },

            openHistoryDialog() {
                this.dialogTitle = 'История изменений';
                this.successButtonTitle = null;
                this.closeButtonTitle = 'OK';
                this.maxWidth = 1300;
                this.isTable = true;
                this.dialogTable.items = this.tableItems.filter(item => item.id === this.currentId);
                this.dialog = true;
            },

            closeDialog() {
                this.dialog = false;

                this.item = null;
            },

            clickRow(currentId) {
                this.currentId = currentId;
            },

            addItem(newItem) {
                let item = Object.assign({}, newItem);

                this.items.push(item);

                this.item = null;
                this.dialog = false;

                this.addToHistory(Object.assign({}, item), 'created');
            },

            editItem(editedItem) {
                let editingItem = this.items.find(item => item.id === this.currentId);

                Object.assign(editingItem, editedItem);

                this.item = null;
                this.dialog = false;

                this.addToHistory(Object.assign({}, editingItem), 'edited');
            },

            deleteItem() {
                const deletingItem = this.items.find(item => item.id === this.currentId);

                if (deletingItem) {
                    this.deletedItem = deletingItem;
                    this.items.splice(this.items.indexOf(deletingItem), 1);

                    this.addToHistory(Object.assign({}, deletingItem), 'deleted');
                }

                this.currentId = -1;
                this.item = null;
                this.dialog = false;
            },

            restoreItem() {
                if (this.deletedItem) {
                    let deletedItem = Object.assign({}, this.deletedItem);
                    this.items.push(deletedItem);
                    this.currentId = this.deletedItem.id;

                    this.addToHistory(Object.assign({}, deletedItem), 'restored');
                }

                this.item = null;
                this.deletedItem = null;
            },

            addToHistory(item, action) {
                item.action = action;
                item.date = new Date().toISOString().split('T')[0];

                this.tableItems.push(item)
            }
        }
    }
</script>

<style scoped>

</style>