<template>
    <v-app>
        <v-content>
            <v-container fluid grid-list-md class="pt-2">

                <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>

                <dictionary-dialog :dialog="dialog"
                                   :dialogTitle="dialogTitle"
                                   :successButtonTitle="successButtonTitle"
                                   :closeButtonTitle="closeButtonTitle"
                                   :item="item"
                                   :headers="headers"
                                   :selectableItems="selectableItems"
                                   :successAction="successAction"
                                   :maxWidth="maxWidth"
                                   :isTable="isTable"
                                   @closeDialog="closeDialog"
                                   @copyEvents="copyEvents"
                ></dictionary-dialog>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3 fips__color--blue">
                            <v-layout row wrap>
                                <v-flex xs12 sm4>
                                    <v-btn fab
                                           left
                                           @click="minusYear"
                                    >
                                        <v-icon dark>mdi-chevron-left</v-icon>
                                    </v-btn>
                                </v-flex>

                                <v-flex xs12 sm4 text-sm-center>
                                    <h1>
                                        {{ selectedYear }}
                                    </h1>
                                </v-flex>

                                <v-flex xs12 sm4 text-sm-right>
                                    <v-btn fab
                                           right
                                           @click="plusYear"
                                    >
                                        <v-icon dark>mdi-chevron-right</v-icon>
                                    </v-btn>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-date-picker v-for="month in months" :key="month"
                               :no-title="true"
                               disabled
                               v-model="date"
                               :picker-date="month"
                               :events="functionEvents"
                               max-days="2"
                               locale="ru"
                               year-icon="mdi-calendar-blank"
                               prev-icon=""
                               next-icon=""
                               color="rgba(34, 167, 240, 0.5)"
                               :first-day-of-week="1"
                               class="calendar"
                ></v-date-picker>

                <buttons-bar right
                             :buttons="buttons"
                             @edit="edit"
                             @copy="copy"
                ></buttons-bar>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import ButtonsBar from "../../components/dictionary/ButtonsBar";
    import Breadcrumbs from "../../components/Breadcrumbs";
    import DictionaryDialog from "../../components/dictionary/DictionaryDialog";

    export default {
        name: "WorkingDaysCalendar",
        components: {DictionaryDialog, Breadcrumbs, ButtonsBar},
        data: () => ({
            nextLinks: [
                {
                    text: "Словари",
                    disabled: false,
                    href: "/dictionary/overview"
                },
                {
                    text: "Календарь рабочих дней",
                    disabled: true,
                    href: "/dictionary/WorkingDaysCalendar"
                },
            ],
            arrayEvents: null,
            date: new Date().toISOString().substr(0, 10),
            selectedYear: 2019,
            monthNumbers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
            months: [
                '2019-01',
                '2019-02',
                '2019-03',
                '2019-04',
                '2019-05',
                '2019-06',
                '2019-07',
                '2019-08',
                '2019-09',
                '2019-10',
                '2019-11',
                '2019-12'
            ],
            items: [
                {
                    'id': '2019-01-01',
                    'start': '',
                    'end': '',
                    'type': 'Праздничный день',
                    'description': 'Новый год'
                },
                {
                    'id': '2019-02-22',
                    'start': '8:00',
                    'end': '16:15',
                    'type': 'Предпраздничный день',
                    'description': 'День защитника отечества'
                }
            ],
            buttons: [
                {
                    id: 'copy',
                    title: 'Копировать календарь',
                },
                {
                    id: 'edit',
                    title: 'Редактировать календарь',
                    href: '/dictionary/workingDaysCalendar/eventsList'
                }
            ],
            headers: [
                {
                    text: 'Год',
                    value: 'id',
                    selectable: true,
                    required: true
                }
            ],
            dialog: false,
            dialogTitle: 'Выберите год для вставки',
            maxWidth: 500,
            closeButtonTitle: 'Отмена',
            successButtonTitle: 'OK',
            successAction: 'copyEvents',
            isTable: false,
            item: null,
            selectableItems: {
                'id': ['2018', '2019', '2020']
            }

        }),

        mounted() {
            this.$root.$on('close', (items) => {
                this.items = items;
            });

        },

        methods: {
            functionEvents(date) {
                let event = this.items.find(event => event.id === date);

                if (event && event.type === 'Праздничный день')
                    return ['red'];

                if (event && event.type === 'Предпраздничный день')
                    return ['blue'];

                return false
            },

            plusYear() {
                this.selectedYear++;

                this.selectMonths();
            },

            minusYear() {
                this.selectedYear--;

                this.selectMonths();
            },

            selectMonths() {
                this.monthNumbers.forEach(number => this.months[number] = `${this.selectedYear}-${number + 1}`)
            },

            edit() {
                this.$root.$emit('edit', this.items);
            },

            copy() {
                this.item = {
                    id: `${this.selectedYear}`
                };

                this.dialog = true;
            },

            closeDialog() {
                this.dialog = false;
            },

            copyEvents() {

                this.$router.push("/dictionary/workingDaysCalendar/eventsList");
            }
        },
    }
</script>

<style scoped>
    .calendar {
        margin-top: 1px;
        margin-left: 1px;
        height: 308px;
        width: 308px;
    }

    .calendar /deep/ div.v-date-picker-header button {
        color: black!important;
    }

    .calendar /deep/ div button, .calendar /deep/ th {
        font-size: 17px;
    }

    .calendar /deep/ td:nth-child(6) button, .calendar /deep/ td:nth-child(7) button {
        color: #f00;
    }

    .calendar /deep/ button:disabled {
        border: none!important;
        background-color: white;
    }

    h1 {
        margin-top: 17px;
        color: white;
    }

</style>