<template>
    <v-app>
        <v-content>
            <v-container fluid grid-list-md class="pt-2">

                <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3 title">
                            <v-layout row wrap>
                                <v-flex xs7>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-flex xs12>
                    <div class="fips__box pa-3">
                        <v-tabs background-color="white"
                                color="white"
                        >
                            <v-tab v-for="tab in tabs" :key="tab.title">{{ tab.title }}</v-tab>

                            <v-tab-item v-for="n in tabs.length" :key="n">
                                <v-container fluid v-if="n === 1">
                                    <v-flex xs6 class="fips__row">
                                        <div class="fips__label">Тип/подтип</div>
                                        <div class="margin">01.02 Исходящий документ/Исходящий документ по заявлению
                                        </div>
                                    </v-flex>

                                    <v-flex xs6 class="fips__row bigMargin">
                                        <label for="autocomplete" class="fips__label">Код исходящего</label>
                                        <v-autocomplete
                                                append-icon="mdi-chevron-down"
                                                no-data-text="Ничего не найдено"
                                                placeholder="Выберите что-нибудь"
                                                :items="autocomplete"
                                                v-model="selectedAutocomplete"
                                                id="autocomplete"
                                        ></v-autocomplete>
                                    </v-flex>

                                    <v-flex xs6 class="fips__row">
                                        <label for="name" class="fips__label">Наименование</label>
                                        <v-text-field v-model="name"
                                                      id="name"
                                        ></v-text-field>
                                    </v-flex>

                                    <v-flex xs6 class="fips__row">
                                        <div class="fips__label">Этапы делопроизводства</div>
                                    </v-flex>

                                    <v-layout row wrap>
                                        <v-flex xs12>
                                            <div class="fips__box pa-3 title">
                                                <v-data-table
                                                        :headers="headers"
                                                        v-model="selected"
                                                        :items="items"
                                                        item-key="id"
                                                        hide-actions
                                                        select-all
                                                >
                                                    <template slot="items" slot-scope="props">
                                                        <tr>
                                                            <td>
                                                                <v-checkbox v-model="props.selected"
                                                                            primary
                                                                            hide-details
                                                                ></v-checkbox>
                                                            </td>

                                                            <td class="text-xs-center"
                                                                v-for="header in headers"
                                                                :key="header.text">
                                                                {{ props.item[header.value] }}
                                                            </td>
                                                        </tr>
                                                    </template>
                                                </v-data-table>
                                            </div>
                                        </v-flex>
                                    </v-layout>

                                    <v-layout row wrap>
                                        <v-flex xs12>
                                            <div class="fips__box pa-3">
                                                <v-layout row wrap>
                                                    <v-btn dark @click="openNewItemDialog">
                                                        {{ addButtonTitle }}
                                                    </v-btn>

                                                    <v-spacer></v-spacer>

                                                    <v-btn dark @click="openDeletingDialog">
                                                        {{ deleteButtonTitle }}
                                                    </v-btn>
                                                </v-layout>
                                            </div>
                                        </v-flex>
                                    </v-layout>

                                    <v-flex xs6 class="fips__row bigMargin">
                                        <label for="sheet" class="fips__label">Бланк ИК</label>
                                        <v-text-field v-model="sheet"
                                                id="sheet"
                                        ></v-text-field>
                                    </v-flex>

                                    <v-flex xs6 class="fips__row">
                                        <label for="type" class="fips__label">Вид отправки по умолчанию</label>
                                        <v-autocomplete append-icon="mdi-chevron-down"
                                                        no-data-text="Ничего не найдено"
                                                        placeholder="Выберите что-нибудь"
                                                        :items="types"
                                                        v-model="type"
                                                        id="type"
                                        ></v-autocomplete>
                                    </v-flex>

                                    <v-flex xs6 class="fips__row">
                                        <label for="days" class="fips__label">Удаление черновика ИК(дней)</label>
                                        <v-text-field v-model="days"
                                                      id="days"
                                        ></v-text-field>
                                    </v-flex>

                                    <v-flex xs6 class="fips__row">
                                        <label for="min" class="fips__label">Задержка перед отправкой(мин)</label>
                                        <v-text-field v-model="min"
                                                      id="min"
                                        ></v-text-field>
                                    </v-flex>

                                    <v-flex xs6 class="fips__row">
                                        <label for="changed" class="fips__label">Изменил</label>
                                        <v-text-field v-model="changed"
                                                      id="changed"
                                                      placeholder="Иванов Иван Иванович"
                                                      readonly
                                        ></v-text-field>
                                    </v-flex>

                                </v-container>

                                <v-container fluid v-if="n === 2">
                                    <v-layout row wrap>
                                        <v-flex xs12>
                                            <div class="fips__box pa-3 title">
                                                <v-data-table
                                                        :headers="autoHeaders"
                                                        :items="autoItems"
                                                        hide-actions
                                                        select-all
                                                >
                                                    <template slot="items" slot-scope="props">
                                                        <tr>
                                                            <td>
                                                                <v-checkbox v-model="props.selected"
                                                                            primary
                                                                            hide-details
                                                                ></v-checkbox>
                                                            </td>

                                                            <td class="text-xs-center"
                                                                v-for="header in autoHeaders"
                                                                :key="header.text">
                                                                {{ props.item[header.value] }}
                                                            </td>
                                                        </tr>
                                                    </template>
                                                </v-data-table>
                                            </div>
                                        </v-flex>
                                    </v-layout>

                                    <v-layout row wrap>
                                        <v-flex xs12>
                                            <div class="fips__box pa-3">
                                                <v-layout row wrap>
                                                    <v-btn dark>
                                                        {{ addButtonTitle }}
                                                    </v-btn>

                                                    <v-spacer></v-spacer>

                                                    <v-btn dark>
                                                        {{ deleteButtonTitle }}
                                                    </v-btn>
                                                </v-layout>
                                            </div>
                                        </v-flex>
                                    </v-layout>

                                    <v-layout row wrap>
                                        <v-flex xs12>
                                            <div class="fips__box pa-3">
                                                <v-layout row wrap>
                                                    <v-btn dark>
                                                        Стандартные текстовые блоки и сноски
                                                    </v-btn>
                                                </v-layout>
                                            </div>
                                        </v-flex>
                                    </v-layout>
                                </v-container>

                                <v-container fluid v-if="n === 3">
                                    <v-layout row wrap>
                                        <v-flex xs12>
                                            <div class="fips__box pa-3 title">
                                                <v-layout row wrap>
                                                    <v-btn icon outline>
                                                        <v-icon>mdi-arrow-up</v-icon>
                                                    </v-btn>

                                                    <v-btn icon outline>
                                                        <v-icon>mdi-arrow-down</v-icon>
                                                    </v-btn>

                                                    <v-spacer></v-spacer>

                                                    <v-btn dark>Редактировать</v-btn>

                                                    <v-btn dark>Добавить</v-btn>

                                                    <v-btn dark>Удалить</v-btn>
                                                </v-layout>
                                            </div>
                                        </v-flex>
                                    </v-layout>

                                    <v-data-table
                                            :headers="autoHeaders"
                                            :items="autoItems"
                                            hide-actions
                                            select-all
                                    >
                                        <template slot="items" slot-scope="props">
                                            <tr>
                                                <td>
                                                    <v-checkbox v-model="props.selected"
                                                                primary
                                                                hide-details
                                                    ></v-checkbox>
                                                </td>

                                                <td class="text-xs-center"
                                                    v-for="header in autoHeaders"
                                                    :key="header.text">
                                                    {{ props.item[header.value] }}
                                                </td>
                                            </tr>
                                        </template>
                                    </v-data-table>

                                    <v-flex xs6 class="fips__row bigMargin">
                                        <label for="days" class="fips__label">Авторегистрация</label>
                                        <v-checkbox v-model="autoRegistration"
                                        ></v-checkbox>
                                    </v-flex>

                                    <v-flex xs6 class="fips__row">
                                        <label for="min" class="fips__label">Необходимость согласования</label>
                                        <v-checkbox v-model="agreement"
                                        ></v-checkbox>
                                    </v-flex>

                                    <v-flex xs6 class="fips__row">
                                        <label for="min" class="fips__label">Автоматическая отправка</label>
                                        <v-checkbox v-model="autoSend"
                                        ></v-checkbox>
                                    </v-flex>


                                </v-container>
                            </v-tab-item>
                        </v-tabs>
                    </div>
                </v-flex>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-btn dark>
                                    {{ saveButtonTitle }}
                                </v-btn>

                                <v-btn dark>
                                    {{ disableButtonTitle }}
                                </v-btn>

                                <v-spacer></v-spacer>

                                <v-btn dark>
                                    {{ closeButtonTitle }}
                                </v-btn>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>
                <dictionary-dialog 
                    :dialog="dialog"
                    :dialogTitle="dialogTitle"
                    :successButtonTitle="successButtonTitle"
                    :closeButtonTitle="closeButtonTitle"
                    :item="item"
                    :headers="dialogHeaders"
                    :successAction="successAction"
                    :maxWidth="maxWidth"
                    @closeDialog="closeDialog"
                    @newItem="addItem"
                    @deleteItem="removeItems"
                ></dictionary-dialog>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import Breadcrumbs from "../../components/Breadcrumbs";
    import DictionaryDialog from "../../components/dictionary/DictionaryDialog";

    export default {
        name: "EditCard",
        components: {Breadcrumbs, DictionaryDialog},

        data: () => ({
            nextLinks: [
                {
                    text: "Карточка шаблона ИК",
                    disabled: true,
                    href: ""
                }
            ],
            title: 'Шаблон ИК',
            tabs: [
                {id: 1, title: 'Основные реквизиты'},
                {id: 2, title: 'Параметры заполнения'},
                {id: 3, title: 'Маршрут согласования'}
            ],
            saveButtonTitle: 'Сохранить',
            disableButtonTitle: 'Отключить',
            closeButtonTitle: 'Закрыть',
            autocomplete: ['730 Решение о принятии заявки к рассмотрению', 'Еще какой-нибудь код'],
            selectedAutocomplete: '',
            name: '',
            stage: '',
            stages: ['Первый этап', 'Второй этап'],
            headers: [
                {text: 'Тип документа', align: 'center', value: 'type'},
                {text: 'Этап', align: 'center', value: 'stage'}
            ],
            items: [
                {
                    id: 1,
                    type: 'Заявка на ТЗ',
                    stage: 'Формальная экспертиза'
                }
            ],
            types: ['Вид отправки по умолчанию'],
            addButtonTitle: 'Добавить',
            deleteButtonTitle: 'Удалить',
            autoHeaders: [
                {text: 'Поле шаблона документа', align: 'center', value: 'template'},
                {text: 'Атрибут системы', align: 'center', value: 'attribute'}
            ],
            autoItems: [
                {
                    template: '',
                    attribute: ''
                }
            ],
            autoRegistration: false,
            agreement: true,
            selected: [],
            dialog: false,
            item: null,
            maxWidth: 500,
            successAction: '',
            dialogTitle: 'Вы уверены, что хотите удалить объект?',
            successButtonTitle: 'OK',
            defaultItem: {
                'type': '', 
                'stage': '',
            },
            dialogHeaders: [
                {
                    text: 'Наименование',
                    value: 'type',
                    required: true,
                },
                {
                    text: 'Тип документа',
                    value: 'stage',
                    required: true,
                },
            ],
        }),
        methods: {
            openNewItemDialog() {
                this.dialogTitle = 'Новая документа';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.isSuccessNeeded = true;
                this.item = Object.assign({}, this.defaultItem);
                this.successAction = 'newItem';
                this.maxWidth = 500;
                this.dialog = true;
            },

            openDeletingDialog() {
                this.dialogTitle = 'Вы уверены, что хотите удалить объект?';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'deleteItem';
                this.maxWidth = 500;
                this.isTable = false;
                this.dialog = true;
            },
            closeDialog() {
                this.dialog = false;
                this.item = null;
            },
            addItem(newItem) {
                const elem = this.items[this.items.length - 1];
                let item = Object.assign({id: elem && elem.id ? elem.id + 1 : 1}, newItem);

                this.items.push(item);

                this.item = null;
                this.dialog = false;
            },
            removeItems() {
                this.items = this.items.filter( elem => !this.selected.some( e => e.id === elem.id ) );
                this.closeDialog();
            }
        },
    }
</script>

<style scoped>
    .margin {
        margin-top: 6px !important;
    }

    .bigMargin {
        margin-top: 30px !important;
    }
</style>