<template>
    <v-app>
        <v-content>
            <v-container fluid grid-list-md class="pt-2">

                <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>

                <dictionary-dialog :dialog="ddialog"
                                   :dialogTitle="dialogTitle"
                                   :successButtonTitle="successButtonTitle"
                                   :closeButtonTitle="closeButtonTitle"
                                   :item="item"
                                   :headers="headers"
                                   :successAction="successAction"
                                   :maxWidth="maxWidth"
                                   @closeDialog="closeDdialog"
                                   @deleteItems="deleteItems(treeItems)"
                ></dictionary-dialog>

                <v-dialog v-model="dialog" :max-width="maxWidth">
                    <v-card>
                        <v-card-title class="headline grey lighten-2">
                            <span class="headline">{{ dialogTitle }}</span>
                        </v-card-title>

                        <v-divider></v-divider>

                        <v-card-text>
                            <v-textarea v-model="comment"
                                        :placeholder="placeholder"
                                        color="teal"
                            >
                            </v-textarea>
                        </v-card-text>

                        <v-card-actions>
                            <v-btn dark>{{ successButtonTitle }}</v-btn>

                            <v-spacer></v-spacer>

                            <v-btn dark @click="closeDialog">{{ closeButtonTitle }}</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-layout row wrap>
                    <v-flex xs12 md6>
                        <v-flex xs12>
                            <div class="fips__box pa-3 title">
                                <v-layout row wrap>
                                    <v-flex xs7>
                                        <div class="fips__title">{{ title }}</div>
                                        <div class="fips__title">{{ additionalTitle }}</div>
                                    </v-flex>

                                    <v-spacer></v-spacer>

                                    <v-flex xs2>
                                        <div class="fips__title">Создание</div>
                                    </v-flex>
                                </v-layout>
                            </div>
                        </v-flex>

                        <v-flex xs12>
                            <div class="fips__box pa-3">
                                <v-tabs background-color="white"
                                        color="white"
                                >
                                    <v-tab v-for="tab in tabs" :key="tab.title">{{ tab.title }}</v-tab>

                                    <v-tab-item v-for="n in tabs.length" :key="n">
                                        <v-container fluid v-if="n === 1">
                                            <v-layout row wrap>
                                                <v-flex xs6 class="fips__title">{{ `Исполнитель: ${name}` }}</v-flex>

                                                <v-spacer></v-spacer>

                                                <v-flex xs3>
                                                    <h2><a>ЭДЗ 2019096555</a></h2>
                                                    <h2 class="margin"><a>ЭДЗ 2019096212</a></h2>
                                                </v-flex>
                                            </v-layout>

                                            <v-layout row wrap>
                                                <v-flex xs12>
                                                    <div class="fips__box pa-3">
                                                        <v-data-table v-model="selected"
                                                                      :headers="headers"
                                                                      :items="tableItems"
                                                                      :pagination.sync="pagination"
                                                                      item-key="name"
                                                                      hide-actions
                                                        >
                                                            <template slot="items" slot-scope="props">
                                                                <tr>
                                                                    <td>
                                                                        <v-checkbox v-model="props.selected"
                                                                                    primary
                                                                                    hide-details
                                                                        ></v-checkbox>
                                                                    </td>

                                                                    <td class="text-xs-center"
                                                                        v-for="header in headers"
                                                                        :key="header.text">
                                                                        {{ props.item[header.value] }}
                                                                    </td>
                                                                </tr>
                                                            </template>
                                                        </v-data-table>

                                                        <div class="text-xs-center py-4">
                                                            <v-pagination v-model="pagination.page"
                                                                          class="taskpagination"
                                                                          :length="pages"
                                                                          total-visible="3"
                                                            ></v-pagination>
                                                        </div>
                                                    </div>
                                                </v-flex>
                                            </v-layout>

                                            <v-layout row wrap>
                                                <v-flex xs12>
                                                    <div class="fips__box pa-3">
                                                        <v-layout row wrap>
                                                            <v-btn dark @click="openBasicDetailDialog">
                                                                {{ addButtonTitle }}
                                                            </v-btn>

                                                            <v-spacer></v-spacer>

                                                            <v-btn dark @click="openDeletingDialog">
                                                                {{ deleteButtonTitle }}
                                                            </v-btn>
                                                        </v-layout>
                                                    </div>
                                                </v-flex>
                                            </v-layout>

                                            <v-flex xs6 class="fips__row bigMargin">
                                                <label for="docs" class="fips__label">Документ</label>
                                                <v-text-field v-model="docsSheetsCount"
                                                              :suffix="docsSheets"
                                                              id="docs"
                                                ></v-text-field>
                                            </v-flex>

                                            <v-flex xs6 class="fips__row">
                                                <label for="app" class="fips__label">приложения</label>
                                                <v-text-field v-model="appSheetsCount"
                                                              :suffix="appSheets"
                                                              id="app"
                                                ></v-text-field>
                                            </v-flex>

                                            <v-flex xs6 class="bigMargin">
                                                <v-checkbox class="fips__label" v-model="paper"
                                                            label="Бумажный носитель"></v-checkbox>
                                            </v-flex>

                                            <v-flex xs6 class="bigMargin">
                                                <div class="fips__title">{{ `Изменено: ${name}`}}</div>
                                            </v-flex>
                                        </v-container>

                                        <v-container fluid v-if="n === 2">
                                            <v-layout row wrap>
                                                <v-flex xs12>
                                                    <div class="fips__box pa-3 title">
                                                        <v-layout row wrap>
                                                            <v-btn icon outline>
                                                                <v-icon>mdi-arrow-up</v-icon>
                                                            </v-btn>

                                                            <v-btn icon outline>
                                                                <v-icon>mdi-arrow-down</v-icon>
                                                            </v-btn>

                                                            <v-spacer></v-spacer>

                                                            <v-btn :dark="!!currentId"
                                                                   :disabled="!currentId"
                                                                   @click="openEditingDialog">Редактировать
                                                            </v-btn>

                                                            <v-btn :dark="!!currentId"
                                                                   :disabled="!currentId"
                                                                   @click="openCreatingDialog">Добавить
                                                            </v-btn>

                                                            <v-btn :dark="selected.length > 0"
                                                                   :disabled="selected.length === 0"
                                                                   @click="openTreeDeletingDialog">Удалить
                                                            </v-btn>
                                                        </v-layout>
                                                    </div>
                                                </v-flex>
                                            </v-layout>

                                            <v-layout row wrap>
                                                <v-flex xs12>
                                                    <div class="fips__box pa-3">
                                                        <v-data-table v-model="selected"
                                                                      :headers="treeHeaders"
                                                                      :items="treeItems"
                                                                      :single-select="false"
                                                                      :pagination.sync="pagination"
                                                                      item-key="name"
                                                                      hide-actions
                                                                      select-all
                                                                      no-results-text="Ничего не найдено"
                                                                      no-data-text="Данные отсутствуют"
                                                        >
                                                            <template slot="items" slot-scope="props">
                                                                <tr @click="clickRow(props.item)"
                                                                    :class="{ expanded: props.item.id === currentId }">
                                                                    <td>
                                                                        <v-checkbox v-model="props.selected"
                                                                                    primary
                                                                                    hide-details
                                                                        ></v-checkbox>
                                                                    </td>

                                                                    <td v-for="header in treeHeaders"
                                                                        :key="header.text">
                                                                        <v-icon v-if="header.value === 'name' && !props.item.account">
                                                                            {{ isOpen(props.item.id) ? 'mdi-folder-open'
                                                                            : 'mdi-folder' }}
                                                                        </v-icon>

                                                                        <v-icon v-if="header.value === 'name' && props.item.account"
                                                                                :class="{ leftMargin: header.value === 'name' && props.item.account }">
                                                                            mdi-account
                                                                        </v-icon>
                                                                        {{ props.item[header.value] }}
                                                                    </td>
                                                                </tr>
                                                            </template>
                                                        </v-data-table>

                                                    </div>
                                                </v-flex>
                                            </v-layout>

                                            <v-layout row wrap>
                                                <v-flex xs12>
                                                    <div class="fips__box pa-3 title">
                                                        <v-layout row wrap>
                                                            <v-flex xs7>
                                                                <div class="fips__title margin">Лист визирования</div>
                                                            </v-flex>

                                                            <v-spacer></v-spacer>

                                                            <v-autocomplete class="margin"
                                                                            append-icon="mdi-chevron-down"
                                                                            no-data-text="Ничего не найдено"
                                                                            placeholder="Выберите что-нибудь"
                                                                            :items="autocomplete"
                                                            ></v-autocomplete>

                                                            <v-btn dark>Печать листа</v-btn>
                                                        </v-layout>
                                                    </div>
                                                </v-flex>
                                            </v-layout>

                                            <v-layout row wrap>
                                                <v-flex xs12>
                                                    <div class="fips__box pa-3 title">
                                                        <v-data-table
                                                                :headers="visaHeaders"
                                                                :items="visaItems"
                                                                hide-actions
                                                        >
                                                            <template slot="items" slot-scope="props">
                                                                <td class="text-xs-center"
                                                                    v-for="header in headers"
                                                                    :key="header.text">
                                                                    {{ props.item[header.value] }}
                                                                </td>
                                                            </template>
                                                        </v-data-table>
                                                    </div>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>

                                        <v-container fluid v-if="n === 3">
                                            <v-layout row wrap>
                                                <v-flex xs12>
                                                    <div class="fips__box pa-3 title">

                                                        <v-textarea class="margin"
                                                                    counter
                                                                    disabled="true"
                                                                    placeholder="Комментариев еще нет"
                                                                    hide-details="true"
                                                                    v-model="comments"
                                                        ></v-textarea>

                                                        <v-textarea class="bigMargin"
                                                                    counter
                                                                    placeholder="Текст комментария"
                                                                    hide-details="true"
                                                                    v-model="addingComment"
                                                        ></v-textarea>

                                                        <v-layout row wrap class="margin">
                                                            <v-flex xs12>
                                                                <div class="fips__box pa-3 title">
                                                                    <v-layout row wrap>
                                                                        <v-spacer></v-spacer>

                                                                        <v-btn dark @click="addComment">Добавить</v-btn>
                                                                    </v-layout>
                                                                </div>
                                                            </v-flex>
                                                        </v-layout>
                                                    </div>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>

                                        <v-container fluid v-if="n === 4">
                                            <v-layout row wrap>
                                                <v-flex xs12>
                                                    <div class="fips__box pa-3">
                                                        <v-data-table :headers="documentsHeaders"
                                                                      :items="documentsItems"
                                                                      item-key="name"
                                                                      hide-actions
                                                        >
                                                            <template slot="items" slot-scope="props">
                                                                <td class="text-xs-center"
                                                                    v-for="header in documentsHeaders"
                                                                    :key="header.text">
                                                                    {{ props.item[header.value] }}
                                                                </td>
                                                            </template>
                                                        </v-data-table>
                                                    </div>
                                                </v-flex>
                                            </v-layout>

                                            <v-layout row wrap>
                                                <v-flex xs12>
                                                    <div class="fips__box pa-3">
                                                        <v-layout row wrap>
                                                            <v-spacer></v-spacer>

                                                            <v-btn dark>
                                                                Просмотр
                                                            </v-btn>

                                                            <v-btn dark @click="openRelatedDocumentsDialog">
                                                                {{ addButtonTitle }}
                                                            </v-btn>

                                                            <v-btn dark @click="openDeletingDialog">
                                                                {{ deleteButtonTitle }}
                                                            </v-btn>
                                                        </v-layout>
                                                    </div>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>
                                    </v-tab-item>
                                </v-tabs>
                            </div>
                        </v-flex>

                        <v-flex xs12>
                            <div class="fips__box pa-3 title">
                                <v-layout row wrap>
                                    <v-btn dark v-if="mode === 1">
                                        {{ sendButtonTitle }}
                                    </v-btn>

                                    <v-btn dark v-if="mode === 2">
                                        {{ beginSendButtonTitle }}
                                    </v-btn>

                                    <v-btn dark v-if="mode === 2">
                                        {{ resendButtonTitle }}
                                    </v-btn>

                                    <v-btn dark v-if="mode === 1  || mode === 2">
                                        {{ saveButtonTitle }}
                                    </v-btn>

                                    <v-btn dark v-if="mode === 1  || mode === 2">
                                        {{ deleteButtonTitle }}
                                    </v-btn>

                                    <v-btn dark v-if="mode === 3">
                                        {{ acceptButtonTitle }}
                                    </v-btn>

                                    <v-btn dark v-if="mode === 3" @click="openDialog">
                                        {{ declineButtonTitle }}
                                    </v-btn>

                                    <v-spacer></v-spacer>

                                    <v-btn dark
                                           href="/outbox/tasks">
                                        {{ closeButtonTitle }}
                                    </v-btn>
                                </v-layout>
                            </div>
                        </v-flex>

                        <v-flex xs12>
                            <div class="fips__box pa-3 title">
                                <v-layout row wrap>
                                    <v-btn dark @click="mode = 1">Режим создания</v-btn>

                                    <v-btn dark @click="mode = 2">Режим доработки</v-btn>

                                    <v-btn dark @click="mode = 3">Режим согласования</v-btn>

                                    <v-btn dark @click="mode = 4">Режим просмотра</v-btn>
                                </v-layout>
                            </div>
                        </v-flex>
                    </v-flex>

                    <v-flex>
                        <v-container fluid>
                            <a href="https://ibb.co/Pc4wspM">
                                <img width="875px"
                                     src="https://i.ibb.co/c6tDK5w/2019-12-06-18-02-09.png"
                                     alt="2019-12-06-18-02-09"
                                >
                            </a>
                        </v-container>
                    </v-flex>
                </v-layout>

                <dictionary-dialog 
                    :dialog="universalDialog"
                    :dialogTitle="universalDialogTitle"
                    :successButtonTitle="successButtonTitle"
                    :closeButtonTitle="closeButtonTitle"
                    :item="item"
                    :headers="dialogHeaders"
                    :successAction="successAction"
                    :maxWidth="maxWidth"
                    @closeDialog="closeDialog"
                    @newItem="addItem"
                    @deleteItem="deleteItem"
                ></dictionary-dialog>
                
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import Breadcrumbs from "../../components/Breadcrumbs";
    import DictionaryDialog from "../../components/dictionary/DictionaryDialog";

    export default {
        name: "Project",
        components: { Breadcrumbs, DictionaryDialog },

        data: () => ({
            picture: 'https://yadi.sk/i/K9UAh1VeYmLCAg',
            nextLinks: [
                {
                    text: "Исходящая корреспонденция",
                    disabled: false,
                    href: "/outbox/tasks"
                },
                {
                    text: "Проект исходящего документа",
                    disabled: true,
                    href: "/outbox/draftOutboxDocs"
                }
            ],
            title: 'Исходящий документ № ___ от 01.09.2019',
            additionalTitle: 'Решение о принятии заявки к рассмотрению (ИК 730)',
            name: 'Иванов Иван Иванович',
            docsSheetsCount: '1',
            appSheetsCount: '7',
            pagination: {
                rowsPerPage: 5
            },
            paper: true,
            tabs: [
                {id: 1, title: 'Основные реквизиты'},
                {id: 2, title: 'Маршрут согласования'},
                {id: 3, title: 'Комментарии'},
                {id: 4, title: 'связанные документы'}
            ],
            selected: [],
            headers: [
                {text: 'Адресат', align: 'center', value: 'name'},
                {text: 'Адрес', align: 'center', value: 'address'},
                {text: 'Способ отправки', align: 'center', value: 'shippingType'}
            ],
            tableItems: [
                {
                    id: 1,
                    name: 'ООО "Дружба"',
                    address: '2120001, РФ г. Воронеж, ул. Ленина, д.13, корп. 1',
                    shippingType: 'Бумажный носитель'
                },
                {
                    id: 2,
                    name: 'ООО Дружба',
                    address: 'druzba@mail.ru',
                    shippingType: 'e-mail'
                },
                {
                    id: 3,
                    name: 'Петров и Ко',
                    address: 'ЛК 1354',
                    shippingType: 'Электронный'
                }
            ],
            treeHeaders: [
                {text: '№', value: 'id'},
                {text: 'Название очереди', sortable: false, value: 'name'},
                {text: 'Должность', sortable: false, value: 'position'},
                {text: 'Планируемое время', sortable: false, value: 'time'}
            ],
            treeItems: [
                {
                    id: 1,
                    name: 'Первая очередь',
                    time: '3 дня',
                    children: [
                        {
                            id: 1.1,
                            name: 'Васильева Людмила Евсеевна',
                            position: 'Начальник Отдела',
                            account: true
                        },
                        {
                            id: 1.2,
                            name: 'Кириллюк Юлия петровна',
                            position: 'Начальник Отдела',
                            account: true
                        }
                    ]
                },
                {
                    id: 2,
                    name: 'Вторая очередь',
                    time: '3 дня',
                    children: [
                        {
                            id: 2.1,
                            name: 'Саблина Виктория Егоровна',
                            position: 'Начальник Отдела',
                            account: true
                        }
                    ]
                }
            ],
            visaHeaders: [
                {text: 'ФИО (Должность)', align: 'center', value: 'name'},
                {text: 'Виза', align: 'center', sortable: false, value: 'visa'},
                {text: 'Ver', align: 'center', sortable: false, value: 'version'},
                {text: 'Дата', align: 'center', sortable: false, value: 'date'},
                {text: 'Комментарий', align: 'center', sortable: false, value: 'comment'}
            ],
            visaItems: [
                {
                    name: '',
                    visa: '',
                    version: '',
                    date: '',
                    comment: '',
                }
            ],
            documentsHeaders: [
                {text: 'Тип связи', align: 'center', value: 'type'},
                {text: 'Тип док.', align: 'center', sortable: false, value: 'docType'},
                {text: 'Код ВК', align: 'center', sortable: false, value: 'code'},
                {text: 'Рег. номер', align: 'center', sortable: false, value: 'number'},
                {text: 'Дата рег.', align: 'center', sortable: false, value: 'date'},
                {text: 'Срок рассмотрения', align: 'center', sortable: false, value: 'duration'}
            ],
            documentsItems: [
                {
                    type: 'в ответ на',
                    docType: 'заявка',
                    code: 'ТЗ',
                    number: '54321',
                    date: '30.08.2019',
                    duration: '20.09.2019'
                }
            ],
            dialog: false,
            dialogTitle: 'Причина отклонения ИК',
            maxWidth: 500,
            placeholder: 'Причина отклонения ИК, согласующим лицом',
            mode: 1,
            comments: 'Какой-то комментарий',
            addingComment: '',
            comment: '',
            files: '',
            addButtonTitle: 'Добавить',
            deleteButtonTitle: 'Удалить',
            sendButtonTitle: 'Отправить',
            saveButtonTitle: 'Сохранить',
            closeButtonTitle: 'Закрыть',
            acceptButtonTitle: 'Согласовать',
            declineButtonTitle: 'Отклонить',
            beginSendButtonTitle: 'Отправить (c начала)',
            resendButtonTitle: 'Отправить (продолжить)',
            successButtonTitle: 'Ok',
            clickedRows: [],
            autocomplete: ['Финальная версия', 'Еще какая нибудь версия'],
            currentId: 0,
            item: null,
            successAction: '',
            ddialog: false,
            universalDialog: false,
            universalItem: null,
            universalDialogTitle: 'Вы уверены, что хотите удалить объект?',
            dialogHeaders: [],
            basicDetailsItem: {
                'name': '',
                'address': '', 
                'shippingType': '',
            },
            basicDetailsHeaders: [
                {
                    text: 'Адресат',
                    value: 'name',
                    required: true,
                },
                {
                    text: 'Адрес',
                    value: 'address',
                    required: true,
                },
                {
                    text: 'Тип доставки',
                    value: 'shippingType',
                    required: true
                },
            ],
            relatedDocumentsItem: {
                'type': '',
                'docType': '', 
                'code': '',
                'number': '',
                'date': '',
                'duration': '',
            },
            relatedDocumentsHeaders: [
                {
                    text: 'Тип связи',
                    value: 'type',
                    required: true,
                },
                {
                    text: 'Тип документа',
                    value: 'docType',
                    required: true,
                },
                {
                    text: 'Код ВК',
                    value: 'code',
                    required: true
                },
                {
                    text: 'Рег. номер',
                    value: 'number',
                    required: true
                },
                {
                    text: 'Дата регистрации',
                    value: 'date',
                    required: true,
                    datePicker: true,
                },
                {
                    text: 'Срок рассмотрения',
                    value: 'duration',
                    required: true,
                    datePicker: true,
                },
            ],
        }),

        computed: {
            pages() {
                if (this.pagination.rowsPerPage == null || this.tableItems.length == null)
                    return 0;

                return Math.ceil(
                    this.tableItems.length / this.pagination.rowsPerPage
                );
            },

            appSheets() {
                return this.getSheetPostfix(this.appSheetsCount);
            },

            docsSheets() {
                return this.getSheetPostfix(this.docsSheetsCount);
            }
        },
        mounted: function() {
            this.dialogHeaders = this.basicDetailsHeaders;
        },
        methods: {
            getSheetPostfix(count) {
                if ([11, 12, 13, 14].includes(count % 100))
                    return 'листов';

                let lastNumber = count.slice(-1);

                if (lastNumber === '1')
                    return 'лист';

                if (['2', '3', '4'].includes(lastNumber))
                    return 'листа';

                return 'листов'
            },

            openDialog() {
                this.dialog = true;
            },

            closeDialog() {
                this.dialog = false;
                this.item = null;
                this.universalDialog = false;
            },

            openBasicDetailDialog() {
                this.dialogTitle = 'Новый реквизит';
                this.item = Object.assign({}, this.basicDetailsItem);
                this.dialogHeaders = this.basicDetailsHeaders;
                this.openNewItemDialog();
            },

            openRelatedDocumentsDialog() {
                this.dialogTitle = 'Новый документ';
                this.item = Object.assign({}, this.relatedDocumentsItem);
                this.dialogHeaders = this.relatedDocumentsHeaders;
                this.openNewItemDialog();
            },

            openNewItemDialog() {
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'newItem';
                this.maxWidth = 500;
                this.universalDialog = true;
            },

            openDeletingDialog() {
                this.dialogTitle = 'Вы уверены, что хотите удалить объект?';
                this.successButtonTitle = 'OK';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'deleteItem';
                this.maxWidth = 500;
                this.universalDialog = true;
            },

            addItem(newItem) {
                if (newItem.shippingType) this.tableItems.push(newItem);
                else this.documentsItems.push(newItem);

                this.item = null;
                this.universalDialog = false;
            },

            deleteItem() {
                if (this.dialogHeaders.length === 3) this.tableItems = this.tableItems.filter( elem => !this.selected.some( e => e.id === elem.id ) );
                else this.documentsItems = this.documentsItems.filter( elem => !this.selected.some( e => e.id === elem.id ) );
                
                this.closeDialog();
            },

            closeDdialog() {
                this.item = null;

                this.ddialog = false;
            },

            clickRow(row) {
                this.currentId = row.id;

                if (!this.clickedRows.includes(row.id) && !!row.children) {
                    this.clickedRows.push(row.id);

                    const children = this.treeItems.find(item => item.id === row.id).children;

                    children.forEach(item => this.treeItems.push(item));
                } else if (this.clickedRows.includes(row.id) && !!row.children) {
                    this.clickedRows.splice(this.clickedRows.indexOf(row.id), 1);

                    const children = this.treeItems.find(item => item.id === row.id).children;

                    children.forEach(item => this.treeItems.splice(this.treeItems.indexOf(item), 1));
                }
            },

            isOpen(id) {
                return this.clickedRows.includes(id);
            },

            addComment() {
                this.comments = this.comments + `\n\n ${this.addingComment}`;

                this.addingComment = '';
            },

            openTreeDeletingDialog() {
                this.maxWidth = 500;
                this.dialogTitle = 'Вы уверены что хотите удалить выбранные записи?';
                this.successButtonTitle = 'Да';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'deleteItems';

                this.ddialog = true;
            },

            openCreatingDialog() {
                this.maxWidth = 500;
                this.dialogTitle = 'Добавление новой записи';
                this.successButtonTitle = 'Сохранить';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'addItem';
                this.item = Object.assign({}, this.defaultItem);
                this.item.id = this.counter++;

                this.ddialog = true;
            },

            openEditingDialog() {
                const editingItem = this.items.find(item => item.id === this.currentId);

                this.maxWidth = 500;
                this.dialogTitle = 'Редактирование записи';
                this.successButtonTitle = 'Сохранить';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'createItem';
                this.item = Object.assign({}, editingItem);
                this.item.id = this.counter++;

                this.ddialog = true;
            },

            deleteItems(items) {
                const ids = this.selected.map(selectedItem => selectedItem.id);

                items.forEach(item => {
                    if (ids.includes(item.id)) {
                        item.children && item.children.forEach(child => {
                            items.splice(items.indexOf(child), 1);
                        });

                        items.splice(items.indexOf(item), 1);
                    }

                    if (item.children)
                        this.deleteItems(ids, item.children);
                });

                this.currentId = 0;
                this.item = null;
                this.ddialog = false;
            }


        }
    }
</script>

<style scoped>
    .margin {
        margin-top: 6px !important;
    }

    .bigMargin {
        margin-top: 30px !important;
    }

    .leftMargin {
        margin-left: 20px;
    }
</style>