<template>
    <v-app>
        <v-content>
            <v-container fluid grid-list-md class="pt-2">

                <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>

                <v-dialog v-model="dialog" :max-width="maxWidth">
                    <v-card>
                        <v-card-title class="headline grey lighten-2">
                            <span class="headline">{{ dialogTitle }}</span>
                        </v-card-title>

                        <v-divider></v-divider>

                        <v-card-text>
                            <template>
                                <v-treeview activatable
                                            :items="dialogItems"
                                ></v-treeview>
                            </template>
                        </v-card-text>

                        <v-card-actions>
                            <v-btn dark href="/outbox/project">{{ successButtonTitle }}</v-btn>

                            <v-spacer></v-spacer>

                            <v-btn dark @click="closeDialog">{{ closeButtonTitle }}</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-flex xs12 lg6>
                                <v-text-field
                                        append-icon="mdi-magnify"
                                        type="text"
                                        name="certificateNumber"
                                        id="certificateNumber"
                                        placeholder="Поиск по документам"
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 md6>
                                <div class="fips__homegrid">
                                    <button class="fips__box" v-for="(item, index) in items"
                                            :key="index"
                                            :href="item.href"
                                            @click="openDialog(item.action)">
                                        <v-icon color="white">{{ item.icon }}</v-icon>
                                        {{ item.title }}
                                    </button>
                                </div>
                            </v-flex>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-tabs
                                    background-color="white"
                                    color="white"
                            >
                                <v-tab v-for="tab in tabs" :key="tab.title">{{ tab.title }}</v-tab>

                                <v-tab-item v-for="n in tabs.length" :key="n">
                                    <v-container fluid>
                                        <dictionary-table :headers="headers"
                                                          :items="rows.filter(row => row.status === n || n < 2)"
                                                          :isSearch="false"
                                                          @clickRow="clickRow"
                                        ></dictionary-table>
                                    </v-container>
                                </v-tab-item>
                            </v-tabs>
                        </div>
                    </v-flex>
                </v-layout>

            </v-container>
        </v-content>
    </v-app>
</template>

<script>

    import Breadcrumbs from "../../components/Breadcrumbs";
    import DictionaryTable from "../../components/dictionary/DictionaryTable";

    export default {
        name: 'Tasks',
        components: {DictionaryTable, Breadcrumbs},
        data: () => ({
            nextLinks: [
                {
                    text: "Исходящая корреспонденция",
                    disabled: true,
                    href: ""
                }
            ],
            title: 'Исходящая корреспонденция',
            closeButtonTitle: 'Отмена',
            successButtonTitle: 'Выбрать',
            maxWidth: 500,
            dialogTitle: 'Выбор шаблона',
            dialog: false,
            items: [
                {
                    title: "Создать исходящий",
                    icon: "mdi-email-outline",
                    href: "",
                    action: true
                },
                {
                    title: "Создать договор",
                    icon: "mdi-file-document",
                    href: ""
                },
                {
                    title: "Журнал задач",
                    icon: "mdi-newspaper-variant-outline",
                    href: ""
                }
            ],
            tabs: [
                {
                    title: "Все"
                },
                {
                    title: "Согласование"
                },
                {
                    title: "Подписание"
                },
                {
                    title: "Рассмотрение"
                },
                {
                    title: "Исполнение"
                },
                {
                    title: "Ознакомление"
                },
                {
                    title: "Проверка отчетов"
                }
            ],
            headers: [
                {
                    text: 'Дата создания',
                    value: 'date',
                    required: true
                },
                {
                    text: 'Тип',
                    value: 'type',
                    required: true
                },
                {
                    text: 'Название',
                    value: 'name',
                    required: true
                }
            ],
            rows: [
                {
                    'id': 1,
                    'date': '2019-01-31',
                    'type': 'Регистрация документа',
                    'name': 'Документ № 1',
                    'status': 2
                },
                {
                    'id': 2,
                    'date': '2019-04-01',
                    'type': 'Регистрация документа',
                    'name': 'Документ № 2',
                    'status': 3
                },
                {
                    'id': 3,
                    'date': '2019-01-31',
                    'type': 'Регистрация документа',
                    'name': 'Документ № 3',
                    'status': 3
                },
                {
                    'id': 4,
                    'date': '2019-04-01',
                    'type': 'Регистрация документа',
                    'name': 'Документ № 4',
                    'status': 4
                },
                {
                    'id': 5,
                    'date': '2019-01-31',
                    'type': 'Регистрация документа',
                    'name': 'Документ № 5',
                    'status': 5
                },
                {
                    'id': 6,
                    'date': '2019-04-01',
                    'type': 'Регистрация документа',
                    'name': 'Документ № 6',
                    'status': 6
                },
                {
                    'id': 7,
                    'date': '2019-04-01',
                    'type': 'Регистрация документа',
                    'name': 'Документ № 7',
                    'status': 7
                }
            ],
            dialogItems: [
                {
                    id: 1,
                    name: 'Исходящая корреспонденция',
                    children: [
                        {
                            id: 2,
                            name: 'Ик общего делопроизводства',
                            children: [
                                {id: 3, name: 'Письмо на бланке директора'},
                                {id: 4, name: 'Письмо на общем бланке'}
                            ]
                        }
                    ]
                }
            ]
        }),

        methods: {
            clickRow() {

            },

            openDialog(isOpen) {
                this.dialog = isOpen;
            },

            closeDialog() {
                this.dialog = false;
            }
        }
    };
</script>

<style scoped>

</style>