<template>
    <v-app>
        <v-content>
            <v-container fluid grid-list-md class="pt-2">

                <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3 title">
                            <v-layout row wrap>
                                <v-flex xs7>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3 title">
                            <v-card>
                                <v-card-title>
                                    <v-text-field
                                            v-model="search"
                                            append-icon="mdi-magnify"
                                            placeholder="Поиск по шаблонам ИК"
                                            clearable
                                    ></v-text-field>

                                    <v-spacer></v-spacer>

                                    <v-checkbox
                                            v-model="isActive"
                                            label="Только активные"
                                    ></v-checkbox>
                                </v-card-title>
                                <v-data-table
                                        :headers="headers"
                                        :items="items"
                                        :search="search"
                                        hide-actions
                                >
                                    <template slot="items" slot-scope="props">
                                        <td class="text-xs-center"
                                            v-for="header in headers"
                                            :key="header.text">
                                            {{ props.item[header.value] }}
                                        </td>
                                    </template>
                                </v-data-table>
                            </v-card>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-btn dark>
                                    {{ createButtonTitle }}
                                </v-btn>

                                <v-btn dark>
                                    {{ createCopyButtonTitle }}
                                </v-btn>

                                <v-spacer></v-spacer>

                                <v-btn dark
                                href="/dictionary/outboxTemplate/edit">
                                    {{ showButtonTitle }}
                                </v-btn>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import Breadcrumbs from "../../components/Breadcrumbs";

    export default {
        name: "TemplateList",
        components: { Breadcrumbs },

        data: () => ({
            nextLinks: [
                {
                    text: "Список шаблонов ИК",
                    disabled: true,
                    href: ""
                }
            ],
            title: "Список шаблонов ИК",
            search: '',
            isActive: true,
            headers: [
                {text: 'Активные', align: 'center', value: 'active'},
                {text: 'Наименование', align: 'center', value: 'name'},
            ],
            items: [
                {
                    id: 1,
                    active: 'Да',
                    name: '940 Уведомление о поступлении заявки'
                },
                {
                    id: 2,
                    active: 'Да',
                    name: '740 Решение о принятии к рассмотрению заявки'
                }
            ],
            createButtonTitle: 'Создать',
            createCopyButtonTitle: 'Создать копир',
            showButtonTitle: 'Просмотр'
        })
    }
</script>

<style scoped>

</style>