<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md class="pt-2">

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-expansion-panel>
                                <v-expansion-panel-content>
                                    <template v-slot:header><span class="fips__subtitle">Фильтры</span></template>
                                    <v-layout row wrap>

                                        <v-flex xs12 md5 lg5 pl-3>
                                            <v-layout row wrap>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs6 md4 lg4>
                                                            <label class="unbold fips__label">Дата регистрации</label>
                                                        </v-flex>
                                                        <v-flex xs6 md8 lg8>
                                                            <v-layout row wrap>
                                                                <v-flex xs6 class="fips__row">
                                                                        <v-flex class="fips__datelabel">c</v-flex>
                                                                        <v-flex grow>
                                                                            <v-menu
                                                                                v-model="menuRegistrationFrom"
                                                                                :close-on-content-click="false"
                                                                                :nudge-right="40"
                                                                                lazy
                                                                                offset-y
                                                                                full-width
                                                                                min-width="290px"
                                                                            >
                                                                                <template v-slot:activator="{ on }">
                                                                                <v-text-field
                                                                                    v-model="registrationFrom"
                                                                                    v-on="on"
                                                                                    :items="registrationFromItems"
                                                                                    name="registrationFrom"
                                                                                    id="registrationFrom"
                                                                                    placeholder="Введите дату"
                                                                                    append-icon="mdi-chevron-down"
                                                                                ></v-text-field>
                                                                                </template>
                                                                                <v-date-picker v-model="registrationFrom" @input="menuRegistrationFrom = false"></v-date-picker>
                                                                            </v-menu>
                                                                        </v-flex>
                                                                </v-flex>
                                                                <v-flex xs6 class="fips__row">
                                                                        <v-flex class="fips__datelabel">по</v-flex>
                                                                        <v-flex grow>
                                                                            <v-menu
                                                                                v-model="menuRegistrationTo"
                                                                                :close-on-content-click="false"
                                                                                :nudge-right="40"
                                                                                lazy
                                                                                offset-y
                                                                                full-width
                                                                                min-width="290px"
                                                                            >
                                                                                <template v-slot:activator="{ on }">
                                                                                <v-text-field
                                                                                    v-model="registrationTo"
                                                                                    v-on="on"
                                                                                    :items="registrationToItems"
                                                                                    name="registrationTo"
                                                                                    id="registrationTo"
                                                                                    placeholder="Введите дату"
                                                                                    append-icon="mdi-chevron-down"
                                                                                ></v-text-field>
                                                                                </template>
                                                                                <v-date-picker v-model="registrationTo" @input="menuRegistrationTo = false"></v-date-picker>
                                                                            </v-menu>
                                                                        </v-flex>
                                                                </v-flex>
                                                            </v-layout>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="regNumber" class="unbold fips__label">Регистрационный номер</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-text-field
                                                                type="text"
                                                                name="regNumber"
                                                                id="regNumber"
                                                                v-model="regNumber"
                                                                placeholder="Введите регистрационный номер"
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="docType" class="unbold fips__label">Вид документа</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-combobox
                                                                v-model="docType"
                                                                :items="docTypeItems"
                                                                name="docType"
                                                                id="docType"
                                                                placeholder="Выберите вид документа"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="destination" class="unbold fips__label">Адресат</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-combobox
                                                                v-model="destination"
                                                                :items="destinationItems"
                                                                name="destination"
                                                                id="destination"
                                                                placeholder="Выберите адресата"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="address" class="unbold fips__label">Адрес</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-text-field
                                                                type="text"
                                                                name="address"
                                                                id="address"
                                                                v-model="address"
                                                                placeholder="Введите адрес"
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md5 lg5 offset-md1 offset-lg-1>
                                            <v-layout row wrap>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs6 md4 lg4>
                                                            <label class="unbold fips__label">Дата создания</label>
                                                        </v-flex>
                                                        <v-flex xs6 md8 lg8>
                                                            <v-layout row wrap>
                                                                <v-flex xs6 class="fips__row">
                                                                        <v-flex class="fips__datelabel">c</v-flex>
                                                                        <v-flex grow>
                                                                            <v-menu
                                                                                v-model="menuCreationFrom"
                                                                                :close-on-content-click="false"
                                                                                :nudge-right="40"
                                                                                lazy
                                                                                offset-y
                                                                                full-width
                                                                                min-width="290px"
                                                                            >
                                                                                <template v-slot:activator="{ on }">
                                                                                <v-text-field
                                                                                    v-model="creationFrom"
                                                                                    v-on="on"
                                                                                    :items="creationFromItems"
                                                                                    name="creationFrom"
                                                                                    id="creationFrom"
                                                                                    placeholder="Введите дату"
                                                                                    append-icon="mdi-chevron-down"
                                                                                ></v-text-field>
                                                                                </template>
                                                                                <v-date-picker v-model="creationFrom" @input="menuCreationFrom = false"></v-date-picker>
                                                                            </v-menu>
                                                                        </v-flex>
                                                                </v-flex>
                                                                <v-flex xs6 class="fips__row">
                                                                        <v-flex class="fips__datelabel">по</v-flex>
                                                                        <v-flex grow>
                                                                            <v-menu
                                                                                v-model="menuCreationTo"
                                                                                :close-on-content-click="false"
                                                                                :nudge-right="40"
                                                                                lazy
                                                                                offset-y
                                                                                full-width
                                                                                min-width="290px"
                                                                            >
                                                                                <template v-slot:activator="{ on }">
                                                                                <v-text-field
                                                                                    v-model="creationTo"
                                                                                    v-on="on"
                                                                                    :items="creationToItems"
                                                                                    name="creationTo"
                                                                                    id="creationTo"
                                                                                    placeholder="Введите дату"
                                                                                    append-icon="mdi-chevron-down"
                                                                                ></v-text-field>
                                                                                </template>
                                                                                <v-date-picker v-model="creationTo" @input="menuCreationTo = false"></v-date-picker>
                                                                            </v-menu>
                                                                        </v-flex>
                                                                </v-flex>
                                                            </v-layout>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="taskStatus" class="unbold fips__label">Статус</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-combobox
                                                                v-model="status"
                                                                :items="statusItems"
                                                                name="status"
                                                                id="status"
                                                                placeholder="Выберите статус"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="OICnumber" class="unbold fips__label">Номер ОИС</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-text-field
                                                                type="text"
                                                                name="OICnumber"
                                                                id="OICnumber"
                                                                v-model="OICnumber"
                                                                placeholder="Введите номер ОИС"
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="documentEntry" class="unbold fips__label">Номер вх.</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-text-field
                                                                type="text"
                                                                name="documentEntry"
                                                                id="documentEntry"
                                                                v-model="documentEntry"
                                                                placeholder="Введите номер вх."
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="executor" class="unbold fips__label">Исполнитель</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-combobox
                                                                v-model="executor"
                                                                :items="executorItems"
                                                                name="executor"
                                                                id="executor"
                                                                placeholder="Выберите исполнителя"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md12 lg12 ml-3>
                                            <v-layout row wrap>
                                                <v-btn dark>Поиск</v-btn>
                                                <v-btn dark>Очистить</v-btn>
                                                <v-menu offset-y>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn color="primary" dark v-on="on">Экспорт</v-btn>
                                                    </template>
                                                    <v-list>
                                                        <v-list-tile v-for="(item, index) in exportItems" :key="index">
                                                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                                                        </v-list-tile>
                                                    </v-list>
                                                </v-menu>
                                            </v-layout>
                                        </v-flex>
                                    </v-layout>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-data-table
                                :headers="headers"
                                :items="filteredItems"
                                item-key="id"
                                :pagination.sync="pagination"
                                hide-actions
                            >
                                <template #items="props">
                                    <td>{{ props.item.regNumber }}</td>
                                    <td>{{ getFormattedDate(props.item.registrationDate) }}</td>
                                    <td>{{ props.item.docType }}</td>
                                    <td>{{ getFormattedDate(props.item.creationDate) }}</td>
                                    <td>{{ props.item.destination }}</td>
                                    <td>{{ props.item.address }}</td>
                                    <td>{{ props.item.OIC }}</td>
                                    <td>{{ props.item.documentEntry }}</td>
                                    <td>{{ props.item.status }}</td>
                                    <td>{{ props.item.executor }}</td>
                                </template>
                            </v-data-table>

                            <div class="text-xs-center py-4">
                                <v-pagination v-model="pagination.page"
                                    class="taskpagination"
                                    :length="pages"
                                ></v-pagination>
                            </div>
                        </div>
                    </v-flex>
                </v-layout>

            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import * as moment from 'moment';
import { default as Breadcrumbs } from '../../components/Breadcrumbs';

export default {
    components: { Breadcrumbs },
    data: () => ({
        title: 'Журнал исходящей корреспонденции',
        nextLinks: [
            {
                text: 'Формы',
                disabled: false,
                href: '/forms/overview',
            },
            {
                text: 'Журнал исходящей корреспонденции',
                disabled: true,
                href: '/journal/outbox/all',
            },
        ],
        pagination: {
            rowsPerPage: 5
        },
        exportItems: [
            {
                title: 'Экспорт 1',
            },
            {
                title: 'Экспорт 2',
            },
            {
                title: 'Экспорт 3',
            },
        ],
        headers: [
            {
                text: 'Рег. номер',
                sortable: false,
            },
            {
                text: 'Дата регистрации',
                sortable: false,
            },
            {
                text: 'Вид документа',
                sortable: false,
            },
            {
                text: 'Дата создания',
                sortable: false,
            },
            {
                text: 'Адресат',
                sortable: false,
            },
            {
                text: 'Адрес',
                sortable: false,
            },
            {
                text: 'Номер ОИС',
                sortable: false,
            },
            {
                text: 'Ном. вх.',
                sortable: false,
            },
            {
                text: 'Статус',
                sortable: false,
            },
            {
                text: 'Исполнитель',
                sortable: false,
            },
            
        ],
        filteredItems: [],
        tableItems: [
            {
                id: 1,
                regNumber: 564465,
                registrationDate: new Date().setDate(new Date().getDate - 3),
                docType: 221,
                creationDate: new Date(),
                destination: 'Адресат 1',
                address: 'Адрес 1',
                OIC: '',
                documentEntry: 'вх. 1',
                status: 'Готов',
                executor: 'Титов В. М.',
            },
            {
                id: 2,
                regNumber: 123284,
                registrationDate: new Date().setDate(new Date().getDate - 2),
                docType: 740,
                creationDate: new Date(),
                destination: 'Адресат 2',
                address: 'Адрес 2',
                OIC: '',
                documentEntry: 'вх. 2',
                status: 'Отправка',
                executor: 'Суханов Г. М.',
            },
        ],
        menuRegistrationFrom: false,
        menuRegistrationTo: false,
        menuCreationFrom: false,
        menuCreationTo: false,
        registrationFromItems: [],
        registrationToItems: [],
        creationFromItems: [],
        creationToItems: [],
        docTypeItems: [],
        destinationItems: [],
        statusItems: [],
        executorItems: [],
        registrationFrom: '',
        registrationTo: '',
        regNumber: '',
        docType: '',
        destination: '',
        address: '',
        creationFrom: '',
        creationTo: '',
        status: '',
        OICnumber: '',
        documentEntry: '',
        executor: '',
    }),
    mounted: function() {
        this.filteredItems = this.tableItems;
    },
    methods: {
        getFormattedDate: (date) => moment(date).format("DD.MM.YYYY")
    },
    computed: {
        pages() {
            if (this.pagination.rowsPerPage == null || this.filteredItems.length == null)
                return 0;

            return Math.ceil(
                this.filteredItems.length / this.pagination.rowsPerPage
            );
        }
    }
}
</script>

<style>
    .fips__datelabel {
        margin: 7px 8px;
    }

    .unbold {
        font-weight: 100;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header {
        border-left: 0;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__header {
        border: 0;
        background: none;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header:hover {
        border: 0;
        background: none;
    }
    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__body {
        border-left: 0;
    }
</style>