<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md class="pt-2">

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12 md lg12>
                                    <v-layout row wrap fill-height align-center>
                                        <v-flex xs12 md2 lg2>
                                            <span>
                                                Общий вес <label class="fips__datelabel"> {{totalWeight}}</label>
                                            </span>
                                        </v-flex>

                                        <v-flex xs12 md2 lg2>
                                            <span>
                                                Вес частей <label class="fips__datelabel"> {{itemsWeight}}</label>
                                            </span>
                                        </v-flex>

                                        <v-flex xs12 md2 lg2>
                                            <v-layout row wrap>
                                                <span>
                                                    Разница <label class="fips__datelabel"> {{itemsWeight - totalWeight}}</label>
                                                </span>
                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md6 lg6>
                                            <v-layout row wrap>
                                                <v-flex xs12 md9 lg9>
                                                    <v-layout row wrap fill-height align-center>
                                                        <v-flex xs12 md3 lg3>
                                                            <label for="partWeight" class="unbold fips__datelabel">Вес части</label>
                                                        </v-flex>
                                                        <v-flex xs12 md9 lg9 style="margin-top:2px">
                                                            <v-text-field
                                                                type="number"
                                                                name="partWeight"
                                                                id="partWeight"
                                                                v-model="partWeight"
                                                                placeholder="Введите вес части"
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md3 lg3>
                                                    <v-layout row wrap>
                                                        <v-btn dark @click="addItem">+</v-btn>
                                                        <v-btn dark @click="openDeletingDialog">-</v-btn>
                                                    </v-layout>
                                                </v-flex>

                                            </v-layout>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-data-table
                                v-model="selected"
                                :headers="headers"
                                :items="items"
                                item-key="id"
                                :pagination.sync="pagination"
                                hide-actions
                                select-all
                            >
                                <template #items="props">
                                    <td>
                                        <v-checkbox
                                            v-model="props.selected"
                                            primary
                                            hide-details
                                        ></v-checkbox>
                                    </td>
                                    <td>{{ props.item.id }}</td>
                                    <td>{{ props.item.weight }}</td>
                                </template>
                            </v-data-table>

                            <div class="text-xs-center py-4">
                                <v-pagination v-model="pagination.page"
                                    class="taskpagination"
                                    :length="pages"
                                ></v-pagination>
                            </div>

                            <v-flex xs12 md12 lg12>
                                <v-layout row wrap justify-space-between>
                                    <v-flex xs6 md1 lg1>
                                        <v-btn dark>Готово</v-btn>
                                    </v-flex>
                                    <v-flex xs6 md1 lg1>
                                        <v-btn dark href="/outbox/send">Отмена</v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </div>
                    </v-flex>
                </v-layout>

                <dictionary-dialog 
                    :dialog="dialog"
                    :dialogTitle="dialogTitle"
                    :successButtonTitle="successButtonTitle"
                    :closeButtonTitle="closeButtonTitle"
                    :successAction="successAction"
                    :maxWidth="maxWidth"
                    @closeDialog="closeDialog"
                    @deleteItem="deleteItems"
                ></dictionary-dialog>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import { default as Breadcrumbs } from '../../components/Breadcrumbs';
import DictionaryDialog from "../../components/dictionary/DictionaryDialog";

export default {
    components: { Breadcrumbs, DictionaryDialog },
    data: () => ({
        title: 'Разделение отправки',
        nextLinks: [
            {
                text: 'Формы',
                disabled: false,
                href: '/forms/overview',
            },
            {
                text: 'Разделение отправки',
                disabled: true,
                href: '/journal/outbox/separation',
            },
        ],
        pagination: {
            rowsPerPage: 5
        },
        headers: [
            {
                text: 'Часть',
                sortable: false,
            },
            {
                text: 'Вес',
                sortable: false,
            },
        ],
        selected: [],
        items: [
            {
                id: 1,
                weight: 1900,
            },
            {
                id: 2,
                weight: 1560,
            },
            {
                id: 3,
                weight: 1860,
            },
            {
                id: 4,
                weight: 1240,
            },
        ],
        totalWeight: 5680,
        partWeight: 0,
        dialog: false,
        maxWidth: 500,
        successAction: '',
        dialogTitle: 'Вы уверены, что хотите удалить объект?',
        successButtonTitle: 'OK',
        closeButtonTitle: 'Отмена',
    }),
    methods: {
        addItem: function() {
            this.items.push({ id: this.items[this.items.length-1].id + 1, weight: +this.partWeight });
            this.partWeight = 0;
        },
        deleteItems: function() {
            this.items = this.items.filter( elem => !this.selected.some( e => e.id === elem.id ) );
            this.closeDialog();
        },
        openDeletingDialog() {
            this.dialogTitle = 'Вы уверены, что хотите удалить объект?';
            this.successButtonTitle = 'OK';
            this.closeButtonTitle = 'Отмена';
            this.successAction = 'deleteItem';
            this.maxWidth = 500;
            this.isTable = false;
            this.dialog = true;
        },
        closeDialog() {
            this.dialog = false;
            this.item = null;
        },
    },
    computed: {
        itemsWeight: function() {
            return this.items.reduce( (weight, item) => weight + item.weight, 0);
        },
        pages() {
            if (this.pagination.rowsPerPage == null || this.items.length == null)
                return 0;

            return Math.ceil(
                this.items.length / this.pagination.rowsPerPage
            );
        }
    },
}
</script>

<style scoped>
    .fips__datelabel {
        margin: 7px 8px;
        font-weight: bold;
    }

    .unbold {
        font-weight: 100;
    }
</style>