<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md class="pt-2">
                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12 md6 lg6>

                                    <v-flex xs12 md12 lg12>
                                        <v-layout row wrap>
                                            <v-flex xs12 md4 lg4>
                                                <label for="sendingType" class="fips__label">Вид отпр.:</label>
                                            </v-flex>
                                            <v-flex xs12 md8 lg8>
                                                <v-combobox
                                                    v-model="mailInfo.sendingType"
                                                    :items="sendingTypeItems"
                                                    name="sendingType"
                                                    id="sendingType"
                                                    placeholder="Выберите вид отправки"
                                                    append-icon="mdi-chevron-down"
                                                ></v-combobox>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                    
                                    <v-flex xs12 md12 lg12>
                                        <v-layout row wrap>
                                            <v-flex xs12 md4 lg4>
                                                <label for="invoiceNumber" class="fips__label">Номер РПО/накладной</label>
                                            </v-flex>
                                            <v-flex xs12 md8 lg8>
                                                <v-text-field
                                                    type="text"
                                                    name="invoiceNumber"
                                                    id="invoiceNumber"
                                                    v-model="mailInfo.invoiceNumber"
                                                    placeholder="Введите номер накладной"
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex xs12 md12 lg12>
                                        <v-layout row wrap>
                                                <v-flex xs12 md12 lg12>
                                                    <v-data-table
                                                        v-model="selected"
                                                        :headers="outgoingMailTableHeaders"
                                                        :items="outgoingMailTableItems"
                                                        :pagination.sync="pagination"
                                                        item-key="id"
                                                        hide-actions
                                                        select-all
                                                    >
                                                        <template #items="props">
                                                            <td>
                                                                <v-checkbox
                                                                    v-model="props.selected"
                                                                    primary
                                                                    hide-details
                                                                ></v-checkbox>
                                                            </td>
                                                            <td>{{ props.item.docType }}</td>
                                                            <td>{{ props.item.regNumber }}</td>
                                                            <td>{{ getFormatedDate(props.item.date) }}</td>
                                                            <td>{{ props.item.weight }}</td>
                                                            <td>{{ props.item.sheetsNumber }}</td>
                                                        </template>
                                                    </v-data-table>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12 class="text-xs-center py-3">
                                                    <v-layout row wrap>
                                                        <v-flex xs6>
                                                            <v-pagination v-model="pagination.page"
                                                                        class="taskpagination"
                                                                        :length="pages"
                                                            ></v-pagination>
                                                        </v-flex>
                                                        <v-flex xs6>
                                                            <v-btn dark @click="openDeletingDialog">Удалить</v-btn>
                                                            <v-btn dark @click="openNewItemDialog">Добавить</v-btn>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                        </v-layout>
                                    </v-flex>

                                    <v-flex xs12 md12 lg12>
                                        <v-layout row wrap>
                                            <v-flex xs12 md8 lg8>
                                                <v-layout column wrap>
                                                    <div class="fips__box pa-2">
                                                        <v-flex xs12><label class="fips__label">Отправка</label></v-flex>
                                                        
                                                        <v-flex xs12>
                                                            <v-layout row wrap>
                                                                <v-flex xs6 md6 lg6>
                                                                    <label class="fips__shortlabel">Исполнитель</label>
                                                                </v-flex>
                                                                <v-flex xs6 md6 lg6>
                                                                    <label class="fips__shortlabel">{{mailInfo.sending.executor}}</label>
                                                                </v-flex>
                                                            </v-layout>
                                                        </v-flex>

                                                        <v-flex xs12>
                                                            <v-layout row wrap fill-height align-center>
                                                                <v-flex xs12 md6 lg6>
                                                                    <label class="fips__shortlabel">Отправлено:</label>
                                                                </v-flex>
                                                                <v-flex xs12 md6 lg6 mt-1>
                                                                    <v-menu
                                                                        v-model="menuSendDate"
                                                                        :close-on-content-click="false"
                                                                        :nudge-right="40"
                                                                        lazy
                                                                        offset-y
                                                                        full-width
                                                                        min-width="290px"
                                                                    >
                                                                        <template v-slot:activator="{ on }">
                                                                        <v-text-field
                                                                            v-model="mailInfo.sendDate"
                                                                            v-on="on"
                                                                            :items="sendDateItems"
                                                                            name="sendDate"
                                                                            id="sendDate"
                                                                            placeholder="Введите дату"
                                                                            append-icon="mdi-chevron-down"
                                                                        ></v-text-field>
                                                                        </template>
                                                                        <v-date-picker v-model="mailInfo.sendDate" @input="menuSendDate = false"></v-date-picker>
                                                                    </v-menu>
                                                                </v-flex>
                                                            </v-layout>
                                                        </v-flex>

                                                        <v-flex xs12>
                                                            <v-layout row wrap fill-height align-center>
                                                                <v-flex xs12 md6 lg6>
                                                                    <label class="fips__shortlabel">Вес (г)</label>
                                                                </v-flex>
                                                                <v-flex xs12 md6 lg6 mt-1>
                                                                    <v-text-field
                                                                        type="text"
                                                                        name="weight"
                                                                        id="weight"
                                                                        v-model="mailInfo.sending.weight"
                                                                        placeholder="Введите вес"
                                                                    ></v-text-field>
                                                                </v-flex>
                                                            </v-layout>
                                                        </v-flex>
                                                    </div>
                                                </v-layout>
                                            </v-flex>
                                            <v-flex xs12 md4 lg4 mt-0 pt-0>
                                                <v-layout row wrap>
                                                    <v-flex xs12 md12 lg12>
                                                        <div class="fips__box">
                                                            <v-flex xs12 md12 lg12><label class="fips__label">Связанные отправки</label></v-flex>

                                                            <v-flex xs12 md12 lg12>
                                                                <v-layout row wrap>
                                                                    <v-flex xs12 md12 lg12>
                                                                        <v-layout column wrap>
                                                                            <v-flex xs12 md12 lg12 ml-1 v-for="(item, index) in relatedItems" :key="index">
                                                                                <span>{{`${item.text} ${item.weight}`}}</span>
                                                                            </v-flex>
                                                                        </v-layout>
                                                                    </v-flex>
                                                                </v-layout>
                                                            </v-flex>
                                                        </div>
                                                    </v-flex>
                                                    <v-flex xs12 md12 lg12>
                                                        <v-btn dark href="/journal/outbox/separation">Разделить</v-btn>
                                                    </v-flex>
                                                </v-layout>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                </v-flex>
                                <v-flex xs12 md5 lg5 offset-md1 offset-lg1>
                                    <v-layout column wrap>

                                        <v-flex xs12 md12 lg12>
                                            <v-layout row wrap>
                                                <v-flex xs12 md4 lg4>
                                                    <label for="direction" class="fips__label">Направление</label>
                                                </v-flex>
                                                <v-flex xs12 md8 lg8>
                                                    <v-combobox
                                                        v-model="mailInfo.mailData.direction"
                                                        :items="directionItems"
                                                        name="direction"
                                                        id="direction"
                                                        placeholder="Выберите направление"
                                                        append-icon="mdi-chevron-down"
                                                    ></v-combobox>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md12 lg12>
                                            <v-layout row wrap>
                                                <v-flex xs12 md4 lg4>
                                                    <label for="country" class="unbold fips__label">Страна</label>
                                                </v-flex>
                                                <v-flex xs12 md8 lg8>
                                                    <v-text-field
                                                        type="text"
                                                        name="country"
                                                        id="country"
                                                        v-model="mailInfo.mailData.country"
                                                        placeholder="Введите страну"
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md12 lg12>
                                            <v-layout row wrap>
                                                <v-flex xs12 md4 lg4>
                                                    <label for="postcode" class="unbold fips__label">Индекс</label>
                                                </v-flex>
                                                <v-flex xs12 md8 lg8>
                                                    <v-text-field
                                                        type="text"
                                                        name="postcode"
                                                        id="postcode"
                                                        v-model="mailInfo.mailData.postcode"
                                                        placeholder="Введите индекс"
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md12 lg12>
                                            <v-layout row wrap>
                                                <v-flex xs12 md4 lg4>
                                                    <label for="locality" class="unbold fips__label">Населенный пункт</label>
                                                </v-flex>
                                                <v-flex xs12 md8 lg8>
                                                    <v-text-field
                                                        type="text"
                                                        name="locality"
                                                        id="locality"
                                                        v-model="mailInfo.mailData.locality"
                                                        placeholder="Введите населенный пункт"
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md12 lg12>
                                            <v-layout row wrap>
                                                <v-flex xs12 md4 lg4>
                                                    <label for="territory" class="unbold fips__label">Территория</label>
                                                </v-flex>
                                                <v-flex xs12 md8 lg8>
                                                    <v-text-field
                                                        type="text"
                                                        name="territory"
                                                        id="territory"
                                                        v-model="mailInfo.mailData.territory"
                                                        placeholder="Введите территорию"
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md12 lg12>
                                            <v-layout row wrap>
                                                <v-flex xs12 md4 lg4>
                                                    <label for="street" class="unbold fips__label">Улица</label>
                                                </v-flex>
                                                <v-flex xs12 md8 lg8>
                                                    <v-text-field
                                                        type="text"
                                                        name="street"
                                                        id="street"
                                                        v-model="mailInfo.mailData.street"
                                                        placeholder="Введите улицу"
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md12 lg12>
                                            <v-layout row wrap>
                                                <v-flex xs5 md5 lg5>
                                                    <v-layout row wrap fill-height align-center>
                                                        <v-flex xs6 md6 lg6>
                                                            <label for="building" class="unbold fips__shortlabel">Здание</label>
                                                        </v-flex>
                                                        <v-flex xs6 md6 lg6>
                                                            <v-text-field
                                                                type="text"
                                                                name="building"
                                                                id="building"
                                                                v-model="mailInfo.mailData.building"
                                                                placeholder="Здание"
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                                <v-flex xs5 md5 lg5 offset-xs1 offset-md1 offset-lg1>
                                                    <v-layout row wrap fill-height align-center>
                                                        <v-flex xs6 md6 lg6>
                                                            <label for="buildingNumber" class="unbold fips__shortlabel">Корпус</label>
                                                        </v-flex>
                                                        <v-flex xs6 md6 lg6>
                                                            <v-text-field
                                                                type="text"
                                                                name="buildingNumber"
                                                                id="buildingNumber"
                                                                v-model="mailInfo.mailData.buildingNumber"
                                                                placeholder="Корпус"
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md12 lg12>
                                            <v-layout row wrap>
                                                <v-flex xs5 md5 lg5>
                                                    <v-layout row wrap fill-height align-center>
                                                        <v-flex xs6 md6 lg6>
                                                            <label for="structure" class="unbold fips__shortlabel">Строение</label>
                                                        </v-flex>
                                                        <v-flex xs6 md6 lg6>
                                                            <v-text-field
                                                                type="text"
                                                                name="structure"
                                                                id="structure"
                                                                v-model="mailInfo.mailData.structure"
                                                                placeholder="Строение"
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                                <v-flex xs5 md5 lg5 offset-xs1 offset-md1 offset-lg1>
                                                    <v-layout row wrap fill-height align-center>
                                                        <v-flex xs6 md6 lg6>
                                                            <label for="room" class="unbold fips__shortlabel">Помещение</label>
                                                        </v-flex>
                                                        <v-flex xs6 md6 lg6>
                                                            <v-text-field
                                                                type="text"
                                                                name="room"
                                                                id="room"
                                                                v-model="mailInfo.mailData.room"
                                                                placeholder="Помещение"
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md12 lg12>
                                            <v-layout row wrap>
                                                <v-flex xs12 md4 lg4>
                                                    <label for="comment" class="unbold fips__label">Комментарий</label>
                                                </v-flex>
                                                <v-flex xs12 md8 lg8>
                                                    <v-text-field
                                                        type="text"
                                                        name="comment"
                                                        id="comment"
                                                        v-model="mailInfo.mailData.comment"
                                                        placeholder="Введите комментарий"
                                                    ></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>

                                        <v-flex xs12 md12 lg12>
                                            <v-layout row wrap>
                                                <v-flex xs12 md5 lg5>
                                                    <v-layout column wrap>
                                                        <v-flex xs12 md12 lg12>
                                                            <label for="comment" class="unbold fips__label">Адрес для переписки</label>
                                                        </v-flex>
                                                        <v-flex xs12 md12 lg12>
                                                            <v-textarea
                                                            name="input-7-1"
                                                            filled
                                                            auto-grow
                                                            disabled
                                                            v-model="mailInfo.mailData.correspondenceAddress"
                                                            ></v-textarea>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                                <v-flex xs12 md5 lg5 offset-md1 offset-lg1>
                                                    <v-layout column wrap>
                                                        <v-flex xs12 md12 lg12>
                                                            <label for="comment" class="unbold fips__label">Адрес для конверта</label>
                                                        </v-flex>
                                                        <v-flex xs12 md12 lg12>
                                                            <v-textarea
                                                            name="input-7-1"
                                                            filled
                                                            auto-grow
                                                            v-model="mailInfo.mailData.envelopeAddress"
                                                            ></v-textarea>
                                                        </v-flex>
                                                        <v-flex xs12 md12 lg12>
                                                            <span v-if="mailInfo.mailData.envelopeAddress.length < 61">
                                                                {{`${mailInfo.mailData.envelopeAddress.length} символов (из 60)`}}
                                                                </span>
                                                            <span v-else class="red--text">
                                                                {{`${mailInfo.mailData.envelopeAddress.length} символов (из 60) Превышение!`}}
                                                            </span>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>

                                    </v-layout>
                                </v-flex>
                                <v-flex xs12 md12 lg12>
                                    <v-layout row wrap>
                                        <v-flex xs12 md6 lg6>
                                            <v-btn dark>Печать реестра для Парт.почты</v-btn>
                                            <v-btn dark>Сохранить</v-btn>
                                        </v-flex>
                                        <v-flex xs12 md6 lg6 justify-end>
                                            <v-btn dark>Печать мал. конверт</v-btn>
                                            <v-btn dark>Печать бол. конверт</v-btn>
                                            <v-btn dark href="/forms/overview">Закрыть</v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <dictionary-dialog 
                    :dialog="dialog"
                    :dialogTitle="dialogTitle"
                    :successButtonTitle="successButtonTitle"
                    :closeButtonTitle="closeButtonTitle"
                    :item="item"
                    :headers="dialogHeaders"
                    :successAction="successAction"
                    :maxWidth="maxWidth"
                    @closeDialog="closeDialog"
                    @newItem="addOutgoingMail"
                    @deleteItem="deleteOutgoingMail"
                ></dictionary-dialog>

            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import * as moment from 'moment';
import { default as Breadcrumbs } from '../../components/Breadcrumbs';
import DictionaryDialog from "../../components/dictionary/DictionaryDialog";

export default {
    components: { Breadcrumbs, DictionaryDialog },
    data: () => ({
        title: `Отправка от ${moment(new Date()).format('DD.MM.YYYY')}\xa0\xa0\xa0\xa0\xa0\xa0Адресат: Какой-то адресат`,
        nextLinks: [
            {
                text: "Формы",
                disabled: false,
                href: "/forms/overview"
            },
            {
                text: "Отправка ИК",
                disabled: true,
                href: "/outbox/send"
            },
        ],
        pagination: {
            rowsPerPage: 5
        },
        outgoingMailTableHeaders: [
            {
                text: 'Вид документа',
                sortable: false,
            },
            { 
                text: 'Рег. номер',
                sortable: false,
            },
            { 
                text: 'Дата',
                sortable: false,
            },
            { 
                text: 'Вес',
                sortable: false,
            },
            { 
                text: 'Листов всего',
                sortable: false,
            },
        ],
        outgoingMailTableItems: [
            {
                id: 1,
                docType: 730,
                regNumber: 876896868,
                date: new Date(2019, 9, 1),
                weight: 70,
                sheetsNumber: 2,
            },
            {
                id: 2,
                docType: 730,
                regNumber: 876896869,
                date: new Date(2019, 9, 1),
                weight: 70,
                sheetsNumber: 2,
            },
        ],
        relatedItems: [
            {
                id: 1,
                text: '1 -часть',
                weight: 1900,
            },
            {
                id: 2,
                text: '2 -часть',
                weight: 1950,
            },
            {
                id: 3,
                text: '3 -часть',
                weight: 1880,
            },
        ],
        sendingTypeItems: [],
        selected: [],
        sendDateItems: [],
        directionItems: [],
        menuSendDate: false,
        mailInfo: {
            sendingType: '',
            invoiceNumber: '',
            sending: {
                executor: 'Соколова Ю.А.',
                sendDate: '',
                weight: 0,
            },
            mailData: {
                direction: '',
                country: '',
                postcode: '',
                locality: '',
                territory: '',
                street: '',
                building: '',
                buildingNumber: '',
                structure: '',
                room: '',
                comment: '',
                correspondenceAddress: `212001\nРоссийская Федерация\nг. Воронеж\nул. Ленина д. 13 корп. 4\nООО "Дружба"`,
                envelopeAddress: '',
            },
        },
        dialog: false,
        item: null,
        maxWidth: 500,
        successAction: '',
        dialogTitle: 'Вы уверены, что хотите удалить объект?',
        successButtonTitle: 'OK',
        closeButtonTitle: 'Отмена',
        defaultItem: {
            'name': '',
            'docType': '', 
            'regNumber': '',
            'date': '',
            'weight': 0 ,
            'sheetsNumber': 0,
        },
        dialogHeaders: [
            {
                text: 'Наименование',
                value: 'name',
                required: true,
            },
            {
                text: 'Тип документа',
                value: 'docType',
                required: true,
            },
            {
                text: 'Регистрациооный номер',
                value: 'regNumber',
                required: true
            },
            {
                text: 'Дата',
                value: 'date',
                required: true,
                datePicker: true,
            },
            {
                text: 'Вес',
                value: 'weight',
                required: true
            },
            {
                text: 'Количество листов',
                value: 'sheetsNumber',
                required: true
            },
        ],
    }),
    methods: {
        getFormatedDate: (date) => moment(date).format('DD.MM.YYYY'),
        deleteOutgoingMail: function() {
            this.outgoingMailTableItems = this.outgoingMailTableItems.filter( elem => !this.selected.some( e => e.id === elem.id ) );
            this.closeDialog();
        },
        addOutgoingMail: function(newItem) {
            let length = this.outgoingMailTableItems.length;
            let lastItem = this.outgoingMailTableItems[length - 1];

            let createdItem = Object.assign({id: lastItem.id + 1}, newItem);

            this.outgoingMailTableItems.push(createdItem);

            this.item = null;
            this.dialog = false;
        },
        openNewItemDialog() {
            this.dialogTitle = 'Новая посылка';
            this.successButtonTitle = 'OK';
            this.closeButtonTitle = 'Отмена';
            this.item = Object.assign({}, this.defaultItem);
            this.successAction = 'newItem';
            this.maxWidth = 500;
            this.dialog = true;
        },

        openDeletingDialog() {
            this.dialogTitle = 'Вы уверены, что хотите удалить объект?';
            this.successButtonTitle = 'OK';
            this.closeButtonTitle = 'Отмена';
            this.successAction = 'deleteItem';
            this.maxWidth = 500;
            this.isTable = false;
            this.dialog = true;
        },
        closeDialog() {
            this.dialog = false;
            this.item = null;
        },
        addItem(newItem) {
            let item = Object.assign({}, newItem);

            this.items.push(item);

            this.item = null;
            this.dialog = false;

            this.addToHistory(Object.assign({}, item), 'created');
        },
    },
    computed: {
        pages() {
            if (this.pagination.rowsPerPage == null || this.outgoingMailTableItems.length == null)
                return 0;

            return Math.ceil(
                this.outgoingMailTableItems.length / this.pagination.rowsPerPage
            );
        }
    }
}
</script>

<style scoped>
    .fips__shortlabel {
        margin: 7px 8px 7px 0px;
        font-weight: bold;
    }

    .unbold {
        font-weight: 100;
    }
</style>