<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md class="pt-2">

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-expansion-panel>
                                <v-expansion-panel-content>
                                    <template v-slot:header><span class="fips__subtitle">Фильтры</span></template>
                                    <v-layout row wrap>
                                        <v-flex xs12 md5 lg5 pl-3>
                                            <v-layout row wrap>
                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs6 md4 lg4>
                                                            <label class="unbold fips__label">Дата регистрации</label>
                                                        </v-flex>
                                                        <v-flex xs6 md8 lg8>
                                                            <v-layout row wrap>
                                                                <v-flex xs6 class="fips__row">
                                                                        <v-flex class="fips__datelabel">c</v-flex>
                                                                        <v-flex grow>
                                                                            <v-menu
                                                                                v-model="menuRegistrationFrom"
                                                                                :close-on-content-click="false"
                                                                                :nudge-right="40"
                                                                                lazy
                                                                                offset-y
                                                                                full-width
                                                                                min-width="290px"
                                                                            >
                                                                                <template v-slot:activator="{ on }">
                                                                                <v-text-field
                                                                                    v-model="registrationFrom"
                                                                                    v-on="on"
                                                                                    :items="registrationFromItems"
                                                                                    name="registrationFrom"
                                                                                    id="registrationFrom"
                                                                                    placeholder="Введите дату"
                                                                                    append-icon="mdi-chevron-down"
                                                                                ></v-text-field>
                                                                                </template>
                                                                                <v-date-picker v-model="registrationFrom" @input="menuRegistrationFrom = false"></v-date-picker>
                                                                            </v-menu>
                                                                        </v-flex>
                                                                </v-flex>
                                                                <v-flex xs6 class="fips__row">
                                                                        <v-flex class="fips__datelabel">по</v-flex>
                                                                        <v-flex grow>
                                                                            <v-menu
                                                                                v-model="menuRegistrationTo"
                                                                                :close-on-content-click="false"
                                                                                :nudge-right="40"
                                                                                lazy
                                                                                offset-y
                                                                                full-width
                                                                                min-width="290px"
                                                                            >
                                                                                <template v-slot:activator="{ on }">
                                                                                <v-text-field
                                                                                    v-model="registrationTo"
                                                                                    v-on="on"
                                                                                    :items="registrationToItems"
                                                                                    name="registrationTo"
                                                                                    id="registrationTo"
                                                                                    placeholder="Введите дату"
                                                                                    append-icon="mdi-chevron-down"
                                                                                ></v-text-field>
                                                                                </template>
                                                                                <v-date-picker v-model="registrationTo" @input="menuRegistrationTo = false"></v-date-picker>
                                                                            </v-menu>
                                                                        </v-flex>
                                                                </v-flex>
                                                            </v-layout>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="regNumber" class="unbold fips__label">Регистрационный номер</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-text-field
                                                                type="text"
                                                                name="regNumber"
                                                                id="regNumber"
                                                                v-model="regNumber"
                                                                placeholder="Введите регистрационный номер"
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="docType" class="unbold fips__label">Вид документа</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-combobox
                                                                v-model="docType"
                                                                :items="docTypeItems"
                                                                name="docType"
                                                                id="docType"
                                                                placeholder="Выберите вид документа"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="destination" class="unbold fips__label">Адресат</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-combobox
                                                                v-model="destination"
                                                                :items="destinationItems"
                                                                name="destination"
                                                                id="destination"
                                                                placeholder="Выберите адресата"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="address" class="unbold fips__label">Адрес</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-text-field
                                                                type="text"
                                                                name="address"
                                                                id="address"
                                                                v-model="address"
                                                                placeholder="Введите адрес"
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="sendingType" class="unbold fips__label">Способ отправки</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-combobox
                                                                v-model="sendingType"
                                                                :items="sendingTypeItems"
                                                                name="sendingType"
                                                                id="sendingType"
                                                                placeholder="Выберите способ отправки"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                            </v-layout>
                                        </v-flex>
                                        <v-flex xs12 md5 lg5 offset-md1 offset-lg-1>
                                            <v-layout row wrap>
                                                
                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs6 md4 lg4>
                                                            <label class="unbold fips__label">Дата отправки</label>
                                                        </v-flex>
                                                        <v-flex xs6 md8 lg8>
                                                            <v-layout row wrap>
                                                                <v-flex xs6 class="fips__row">
                                                                        <v-flex class="fips__datelabel">c</v-flex>
                                                                        <v-flex grow>
                                                                            <v-menu
                                                                                v-model="menuDepartureDateFrom"
                                                                                :close-on-content-click="false"
                                                                                :nudge-right="40"
                                                                                lazy
                                                                                offset-y
                                                                                full-width
                                                                                min-width="290px"
                                                                            >
                                                                                <template v-slot:activator="{ on }">
                                                                                <v-text-field
                                                                                    v-model="departureDateFrom"
                                                                                    v-on="on"
                                                                                    :items="departureDateFromItems"
                                                                                    name="departureDateFrom"
                                                                                    id="departureDateFrom"
                                                                                    placeholder="Введите дату"
                                                                                    append-icon="mdi-chevron-down"
                                                                                ></v-text-field>
                                                                                </template>
                                                                                <v-date-picker v-model="departureDateFrom" @input="menuDepartureDateFrom = false"></v-date-picker>
                                                                            </v-menu>
                                                                        </v-flex>
                                                                </v-flex>
                                                                <v-flex xs6 class="fips__row">
                                                                        <v-flex class="fips__datelabel">по</v-flex>
                                                                        <v-flex grow>
                                                                            <v-menu
                                                                                v-model="menuDepartureDateTo"
                                                                                :close-on-content-click="false"
                                                                                :nudge-right="40"
                                                                                lazy
                                                                                offset-y
                                                                                full-width
                                                                                min-width="290px"
                                                                            >
                                                                                <template v-slot:activator="{ on }">
                                                                                <v-text-field
                                                                                    v-model="registrationTo"
                                                                                    v-on="on"
                                                                                    :items="departureDateToItems"
                                                                                    name="departureDateTo"
                                                                                    id="departureDateTo"
                                                                                    placeholder="Введите дату"
                                                                                    append-icon="mdi-chevron-down"
                                                                                ></v-text-field>
                                                                                </template>
                                                                                <v-date-picker v-model="departureDateTo" @input="menuDepartureDateTo = false"></v-date-picker>
                                                                            </v-menu>
                                                                        </v-flex>
                                                                </v-flex>
                                                            </v-layout>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="invoiceNumber" class="unbold fips__label">Номер РПО/накл.</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-text-field
                                                                type="text"
                                                                name="invoiceNumber"
                                                                id="invoiceNumber"
                                                                v-model="invoiceNumber"
                                                                placeholder="Введите номер накладной"
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="OICnumber" class="unbold fips__label">Номер ОИС</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-text-field
                                                                type="text"
                                                                name="OICnumber"
                                                                id="OICnumber"
                                                                v-model="OICnumber"
                                                                placeholder="Введите номер ОИС"
                                                            ></v-text-field>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="operator" class="unbold fips__label">Оператор</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-combobox
                                                                v-model="operator"
                                                                :items="operatorItems"
                                                                name="operator"
                                                                id="operator"
                                                                placeholder="Выберите оператора"
                                                                append-icon="mdi-chevron-down"
                                                            ></v-combobox>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs12 md4 lg4>
                                                            <label for="operator" class="unbold fips__label">Статус</label>
                                                        </v-flex>
                                                        <v-flex xs12 md8 lg8>
                                                            <v-radio-group v-model="status" row>
                                                                <v-radio label="Все" value="Все"></v-radio>
                                                                <v-radio label="Отправка" value="Отправка"></v-radio>
                                                                <v-radio label="Готов" value="Готов"></v-radio>
                                                                <v-radio label="Закрыт" value="Закрыт"></v-radio>
                                                            </v-radio-group>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>
                                        <v-flex xs12 md12 lg12 ml-3>
                                            <v-layout row wrap>
                                                <v-btn dark>Поиск</v-btn>
                                                <v-btn dark>Очистить</v-btn>
                                                <v-menu offset-y>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn color="primary" dark v-on="on">Экспорт</v-btn>
                                                    </template>
                                                    <v-list>
                                                        <v-list-tile v-for="(item, index) in exportItems" :key="index">
                                                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                                                        </v-list-tile>
                                                    </v-list>
                                                </v-menu>
                                                <v-menu offset-y>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn color="primary" dark v-on="on">Печать</v-btn>
                                                    </template>
                                                    <v-list>
                                                        <v-list-tile v-for="(item, index) in printItems" :key="index">
                                                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                                                        </v-list-tile>
                                                    </v-list>
                                                </v-menu>
                                                <v-btn dark>Объединить</v-btn>
                                            </v-layout>
                                        </v-flex>
                                    </v-layout>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-data-table
                                v-model="selected"
                                :headers="headers"
                                :items="filteredItems"
                                item-key="id"
                                :pagination.sync="pagination"
                                hide-actions
                                select-all
                            >
                                <template #items="props">
                                    <td>
                                        <v-checkbox
                                            v-model="props.selected"
                                            primary
                                            hide-details
                                        ></v-checkbox>
                                    </td>
                                    <td>{{ props.item.destination }}</td>
                                    <td>{{ props.item.sendingType }}</td>
                                    <td>{{ props.item.regNumber }}</td>
                                    <td>{{ getFormattedDate(props.item.registrationDate) }}</td>
                                    <td>{{ props.item.invoiceNumber }}</td>
                                    <td>{{ props.item.docType }}</td>
                                    <td>{{ props.item.weight }}</td>
                                    <td>{{ props.item.OIC }}</td>
                                    <td>{{ props.item.status }}</td>
                                    <td>{{ props.item.operator }}</td>
                                    <td>{{ getFormattedDate(props.item.sendingDate) }}</td>
                                </template>
                            </v-data-table>

                            <div class="text-xs-center py-4">
                                <v-pagination v-model="pagination.page"
                                    class="taskpagination"
                                    :length="pages"
                                ></v-pagination>
                            </div>
                        </div>
                    </v-flex>
                </v-layout>
                
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import * as moment from 'moment';
import { default as Breadcrumbs } from '../../components/Breadcrumbs';

export default {
    components: { Breadcrumbs },
    data: () => ({
        title: 'Журнал отправок ИК',
        nextLinks: [
            {
                text: 'Формы',
                disabled: false,
                href: '/forms/overview',
            },
            {
                text: 'Журнал отправок ИК',
                disabled: true,
                href: '/journal/outbox/sent',
            },
        ],
        pagination: {
            rowsPerPage: 5
        },
        printItems: [
            {
                title: 'Печать 1',
            },
            {
                title: 'Печать 2',
            },
            {
                title: 'Печать 3',
            },
        ],
        exportItems: [
            {
                title: 'Экспорт 1',
            },
            {
                title: 'Экспорт 2',
            },
            {
                title: 'Экспорт 3',
            },
        ],
        headers: [
            {
                text: 'Адресат',
                sortable: false,
            },
            {
                text: 'Способ отпр.',
                sortable: false,
            },
            {
                text: 'Рег. номер',
                sortable: false,
            },
            {
                text: 'Дата регистрации',
                sortable: false,
            },
            {
                text: 'Номер заявки',
                sortable: false,
            },
            {
                text: 'Вид документа',
                sortable: false,
            },
            {
                text: 'Вес',
                sortable: false,
            },
            {
                text: 'ОИС',
                sortable: false,
            },
            {
                text: 'Статус',
                sortable: false,
            },
            {
                text: 'Оператор',
                sortable: false,
            },
            {
                text: 'Дата отправки',
                sortable: false,
            },
        ],
        selected: [],
        filteredItems: [],
        tableItems: [
            {
                id: 1,
                destination: 'Адресат 1',
                sendingType: 'Простое письмо',
                regNumber: 564465,
                registrationDate: new Date().setDate(new Date().getDate - 3),
                invoiceNumber: 'S454146A64778',
                docType: 221,
                weight: 70,
                OIC: '',
                status: 'Готов',
                operator: 'Титов В. М.',
                sendingDate: new Date(),
            },
            {
                id: 2,
                destination: 'Адресат 2',
                sendingType: 'Бандероль',
                regNumber: 123284,
                registrationDate: new Date().setDate(new Date().getDate - 2),
                invoiceNumber: 'B132184E933456',
                docType: 740,
                weight: 210,
                OIC: '',
                status: 'Отправка',
                operator: 'Суханов Г. М.',
                sendingDate: new Date(),
            },
        ],
        menuRegistrationFrom: false,
        menuRegistrationTo: false,
        menuDepartureDateFrom: false,
        menuDepartureDateTo: false,
        registrationFromItems: [],
        registrationToItems: [],
        destinationItems: [],
        docTypeItems: [],
        sendingTypeItems: [],
        departureDateFromItems: [],
        departureDateToItems: [],
        operatorItems: [],
        registrationFrom: '',
        registrationTo: '',
        regNumber: '',
        destination: '',
        docType: '',
        address: '',
        sendingType: '',
        departureDateFrom: '',
        departureDateTo: '',
        invoiceNumber: '',
        OICnumber: '',
        operator: '',
        status: '',
    }),
    mounted: function() {
        this.filteredItems = this.tableItems;
    },
    methods: {
        getFormattedDate: (date) => moment(date).format("DD.MM.YYYY")
    },
    computed: {
        pages() {
            if (this.pagination.rowsPerPage == null || this.filteredItems.length == null)
                return 0;

            return Math.ceil(
                this.filteredItems.length / this.pagination.rowsPerPage
            );
        }
    }
}
</script>

<style>
    .fips__datelabel {
        margin: 7px 8px;
    }

    .unbold {
        font-weight: 100;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header {
        border-left: 0;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__header {
        border: 0;
        background: none;
    }

    .fips .application .v-expansion-panel .v-expansion-panel__container .v-expansion-panel__header:hover {
        border: 0;
        background: none;
    }
    .fips .application .v-expansion-panel .v-expansion-panel__container--active .v-expansion-panel__body {
        border-left: 0;
    }
</style>