<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>
            <v-container fluid grid-list-md fill-height>
                <v-layout row wrap>
                <v-flex xs12 md8 offset-md2>
                    <div class="fips__homegrid">
                    <a class="fips__box" v-for="(item, index) in items" :key="index" :href="item.href">
                        <v-icon color="white">{{ item.icon }}</v-icon>
                        {{ item.title }}
                    </a>
                    </div>
                </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import { default as Breadcrumbs } from '../../components/Breadcrumbs';

export default {
    components: {
        Breadcrumbs
    },
    data: () => ({
        nextLinks: [
            {
                text: "Формы",
                disabled: true,
                href: "/forms/overview"
            },
        ],
        items: [
            {
                title: "Справочник текстовых блоков и сносок",
                icon: "mdi-briefcase-upload",
                href: "/outbox/handbook"
            },
            {
                title: "Отправка ИК",
                icon: "mdi-briefcase-upload",
                href: "/outbox/send"
            },
            {
                title: "Разделение отправки",
                icon: "mdi-briefcase-upload",
                href: "/journal/outbox/separation",
            },
            {
                title: "Журнал отправок ИК",
                icon: "mdi-briefcase-upload",
                href: "/journal/outbox/sent",
            },
            {
                title: "Журнал исходящей корреспонденции",
                icon: "mdi-briefcase-upload",
                href: "/journal/outbox/all",
            },
        ]
    })
};
</script>
