<template>
    <v-app>
        <v-content>
            <Breadcrumbs :nextLinks="nextLinks"></Breadcrumbs>

            <dictionary-dialog :dialog="dialog"
                               :dialogTitle="dialogTitle"
                               :successButtonTitle="successButtonTitle"
                               :closeButtonTitle="closeButtonTitle"
                               :item="item"
                               :headers="headers"
                               :successAction="successAction"
                               :maxWidth="maxWidth"
                               @closeDialog="closeDialog"
                               @addItemBefore="addItemBefore(active[0], items, item)"
                               @addItemAfter="addItemAfter(active[0], items, item)"
                               @deleteSelectedItems="deleteSelectedItems(tree, items)"
                               @addItemAsChild="addItemAsChild(active[0], items, item)"
            ></dictionary-dialog>

            <v-container fluid grid-list-md class="pt-2">

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <div class="fips__title">{{ title }}</div>
                                </v-flex>
                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>

                <v-layout row wrap>
                    <v-flex xs12>
                        <div class="fips__box pa-3">
                            <v-layout row wrap>

                                <v-flex xs12 md12 lg12>
                                    <v-layout row wrap>
                                        <v-flex xs12 md2 lg2 offset-md2 offset-lg2>
                                            <label for="searchItem" class="unbold fips__label">Поиск по
                                                наименованию</label>
                                        </v-flex>
                                        <v-flex xs12 md5 lg5>
                                            <v-text-field
                                                    type="text"
                                                    name="searchItem"
                                                    id="searchItem"
                                                    v-model="searchItem"
                                                    placeholder="Введите наименование"
                                            ></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>

                                <v-flex xs12 md12 lg12>
                                    <v-layout row wrap>
                                        <v-flex xs12 md6 lg6>
                                            <v-layout row wrap>
                                                <v-flex xs12 md12 lg12>
                                                    <v-layout row wrap>
                                                        <v-flex xs8 md8 lg8>
                                                            <v-btn :dark="active.length > 0"
                                                                   :disabled="active.length === 0"
                                                                   @click="openCreatingDialog('addItemAfter')"
                                                            >
                                                                Доб. низ
                                                            </v-btn>

                                                            <v-btn :dark="active.length > 0"
                                                                   :disabled="active.length === 0"
                                                                   @click="openCreatingDialog('addItemBefore')"
                                                            >
                                                                Доб. верх.
                                                            </v-btn>

                                                            <v-btn :dark="active.length > 0"
                                                                   :disabled="active.length === 0"
                                                                   @click="openCreatingDialog('addItemAsChild')"
                                                            >
                                                                Доб. подч.
                                                            </v-btn>
                                                        </v-flex>

                                                        <v-flex xs4 md4 lg4>
                                                            <v-btn :dark="tree.length > 0"
                                                                   :disabled="tree.length === 0"
                                                                   @click="openDeletingDialog">
                                                                Удалить
                                                            </v-btn>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 md12 lg12>
                                                    <v-treeview
                                                            v-model="tree"
                                                            :active.sync="active"
                                                            :open="open"
                                                            :items="items"
                                                            :search="searchItem"
                                                            activatable
                                                            :selectable="isAuthor"
                                                            open-on-click
                                                    >
                                                    </v-treeview>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>
                                        <v-flex fluid xs12 md6 lg6>
                                            <v-textarea
                                                    name="input-7-1"
                                                    filled
                                                    auto-grow
                                                    v-model="activeItem.description"
                                            ></v-textarea>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>

                                <v-flex v-if="isAuthor" xs12 md12 lg12>
                                    <v-layout row wrap>
                                        <v-flex xs6 md6 lg6>
                                            <v-btn dark>Вставить сноску</v-btn>
                                            <v-btn dark>Вставить текст</v-btn>
                                        </v-flex>
                                        <v-flex xs6 md2 lg2 offset-md4 offset-lg4>
                                            <v-btn dark href="/forms/overview">Закрыть</v-btn>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>

                            </v-layout>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import { default as Breadcrumbs } from '../../components/Breadcrumbs';
    import DictionaryDialog from "../../components/dictionary/DictionaryDialog";

    export default {
        components: {DictionaryDialog, Breadcrumbs},
        data: () => ({
            isAuthor: true,
            title: 'Тексты и сноски ИК 730',
            nextLinks: [
                {
                    text: 'Формы',
                    disabled: false,
                    href: '/forms/overview',
                },
                {
                    text: 'Справочник текстовых блоков и сносок',
                    disabled: true,
                    href: '/outbox/handbook',
                },
            ],
            searchItem: '',
            tree: [],
            open: [],
            active: [],
            activeItem: {},
            counter: 11,
            items: [
                {
                    id: 1,
                    name: 'Общие типовые тексты',
                    description: 'Общие типовые тексты',
                    children: [
                        {
                            id: 2,
                            name: 'Фрагмент 1',
                            description: 'Описание фрагмента 1',
                        },
                        {
                            id: 3,
                            name: 'Фрагмент 2',
                            description: 'Описание фрагмента 2',
                        },
                    ],
                },
                {
                    id: 4,
                    name: 'Общие ссылки',
                    description: 'Общие ссылки',
                    children: [
                        {
                            id: 5,
                            name: 'Административный регламент исполнения',
                            description: 'Описание административных регламентов исполнения',
                            children: [
                                {
                                    id: 6,
                                    name: '*Административный регламент исполнения',
                                    description: 'Описание 1-го административного регламента исполнения',
                                },
                                {
                                    id: 7,
                                    name: '**Административный регламент исполнения',
                                    description: 'Описание 2-го административного регламента исполнения',
                                },
                            ],
                        },
                        {
                            id: 8,
                            name: 'Административный регламент предоставления',
                            description: 'Описание административных регламентов предоставления',
                            children: [
                                {
                                    id: 9,
                                    name: '*Административный регламент предоставления',
                                    description: 'Описание 1-го административного регламента предоставления',
                                },
                                {
                                    id: 10,
                                    name: '**Административный регламент предоставления',
                                    description: 'Описание 2-го административного регламента предоставления',
                                },
                            ],
                        },
                    ],
                },
            ],
            dialog: false,
            maxWidth: 500,
            dialogTitle: 'Вы уверены что хотите удалить выбранные строки?',
            successButtonTitle: 'Да',
            closeButtonTitle: 'Отмена',
            item: null,
            defaultItem: {
                id: '',
                name: '',
                description: ''
            },
            headers: [
                {
                    text: 'id',
                    value: 'id'
                },
                {
                    text: 'Название записи',
                    value: 'name'
                },
                {
                    text: 'Описание',
                    value: 'description'
                }
            ],
            successAction: ''

        }),

        methods: {
            findActiveNode: function (nodes) {
                nodes.forEach(e => {
                    if (e.id === this.active[0]) {
                        this.activeItem = e;
                    } else {
                        if (e.children && e.children.length > 0) this.findActiveNode(e.children)
                    }
                });
            },

            deleteSelectedItems(ids, items) {
                items.forEach(item => {
                    if (ids.includes(item.id))
                        return items.splice(items.indexOf(item), 1);

                    if (item.children)
                        this.deleteSelectedItems(ids, item.children);
                });

                this.item = null;
                this.dialog = false;
            },

            addItemAfter(id, items, addingItem) {
                items.forEach(item => {
                    if (item.id === id)
                        return items.splice(items.indexOf(item) + 1, 0, addingItem);

                    if (item.children)
                        this.addItemAfter(id, item.children, addingItem);
                });

                this.item = null;
                this.dialog = false;
            },

            addItemBefore(id, items, addingItem) {
                for (let item of items) {
                    if (item.id === id)
                        return items.splice(items.indexOf(item), 0, addingItem);

                    if (item.children)
                        this.addItemBefore(id, item.children, addingItem);
                }

                this.item = null;
                this.dialog = false;
            },

            addItemAsChild(id, items, addingItem) {
                items.forEach(item => {
                    if (item.id === id) {
                        if (!item.children)
                            item.children = [];

                        item.children.push(addingItem);
                    }

                    if (item.children)
                        this.addItemAsChild(id, item.children, addingItem);
                });

                this.item = null;
                this.dialog = false;
            },

            closeDialog() {
                this.item = null;

                this.dialog = false;
            },

            openDeletingDialog() {
                this.maxWidth = 500;
                this.dialogTitle = 'Вы уверены что хотите удалить выбранные записи?';
                this.successButtonTitle = 'Да';
                this.closeButtonTitle = 'Отмена';
                this.successAction = 'deleteSelectedItems';

                this.dialog = true;
            },

            openCreatingDialog(addingType) {
                this.maxWidth = 500;
                this.dialogTitle = 'Добавление новой записи';
                this.successButtonTitle = 'Сохранить';
                this.closeButtonTitle = 'Отмена';
                this.successAction = addingType;
                this.item = Object.assign({}, this.defaultItem);
                this.item.id = this.counter++;

                this.dialog = true;
            }
        },

        watch: {
            active: function () {
                this.findActiveNode(this.items);
            },
        },

        computed: {
            selections() {
                const selections = []

                for (const leaf of this.tree) {
                    const item = this.items.find(item => item.id === leaf)
                    if (!item) continue
                    selections.push(item)
                }

                return selections
            },

            activeItems() {
                const selections = [];

                for (const leaf of this.tree) {
                    const brewery = this.breweries.find(brewery => brewery.id === leaf);
                    if (!brewery) continue;
                    selections.push(brewery)
                }

                return selections
            },
        }
    }
</script>

<style>
    .unbold {
        font-weight: 100;
    }

    .accent--text {
        color: #0d447f !important;
        caret-color: #0d447f !important;
    }
</style>