<template>
        <v-layout row wrap>
            <v-flex xs12>
                <div class="fips__box pa-3">
                    <v-layout row wrap>
                        <v-btn v-for="button in buttons"
                               :key="button.id"
                               @click="clickButton(button)"
                               :dark="!isDisable(button)"
                               :disabled="isDisable(button)"
                               :href="button.href"
                        >
                            {{ button.title }}
                        </v-btn>
                    </v-layout>
                </div>
            </v-flex>
        </v-layout>
</template>

<script>
    export default {
        name: "ButtonsBar",
        props: ['buttons', 'currentId', 'deletedItem'],

        methods: {
            clickButton(item) {
                this.$emit(item.id);
            },

            isDisable(button) {
                if (button.id === 'newItem' || button.id === 'close')
                    return false;

                if (button.id === 'restoreItem' && !this.deletedItem)
                    return true;

                if (button.id !== 'restoreItem' && this.currentId < 0)
                    return true;
            }
        }
    }
</script>

<style scoped>

</style>