<template>
    <v-dialog v-model="dialog" :max-width="maxWidth">
        <v-card>
            <v-card-title class="headline grey lighten-2">
                <span class="headline">{{ dialogTitle }}</span>
            </v-card-title>

            <v-form v-model="valid" ref="form">

                <v-card-text v-if="item && !isTable">
                    <v-container>
                        <v-col v-for="property in Object.keys(item)" :key="property">
                            <v-menu v-if="isDatePicker(property)"
                                    ref="menu1"
                                    v-model="menu1"
                                    :close-on-content-click="false"
                                    transition="scale-transition"
                                    offset-y
                                    full-width
                                    max-width="290px"
                                    min-width="290px"
                            >
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                            v-model="item[property]"
                                            :placeholder="getLabel(property)"
                                            persistent-hint
                                            prepend-icon="mdi-calendar-multiple"
                                            v-on="on"
                                    ></v-text-field>
                                </template>

                                <v-date-picker v-model="item[property]"
                                               no-title
                                               @input="menu1 = false"
                                ></v-date-picker>
                            </v-menu>

                            <v-text-field v-if="!isSelectable(property) && !isDatePicker(property)"
                                          v-model="item[property]"
                                          :placeholder="getLabel(property)"
                                          :disabled="isDisable(property)"
                                          :rules="[validate(property)]"
                            ></v-text-field>

                            <v-autocomplete v-if="isSelectable(property)"
                                            append-icon="mdi-chevron-down"
                                            no-data-text="Ничего не найдено"
                                            v-model="item[property]"
                                            :placeholder="getLabel(property)"
                                            :items="selectableItems[property]"
                                            :rules="[validate(property)]"
                                            :multiple="isMultiple(property)"
                            ></v-autocomplete>
                        </v-col>

                        <div v-if="errorMessage" class="errorText">
                            {{errorMessage}}
                        </div>
                    </v-container>
                </v-card-text>

                <dictionary-table v-if="isTable"
                                  :is-search="dialogTable.isSearch"
                                  :headers="dialogTable.headers"
                                  :items="dialogTable.items"
                                  :title="dialogTable.title"
                                  :isSearch="false"
                ></dictionary-table>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn dark @click="closeDialog">{{ closeButtonTitle }}</v-btn>
                    <v-btn dark @click="clickSuccess" v-if="successButtonTitle">{{ successButtonTitle }}</v-btn>
                </v-card-actions>
            </v-form>
        </v-card>
    </v-dialog>
</template>

<script>
    import DictionaryTable from "./DictionaryTable";

    export default {
        name: "DictionaryDialog",
        components: {DictionaryTable},
        props: ['dialog', 'dialogTitle', 'closeButtonTitle', 'successButtonTitle',
            'item', 'headers', 'selectableItems', 'successAction', 'maxWidth',
            'isTable', 'dialogTable', 'errorMessage'],

        data: () => ({
            valid: false
        }),

        methods: {
            closeDialog() {
                this.$emit('closeDialog');
            },

            clickSuccess() {
                this.errorMessage = '';
                let emptyFields = 0;

                if (this.successAction === 'editItem' || this.successAction === 'newItem')
                    emptyFields = Object.keys(this.item).filter(properties => this.validate(properties));

                if (emptyFields <= 0)
                    return this.$emit(this.successAction, this.item);

                this.$refs.form.validate();
                this.errorMessage = `Не заполнены обязательные поля: ${this.getFieldsNames(emptyFields)} `;
            },

            getLabel(property) {
                return this.headers.find(header => header.value === property).text;
            },

            isDatePicker(property) {
                return this.headers.find(header => header.value === property).datePicker;
            },

            isSelectable(property) {
                return this.headers.find(header => header.value === property).selectable;
            },

            isMultiple(property) {
                return this.headers.find(header => header.value === property).multiple;
            },

            isDisable(property) {
                return this.successAction === 'editItem' && this.headers.find(header => header.value === property).readonly;
            },

            validate(property) {
                let isRequired = this.headers.find(header => header.value === property).required;

                if (isRequired && !this.item[property])
                    return 'Обязательное поле';

                return false;
            },

            getFieldsNames(emptyFields) {
                if (emptyFields)
                    return this.headers.filter(header => emptyFields.includes(header.value)).map(header => header.text);
            }
        }
    }
</script>

<style scoped>
    .errorText {
        margin-top: 13px;
        color: red;
    }
</style>