<template>
    <v-layout row wrap>
        <v-flex xs12>
            <div class="fips__box pa-3">
                <v-layout row wrap>

                    <v-flex xs-12 md-6>
                        <div class="fips__title">{{ title }}</div>
                    </v-flex>

                    <v-flex xs-12 md-6 v-if="isSearch">
                        <v-spacer></v-spacer>

                        <v-text-field outline
                                      v-model="search"
                                      append-icon="mdi-magnify"
                                      clearable
                                      solo
                                      flat
                                      hide-details
                                      :placeholder="textSearch"
                        ></v-text-field>
                    </v-flex>

                    <v-flex xs12>
                        <v-data-table :headers="headers"
                                      :items="items"
                                      :search="search"
                                      :pagination.sync="pagination"
                                      hide-actions
                                      no-results-text="Ничего не найдено"
                                      no-data-text="Данные отсутствуют"
                        >
                            <template slot="headers" slot-scope="props">
                                <tr>
                                    <th v-for="header in props.headers" :key="header.text">
                                        {{ header.text }}
                                    </th>
                                </tr>
                            </template>

                            <template slot="items" slot-scope="props">
                                <tr @click="clickRow(props.item)"
                                    :class="{ expanded: props.item.id === currentId }">
                                    <td class="text-xs-center"
                                        v-for="header in headers"
                                        :key="header.text">
                                        {{ props.item[header.value] }}
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>

                        <div class="text-xs-center py-4">
                            <v-pagination v-model="pagination.page"
                                          class="taskpagination"
                                          :length="pages"
                                          total-visible="3"
                            ></v-pagination>
                        </div>
                    </v-flex>
                </v-layout>
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: 'DictionaryTable',
        props: ['headers', 'items', 'search', 'title', 'textSearch', 'isSearch'],

        data: () => ({
            pagination: {
                rowsPerPage: 10
            },
            currentId: -1
        }),

        computed: {
            pages() {
                if (this.pagination.rowsPerPage == null || this.items.length == null)
                    return 0;

                return Math.ceil(
                    this.items.length / this.pagination.rowsPerPage
                );
            }
        },

        methods: {
            clickRow(row) {
                this.currentId = row.id;

                this.$emit('clickRow', row.id);
            }
        }
    }
</script>

<style scoped>

</style>