<template>
  <v-app>
    <v-content>
      <v-container fluid grid-list-md class="pt-2">
        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3 fips__color--blue">
              <v-layout row wrap>
                <v-flex xs12 sm8>
                  <div class="fips__title">
                    Заявка №&nbsp;200170010 от&nbsp;11.09.2001
                    <br />
                    <small>[Форма управления процессами проверки уплаты пошлин, вкладка «Основное» и "Проверки"]</small>
                  </div>
                </v-flex>

                <v-flex xs12 sm4 text-sm-right>
                  <div class="fips__subtitle">
                    <v-icon color="primary">mdi-currency-rub</v-icon>&nbsp;Проверка уплаты пошлины
                  </div>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>

        <v-tabs v-model="active" centered color="#f4f4f4" slider-color="primary">
          <v-tab>Основное</v-tab>
          <v-tab>Проверки</v-tab>
          <v-tab>Процедура</v-tab>
          <v-tab>Изменение сроков</v-tab>
          <v-tab>Связи</v-tab>
          <v-tab>История</v-tab>
          <v-tab>Комментарии</v-tab>
          <v-tab-item>
            <v-layout row wrap>
              <v-flex xs9>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-layout row wrap>
                      <v-flex xs3>
                        <div class="fips__box pa-3">IMG</div>
                      </v-flex>
                      <v-flex xs9>
                        <v-layout row wrap>
                          <v-flex xs6>
                            <div class="fips__box pa-3">
                              <v-layout row wrap>
                                <v-flex xs12>
                                  <div class="fips__title">Информация о документе</div>
                                </v-flex>

                                <v-flex xs12>
                                  <dl class="fips__data">
                                    <dt>Дата поступления</dt>
                                    <dd>11.09.2001</dd>

                                    <dt>Статус документа</dt>
                                    <dd>Действует</dd>

                                    <dt>Стадия</dt>
                                    <dd>ФЭ</dd>

                                    <dt>Источник документа</dt>
                                    <dd>ЕПГУ</dd>

                                    <dt>Способ подачи</dt>
                                    <dd>Электронно</dd>

                                    <dt>Способ переписки</dt>
                                    <dd>Электронно</dd>
                                  </dl>
                                </v-flex>
                              </v-layout>
                            </div>
                          </v-flex>
                          <v-flex xs6>
                            <div class="fips__box pa-3">
                              <v-layout row wrap>
                                <v-flex xs12>
                                  <div class="fips__title">Информация о заявке</div>
                                </v-flex>

                                <v-flex xs12>
                                  <dl class="fips__data">
                                    <dt>Испрашиваемые приоритеты</dt>
                                    <dd>(641) по первоначальной заявке</dd>

                                    <dt>Классы Т/У (6)</dt>
                                    <dd>1, 2, 14, 23-26</dd>

                                    <dt>Заявитель</dt>
                                    <dd>ООО "Электролюкс Рус"</dd>

                                    <dt>Юр. адрес заявителя</dt>
                                    <dd>129090, Москва, Олимпийский пр-кт, д. 16</dd>
                                  </dl>
                                </v-flex>
                              </v-layout>
                            </div>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                  <v-flex xs12>
                    <div class="fips__box pa-3">
                      <v-layout row wrap>
                        <v-flex xs12>
                          <div class="fips__title">Сведения о переписке</div>
                        </v-flex>
                        <v-flex xs12>
                          <v-data-table
                            :headers="correspondenceDetailsHeader"
                            :items="correspondenceDetailsItems"
                            item-key="receiptDateIM"
                            disable-initial-sort
                            id="correspondenceDetailsTable"
                            no-results-text="Ничего не найдено"
                            no-data-text="Данные отсутствуют"
                            class="correspondenceDetailsItems"
                            :pagination.sync="pagination"
                          >
                            <template v-slot:items="props">
                              <td
                                v-if="props.item.children"
                                :rowspan="props.item.children"
                              >{{ props.item.receiptDateIM }}</td>
                              <td
                                v-if="props.item.children"
                                :rowspan="props.item.children"
                              >{{ props.item.codeIM }}</td>
                              <td>
                                <span v-for="item in props.item.registerDateOM" :key="item">
                                  {{ item }}
                                  <br />
                                </span>
                              </td>
                              <td>
                                <span v-for="item in props.item.sendingIM" :key="item">
                                  {{ item }}
                                  <br />
                                </span>
                              </td>
                              <td>
                                <span v-for="item in props.item.codeIK" :key="item">
                                  <br />
                                  {{ item }}
                                </span>
                                <v-btn icon>
                                  <v-icon color="Primary">mdi-delete-outline</v-icon>
                                </v-btn>
                              </td>
                            </template>
                          </v-data-table>
                          <div class="text-xs-center py-4">
                            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
                          </div>
                        </v-flex>
                      </v-layout>
                    </div>
                  </v-flex>
                </v-layout>
              </v-flex>

              <v-flex xs3>
                <div class="fips__box pa-3">
                  <v-layout row wrap>
                    <v-flex xs12>
                      <div class="fips__title">Операции</div>
                    </v-flex>
                    <v-flex xs12>
                      <v-btn dark block>Открыть дело</v-btn>
                      <v-btn dark block>Редактировать атрибуты дела</v-btn>
                      <v-btn dark block>Подготовить ИК</v-btn>
                      <v-btn dark block>Найти и привязать факс</v-btn>
                      <v-btn dark block>Поставить на контроль</v-btn>
                      <v-btn dark block>Установить дату подачи</v-btn>
                      <v-btn dark block>Повторная проверка пошлин</v-btn>
                      <v-btn dark block>Редактировать классы</v-btn>
                      <v-btn dark block>На частичное распознавание</v-btn>
                      <v-btn dark block>Запрос на печать документов</v-btn>
                    </v-flex>
                  </v-layout>
                </div>
              </v-flex>
            </v-layout>
          </v-tab-item>

          <v-tab-item>
            <v-layout row wrap>
              <v-flex xs9>
                <v-layout row wrap>
                  <v-flex xs6>
                    <div class="fips__box pa-3">
                      <v-layout row wrap>
                        <v-flex xs12>
                          <div class="fips__title">Проверка уплаты пошлин</div>
                        </v-flex>
                        <v-flex xs12 class="fips__text mt-0">
                          <span class="font-weight-bold">Статус:</span>&nbsp;
                          <span class>в процессе</span>
                        </v-flex>
                        <v-flex xs12>
                          <v-btn dark class="mt-0 ml-0">Начать проверку</v-btn>
                        </v-flex>
                        <v-flex xs12 class="mt-2">
                          <v-divider></v-divider>
                        </v-flex>
                        <v-flex xs12>
                          <div class="fips__title">Проверки ФЭ</div>
                        </v-flex>
                        <v-flex xs12 class="fips__text mt-0">
                          <span class="font-weight-bold">Статус:</span>&nbsp;
                          <span class>не начато</span>
                        </v-flex>
                        <v-flex xs12>
                          <v-btn dark class="mt-0 ml-0">Начать проверку</v-btn>
                        </v-flex>
                      </v-layout>
                    </div>
                  </v-flex>
                  <v-flex xs6>
                    <div class="fips__box pa-3">
                      <v-layout row wrap>
                        <v-flex xs12>
                          <div class="fips__title">Параметры</div>
                        </v-flex>
                        <v-flex xs12 class="fips__row">
                          <label for="checkbox" class="fips__label">Заявка является выделенной</label>

                          <v-checkbox id="checkbox"></v-checkbox>
                        </v-flex>
                        <v-flex xs12 class="fips__row">
                          <label for="supplyMethod" class="fips__label">Способ подачи</label>
                          <v-combobox
                            v-model="selectSupplyMethod"
                            :items="supplyMethod"
                            name="supplyMethod"
                            id="supplyMethod"
                            clearable
                            placeholder="Выберите способ подачи заявки"
                            value="Почта"
                            item-value="id"
                            item-text="name"
                          ></v-combobox>
                        </v-flex>
                        <v-flex xs12 class="fips__row">
                          <label for="senderCity" class="fips__label">Количество классов Т/У</label>
                          <v-text-field
                            type="text"
                            name="senderCity"
                            id="senderCity"
                            placeholder="Введите населенный пункт"
                            clearable
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </div>
                  </v-flex>
                  <v-flex xs12>
                    <div class="fips__box pa-3">
                      <v-layout row wrap>
                        <v-flex xs12>
                          <div class="fips__title">Нерасмотренная ВК</div>
                        </v-flex>
                        <v-flex xs12>
                          <v-data-table
                            :headers="unreviewedIMHeader"
                            :items="unreviewedIMItems"
                            item-key="incomingNumber"
                            disable-initial-sort
                            id="unreviewedIMTable"
                            no-results-text="Ничего не найдено"
                            no-data-text="Данные отсутствуют"
                            :pagination.sync="pagination"
                          >
                            <template v-slot:items="props">
                              <td>{{ props.item.code }}</td>
                              <td>{{ props.item.incomingNumber }}</td>
                              <td>{{ props.item.receivedDate }}</td>
                              <td>{{ props.item.receivedFaxDate }}</td>
                              <td>{{ props.item.controlDate }}</td>
                              <td>
                                {{ props.item.qualified }}
                                <v-btn icon>
                                  <v-icon color="Primary">mdi-delete-outline</v-icon>
                                </v-btn>
                              </td>
                            </template>
                          </v-data-table>
                          <div class="text-xs-center py-4">
                            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
                          </div>
                        </v-flex>
                      </v-layout>
                    </div>
                  </v-flex>
                  <v-flex xs12>
                    <div class="fips__box pa-3">
                      <v-layout row wrap>
                        <v-flex xs12>
                          <div class="fips__title">Результаты проверки</div>
                        </v-flex>
                        <v-flex xs12>
                          <v-data-table
                            :headers="verificationResultsHeader"
                            :items="verificationResultsItems"
                            item-key="verificationDate"
                            :pagination.sync="pagination"
                            disable-initial-sort
                            id="verificationResultsTable"
                            no-results-text="Ничего не найдено"
                            no-data-text="Данные отсутствуют"
                          >
                            <template v-slot:items="props">
                              <td>{{ props.item.dutyName }}</td>
                              <td>{{ props.item.verificationDate }}</td>
                              <td>{{ props.item.result }}</td>
                              <td>{{ props.item.financier }}</td>
                              <td>{{ props.item.applicationPayer }}</td>
                              <td>{{ props.item.paymentPayer }}</td>
                              <td>{{ props.item.paymentDate }}</td>
                              <td>{{ props.item.paymentDocument }}</td>
                              <td>{{ props.item.amount }}</td>
                            </template>
                          </v-data-table>

                          <div class="text-xs-center py-4">
                            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
                          </div>
                        </v-flex>
                      </v-layout>
                    </div>
                  </v-flex>
                </v-layout>
              </v-flex>

              <v-flex xs3>
                <div class="fips__box pa-3">
                  <v-layout row wrap>
                    <v-flex xs12>
                      <div class="fips__title">Операции</div>
                    </v-flex>
                    <v-flex xs12>
                      <v-btn dark block>Открыть дело</v-btn>
                      <v-btn dark block>Редактировать атрибуты дела</v-btn>
                      <v-btn dark block>Подготовить ИК</v-btn>
                      <v-btn dark block>Найти и привязать факс</v-btn>
                      <v-btn dark block>Поставить на контроль</v-btn>
                      <v-btn dark block>Установить дату подачи</v-btn>
                      <v-btn dark block>Повторная проверка пошлин</v-btn>
                      <v-btn dark block>Редактировать классы</v-btn>
                      <v-btn dark block>На частичное распознавание</v-btn>
                      <v-btn dark block>Запрос на печать документов</v-btn>
                    </v-flex>
                  </v-layout>
                </div>
              </v-flex>
            </v-layout>
          </v-tab-item>
          <v-tab-item>
            <v-card>
              <v-card-text>Процедура</v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card>
              <v-card-text>Изменение сроков</v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card>
              <v-card-text>Связи</v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card>
              <v-card-text>История</v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card>
              <v-card-text>Комментарии</v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>

        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex sm12 class="text-sm-right">
                  <v-btn dark>Добавить срок ожидания</v-btn>
                  <v-btn dark>На повторное сканирование</v-btn>
                  <v-btn dark>Закрыть</v-btn>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>



<script>
export default {
  data: () => ({
    pagination: {
      rowsPerPage: 5
    },
    // Сведения о переписке
    correspondenceDetailsHeader: [
      { text: "Дата поступления ВК", align: "left", value: "receiptDateIM" },
      { text: "Код ВК", align: "left", value: "codeIM" },
      { text: "Дата регистрации ИК", align: "left", value: "registerDateOM" },
      { text: "Дата отправки ИК", align: "left", value: "sendingIM" },
      { text: "Код ИК", align: "left", value: "codeIK" }
    ],
    correspondenceDetailsItems: [
      {
        receiptDateIM: "01.01.2001",
        codeIM: "ВК_1",
        children: "2",
        registerDateOM: ["01.02.2001"],
        sendingIM: ["01.02.2001"],
        codeIK: ["ИК_1"]
      },
      {
        registerDateOM: ["01.02.2001"],
        sendingIM: ["01.02.2001"],
        codeIK: ["ИК_2"]
      },
      {
        receiptDateIM: "05.03.2001",
        codeIM: "ВК_2",
        children: "1",
        registerDateOM: ["06.04.2001"],
        sendingIM: ["06.03.2001"],
        codeIK: ["ИК_3"]
      },
      {
        receiptDateIM: " ",
        codeIM: " ",
        children: "1",
        registerDateOM: "",
        sendingIM: "",
        codeIK: ["ИК_4 (проект)"]
      }
    ],

    // Нерасмотренная ВК, требующая ответа
    unreviewedIMHeader: [
      { text: "Код", align: "left", value: "code" },
      { text: "Входящий номер", align: "left", value: "incomingNumber" },
      {
        text: "Дата поступления в Институт",
        align: "left",
        value: "receivedDate"
      },
      {
        text: "Дата поступления с учётом факса",
        align: "left",
        value: "receivedFaxDate"
      },
      { text: "Рассмотреть до", align: "left", value: "controlDate" },
      { text: "Квалифицирована", align: "left", value: "qualified" }
    ],
    unreviewedIMItems: [
      {
        code: "code",
        incomingNumber: "incomingNumber",
        receivedDate: "receivedDate",
        receivedFaxDate: "receivedFaxDate",
        controlDate: "controlDate",
        qualified: "qualified"
      }
    ],

    // Результаты проверки
    verificationResultsHeader: [
      { text: "Наименование пошлины", align: "left", value: "dutyName" },
      { text: "Дата проверки", align: "left", value: "verificationDate" },
      { text: "Результат", align: "left", value: "result" },
      { text: "ФИО финансиста", align: "left", value: "financier" },
      {
        text: "ФИО/Наименование плательщика из заявления",
        align: "left",
        value: "applicationPayer"
      },
      {
        text: "ФИО/Наименование плательщика из платёжного документа",
        align: "left",
        value: "paymentPayer"
      },
      { text: "Дата уплаты", align: "left", value: "paymentDate" },
      {
        text: "# платёжного документа",
        align: "left",
        value: "paymentDocument"
      },
      { text: "Сумма платежа", align: "left", value: "amount" }
    ],
    verificationResultsItems: [
      {
        dutyName: "dutyName",
        verificationDate: "verificationDate",
        result: "result",
        financier: "financier",
        applicationPayer: "applicationPayer",
        paymentPayer: "paymentPayer",
        paymentDate: "paymentDate",
        paymentDocument: "paymentDocument",
        amount: "amount"
      },
      {
        dutyName: "dutyName",
        verificationDate: "verificationDate",
        result: "result",
        financier: "financier",
        applicationPayer: "applicationPayer",
        paymentPayer: "paymentPayer",
        paymentDate: "paymentDate",
        paymentDocument: "paymentDocument",
        amount: "amount"
      }
    ]
  }),
  computed: {
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    }
  }
};
</script>
