<template>
  <v-app>
    <v-content>
      <v-container fluid grid-list-md class="pt-2">
        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3 fips__color--blue">
              <v-layout row wrap>
                <v-flex xs12 sm8>
                  <div class="fips__title">
                    Заявка
                    <small>[Карточка регистрации первичной ВК через одно окно]</small>
                  </div>
                </v-flex>

                <v-flex xs12 sm4 text-sm-right>
                  <div class="fips__subtitle">
                    <v-icon>mdi-pencil-circle-</v-icon>&nbsp;Проект
                  </div>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12>
                  <div class="fips__title">Форма</div>
                  <div class="fips__subtitle">Данные</div>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="corrType" class="fips__label">Тип корреспонденции</label>

                  <v-autocomplete
                    append-icon="mdi-chevron-down"
                    no-data-text="Ничего не найдено"
                    placeholder="Выберите тип корреспонденции"
                    prefix="Prefix"
                    clear-icon="mdi-close-circle-"
                    append-outer-icon="mdi-airplane-landing"
                    prepend-inner-icon="mdi-airplane"
                    prepend-icon="mdi-airplane-takeoff"
                    :items="corrType"
                    name="corrType"
                    id="corrType"
                    readonly
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="receiptDate" class="fips__label">Дата поступления</label>
                  <v-menu
                    v-model="menu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="date"
                        v-on="on"
                        :items="receiptDate"
                        name="receiptDate"
                        id="receiptDate"
                        placeholder="Введите дату поступления заявки"
                        append-icon="mdi-chevron-down"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="date" @input="menu = false"></v-date-picker>
                  </v-menu>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="supplyMethod" class="fips__label">Способ подачи</label>
                  <v-combobox
                    v-model="selectSupplyMethod"
                    :items="supplyMethod"
                    name="supplyMethod"
                    id="supplyMethod"
                    placeholder="Выберите способ подачи заявки"
                    value="Почта"
                    item-value="id"
                    item-text="name"
                    append-icon="mdi-chevron-down"
                  ></v-combobox>
                </v-flex>

                <v-flex
                  xs12
                  md10
                  offset-md1
                  lg8
                  offset-lg2
                  class="fips__row"
                  v-if="selectSupplyMethod === 'Почта'"
                >
                  <label for="senderCity" class="fips__label">Город/Населенный пункт</label>
                  <v-text-field
                    type="text"
                    name="senderCity"
                    id="senderCity"
                    placeholder="Введите населенный пункт"
                  ></v-text-field>
                </v-flex>

                <v-flex
                  xs12
                  md10
                  offset-md1
                  lg8
                  offset-lg2
                  class="fips__row"
                  v-if="selectSupplyMethod === 'Почта'"
                >
                  <label for="sender" class="fips__label">Отправитель</label>
                  <v-text-field
                    type="text"
                    name="sender"
                    id="sender"
                    placeholder="Введите отправителя"
                  ></v-text-field>
                </v-flex>

                <v-flex
                  xs12
                  md10
                  offset-md1
                  lg8
                  offset-lg2
                  class="fips__row"
                  v-if="selectSupplyMethod === 'Почта'"
                >
                  <label for="letterNumber" class="fips__label">Номер письма</label>
                  <v-text-field
                    type="number"
                    name="letterNumber"
                    id="letterNumber"
                    placeholder="Введите номер письма"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="docsQuantity" class="fips__label">Количество листов</label>
                  <v-text-field
                    type="number"
                    name="docsQuantity"
                    id="docsQuantity"
                    placeholder="Введите количество листов"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="pdQuantity" class="fips__label">Количество ПД</label>
                  <v-text-field
                    type="number"
                    name="pdQuantity"
                    id="pdQuantity"
                    placeholder="Введите количество платежных документов"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="imgQuantity" class="fips__label">Количество листов изображений</label>
                  <v-text-field
                    type="number"
                    name="imgQuantity"
                    id="imgQuantity"
                    placeholder="Введите количество фотографий или изображений"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="odQuantity" class="fips__label">Количество ОД</label>
                  <v-text-field
                    type="number"
                    name="odQuantity"
                    id="odQuantity"
                    placeholder="Введите количество охранных документов"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="oisNumber" class="fips__label">№ свидетельства</label>
                  <div>
                    <v-btn dark class="ma-0" @click="addLineOis">Добавить свидетельство</v-btn>
                  </div>
                </v-flex>

                <v-flex xs12 v-for="(line, index) in oisLines" :key="index">
                  <v-layout row wrap>
                    <v-flex
                      xs12
                      md10
                      offset-md1
                      lg8
                      offset-lg2
                      class="fips__row fips__row--with-inputs"
                    >
                      <label class="fips__label my-0"></label>
                      <div>
                        <v-layout row wrap>
                          <v-flex xs10 sm11>
                            <v-layout row wrap>
                              <v-flex xs12 sm6>
                                <v-text-field
                                  v-model="line.oisNumber"
                                  type="number"
                                  name="oisNumber"
                                  id="oisNumber"
                                  placeholder="Введите номер свидетельства"
                                ></v-text-field>
                              </v-flex>

                              <v-flex xs12 sm6>
                                <v-combobox
                                  v-model="line.oisType"
                                  :items="oisType"
                                  name="oisType"
                                  id="oisType"
                                  placeholder="Выберите тип объекта"
                                  append-icon="mdi-chevron-down"
                                ></v-combobox>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                          <v-flex xs2 sm1 d-flex align-center justify-center>
                            <div class="text-xs-center">
                              <v-btn
                                dark
                                icon
                                @click="removeLineOis(indexOis)"
                                class="mt-0 fips__button"
                              >
                                <v-icon>mdi-delete-outline</v-icon>
                              </v-btn>
                            </div>
                          </v-flex>
                        </v-layout>
                        <v-layout row wrap class="hidden-sm-and-up">
                          <v-flex xs12>
                            <v-divider></v-divider>
                          </v-flex>
                        </v-layout>
                      </div>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for class="fips__label">Количество МН</label>
                  <div>
                    <v-btn dark class="ma-0" @click="addLineMn">Добавить носитель</v-btn>
                  </div>
                </v-flex>

                <v-flex xs12 v-for="(line, index) in mnLines" :key="index">
                  <v-layout row wrap>
                    <v-flex
                      xs12
                      md10
                      offset-md1
                      lg8
                      offset-lg2
                      class="fips__row fips__row--with-inputs"
                    >
                      <label for="mnNumber" class="fips__label my-0"></label>
                      <div>
                        <v-layout row wrap>
                          <v-flex xs10 sm11>
                            <v-layout row wrap>
                              <v-flex xs12 sm6>
                                <v-text-field
                                  v-model="line.mnNumber"
                                  type="number"
                                  name="mnNumber"
                                  id="mnNumber"
                                  placeholder="Введите номер свидетельства"
                                ></v-text-field>
                              </v-flex>

                              <v-flex xs12 sm6>
                                <v-combobox
                                  v-model="line.mnType"
                                  :items="mnType"
                                  name="mnType"
                                  id="mnType"
                                  placeholder="Выберите тип объекта"
                                  append-icon="mdi-chevron-down"
                                ></v-combobox>
                              </v-flex>
                            </v-layout>
                          </v-flex>
                          <v-flex xs2 sm1 d-flex align-center justify-center>
                            <div class="text-xs-center">
                              <v-btn
                                dark
                                icon
                                @click="removeLineMn(indexMn)"
                                class="mt-0 fips__button"
                              >
                                <v-icon>mdi-delete-outline</v-icon>
                              </v-btn>
                            </div>
                          </v-flex>
                        </v-layout>
                        <v-layout row wrap class="hidden-sm-and-up">
                          <v-flex xs12>
                            <v-divider></v-divider>
                          </v-flex>
                        </v-layout>
                      </div>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="inputFromOriginal" class="fips__label">Ввод с оригиналов документов</label>
                  <v-checkbox v-model="inputFromOriginal" id="inputFromOriginal"></v-checkbox>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="comment" class="fips__label">Комментарий</label>

                  <v-textarea
                    name="comment"
                    id="comment"
                    auto-grow
                    placeholder="Дополнительная информация о документе"
                  ></v-textarea>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="reesterNumber" class="fips__label">Номер реестра</label>

                  <v-layout row wrap>
                    <v-flex grow>
                      <v-text-field
                        type="number"
                        name="reesterNumber"
                        id="reesterNumber"
                        placeholder="Номер реестра"
                        readonly
                        value="1234567890"
                      ></v-text-field>
                    </v-flex>

                    <v-flex shrink class="text-xs-right">
                      <v-btn dark class="mt-0 ml-0">Новый реестр</v-btn>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12>
                  <div class="fips__title">Библиографические данные</div>
                  <div class="fips__subtitle">Адрес для переписки</div>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="postcode" class="fips__label">Индекс</label>
                  <v-text-field
                    type="number"
                    name="postcode"
                    id="postcode"
                    placeholder="Введите индекс"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="country" class="fips__label">Страна</label>
                  <v-combobox
                    :items="country"
                    name="country"
                    id="country"
                    placeholder="Выберите страну"
                    append-icon="mdi-chevron-down"
                  ></v-combobox>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="unstructuredAddress" class="fips__label">Неструктурированный адрес</label>

                  <v-textarea
                    name="unstructuredAddress"
                    id="unstructuredAddress"
                    auto-grow
                    placeholder="Введите неструктурированный адрес"
                  ></v-textarea>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="region" class="fips__label">Регион</label>
                  <v-combobox
                    :items="region"
                    name="region"
                    id="region"
                    placeholder="Выберите регион"
                    append-icon="mdi-chevron-down"
                  ></v-combobox>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="city" class="fips__label">Город</label>
                  <v-combobox
                    :items="city"
                    name="city"
                    id="city"
                    placeholder="Выберите город"
                    append-icon="mdi-chevron-down"
                  ></v-combobox>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="street" class="fips__label">Улица</label>
                  <v-combobox
                    :items="street"
                    name="street"
                    id="street"
                    placeholder="Выберите улицу"
                    append-icon="mdi-chevron-down"
                  ></v-combobox>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <v-layout row wrap>
                    <v-flex xs6 md4 xl2>
                      <label for="house" class="fips__label">Дом</label>
                      <v-text-field type="number" name="house" id="house" placeholder="Введите дом"></v-text-field>
                    </v-flex>
                    <v-flex xs6 md4 xl3>
                      <label for="building" class="fips__label">Корпус</label>
                      <v-text-field
                        type="number"
                        name="building"
                        id="building"
                        placeholder="Введите корпус"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs6 md4 xl2>
                      <label for="construction" class="fips__label">Строение</label>
                      <v-text-field
                        type="number"
                        name="construction"
                        id="construction"
                        placeholder="Введите строение"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs6 md6 xl3>
                      <label for="apartment" class="fips__label">Квартира</label>
                      <v-text-field
                        type="number"
                        name="apartment"
                        id="apartment"
                        placeholder="Введите квартиру"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 md6 xl2>
                      <label for="office" class="fips__label">Офис/помещение</label>
                      <v-text-field
                        type="number"
                        name="office"
                        id="office"
                        placeholder="Введите офис/помещение"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="addressee" class="fips__label">Адресат</label>
                  <v-text-field
                    type="text"
                    name="addressee"
                    id="addressee"
                    placeholder="Введите адресата"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="fullname" class="fips__label">ФИО</label>
                  <v-text-field type="text" name="fullname" id="fullname" placeholder="Введите ФИО"></v-text-field>
                </v-flex>
                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="tel" class="fips__label">Телефон</label>
                  <v-text-field type="tel" name="tel" id="tel" placeholder="Введите телефон"></v-text-field>
                </v-flex>
                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="fax" class="fips__label">Факс</label>
                  <v-text-field type="tel" name="fax" id="fax" placeholder="Введите факс"></v-text-field>
                </v-flex>
                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="email" class="fips__label">E-mail</label>
                  <v-text-field type="mail" name="email" id="email" placeholder="Введите e-mail"></v-text-field>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12>
                  <div class="fips__title">Регистрационные данные</div>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2>
                  <dl class="fips__data">
                    <dt>Регистрационный номер</dt>
                    <dd>2018/777/02/Й</dd>

                    <dt>Уникальный номер</dt>
                    <dd>9646516841/18/1</dd>

                    <dt>Входящий номер</dt>
                    <dd>898765</dd>

                    <dt>Дата регистрации</dt>
                    <dd>25.09.2019</dd>

                    <dt>Регистратор</dt>
                    <dd>Укропль Святогор</dd>
                  </dl>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex sm6>
                  <v-btn dark>Зарегистрировать</v-btn>
                  <v-btn dark>Аннулировать</v-btn>
                  <v-btn dark>Печать уведомления</v-btn>
                  <v-btn dark>Отправить по почте</v-btn>
                  <v-btn dark>Отправить электронно</v-btn>
                </v-flex>
                <v-flex sm6 class="text-sm-right">
                  <v-btn dark>Новый</v-btn>
                  <v-btn dark>Закрыть</v-btn>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>



<script>
export default {
  data: () => ({
    date: new Date().toISOString().substr(0, 10),
    menu: false,
    corrType: [
      "Заявка на ТЗ",
      "Заявка на НМПТ/ПНМПТ",
      "Договор",
      "Переход права без договора",
      "Заявка на ПО",
      "Заявка на ПМ",
      "Заявка на ИЗ",
      "Заявка на программу для ЭВМ",
      "Заявка на БД",
      "Заявка на ТИМС"
    ],
    supplyMethod: ["Одно окно", "Почта", "Факс"],
    oisType: ["ТЗ", "НМПТ/ПНМПТ"],
    selectSupplyMethod: null,
    inputFromOriginal: [],
    oisLines: [],
    mnLines: [],
    blockRemovalOis: true,
    blockRemovalMn: true,
    isEditing: false,
    model: null,
    states: [
      "Alabama",
      "Alaska",
      "American Samoa",
      "Arizona",
      "Arkansas",
      "California",
      "Colorado",
      "Connecticut",
      "Delaware",
      "District of Columbia",
      "Federated States of Micronesia",
      "Florida",
      "Georgia",
      "Guam",
      "Hawaii",
      "Idaho",
      "Illinois",
      "Indiana",
      "Iowa",
      "Kansas",
      "Kentucky",
      "Louisiana",
      "Maine",
      "Marshall Islands",
      "Maryland",
      "Massachusetts",
      "Michigan",
      "Minnesota",
      "Mississippi",
      "Missouri",
      "Montana",
      "Nebraska",
      "Nevada",
      "New Hampshire",
      "New Jersey",
      "New Mexico",
      "New York",
      "North Carolina",
      "North Dakota",
      "Northern Mariana Islands",
      "Ohio",
      "Oklahoma",
      "Oregon",
      "Palau",
      "Pennsylvania",
      "Puerto Rico",
      "Rhode Island",
      "South Carolina",
      "South Dakota",
      "Tennessee",
      "Texas",
      "Utah",
      "Vermont",
      "Virgin Island",
      "Virginia",
      "Washington",
      "West Virginia",
      "Wisconsin",
      "Wyoming"
    ]
  }),
  watch: {
    oisLines() {
      this.blockRemovalOis = this.oisLines.length <= 0;
    },
    mnLines() {
      this.blockRemovalMn = this.mnLines.length <= 0;
    }
  },
  methods: {
    addLineOis() {
      this.oisLines.push({
        oisNumber: null,
        oisType: null
      });
    },
    addLineMn() {
      this.mnLines.push({
        mnQuantity: null,
        mnType: null
      });
    },
    removeLineOis(lineIdOis) {
      if (!this.blockRemovalOis) this.oisLines.splice(lineIdOis, 1);
    },
    removeLineMn(lineIdMn) {
      if (!this.blockRemovalMn) this.mnLines.splice(lineIdMn, 1);
    }
  }
};
</script>
