xs() {
    @media (min-width: 0px) {
        {block};
    }
}

sm() {
    @media (min-width: 600px) {
        {block};
    }
}

md() {
    @media (min-width: 960px) {
        {block};
    }
}

lg() {
    @media (min-width: 1280px - 16px) {
        {block};
    }
}

xl() {
    @media (min-width: 1920px - 16px) {
        {block};
    }
}