<template>
  <v-app>
    <Toolbar />
    <v-content>
      <v-container fluid grid-list-md class="pt-2">
        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12>
                  <v-toolbar flat class="white">
                    <v-toolbar-title>Мои задачи</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-text-field
                      outline
                      v-model="search"
                      append-icon="mdi-magnify"
                      clearable
                      solo
                      flat
                      hide-details
                      placeholder="Поиск по задачам"
                    ></v-text-field>
                  </v-toolbar>
                  <v-data-table
                    :headers="headers"
                    :items="tasks"
                    :pagination.sync="pagination"
                    :search="search"
                    item-key="number"
                    hide-actions
                    :expand="expand"
                    no-results-text="Ничего не найдено"
                    no-data-text="Данные отсутствуют"
                  >
                    <template slot="headerCell" slot-scope="props">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <span v-on="on">{{ props.header.shorttext }}</span>
                        </template>
                        <span>{{ props.header.text }}</span>
                      </v-tooltip>
                    </template>
                    <template v-slot:items="props">
                      <tr @click="openTaskOptions(props.item); props.expanded = !props.expanded">
                        <td>
                          <span>{{ props.item.tasktype }}</span>
                        </td>
                        <td>{{ props.item.summary }}</td>
                        <td>{{ props.item.regnumber }}</td>
                        <td>{{ props.item.regdate }}</td>
                        <td>{{ props.item.content }}</td>
                        <td>{{ props.item.controldate }}</td>
                        <td>
                          <span v-for="doer in props.item.doers" :key="doer">
                            {{ doer }}
                            <br />
                          </span>
                        </td>
                        <td>{{ props.item.author }}</td>
                      </tr>
                    </template>
                    <template v-slot:expand="props">
                      <v-card flat>
                        <v-card-text>
                          <dl class="px-2">
                            <dt>Задача</dt>
                            <dd>{{ props.item.tasktype }}</dd>

                            <dt>Содеражние</dt>
                            <dd>{{ props.item.summary }}</dd>

                            <dt>Номер задачи</dt>
                            <dd>{{ props.item.regnumber }}</dd>

                            <dt>Дата регистрации</dt>
                            <dd>{{ props.item.regdate }}</dd>

                            <dt>Текст поручения</dt>
                            <dd>{{ props.item.content }}</dd>

                            <dt>Срок контроля</dt>
                            <dd>{{ props.item.controldate }}</dd>

                            <dt>Исполнители</dt>
                            <dd>
                              <span v-for="doer in props.item.doers" :key="doer">
                                {{ doer }}
                                <br />
                              </span>
                            </dd>
                            <dt>Кто прислал</dt>
                            <dd>{{ props.item.author }}</dd>
                          </dl>
                        </v-card-text>
                      </v-card>
                    </template>
                  </v-data-table>

                  <div class="text-xs-center py-4">
                    <v-pagination v-model="pagination.page" class="taskpagination" :length="pages"></v-pagination>
                  </div>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Toolbar from "../../components/Toolbar";

export default {
  components: { Toolbar },
  methods: {
    openTaskOptions(itemProps) {
      this.$router.push({
        name: 'outbox-draft',
        query: {
          inboxViewItemId: itemProps.id
        }
      });
    }
  },
  data: () => ({
    sidebar: false,
    search: "",
    pagination: {
      rowsPerPage: 30
    },
    expand: true,
    headers: [
      {
        text: "Задачи",
        shorttext: "Задача",
        align: "left",
        value: "tasktype"
      },
      {
        text: "Содержание",
        shorttext: "Краткое содержание",
        align: "left",
        value: "summary"
      },
      {
        text: "Регистрационный номер",
        shorttext: "№",
        align: "left",
        value: "regnumber"
      },
      {
        text: "Дата регистрации",
        shorttext: "Дата регистрации",
        align: "left",
        value: "regdate"
      },
      {
        text: "Текст поручения ",
        shorttext: "Текст поручения ",
        align: "left",
        value: "content"
      },
      {
        text: "Срок исполнения",
        shorttext: "Срок исполнения",
        align: "left",
        value: "controldate"
      },
      {
        text: "Исполнители",
        shorttext: "Исполнители",
        align: "left",
        value: "doers"
      },
      {
        text: "Кто прислал",
        shorttext: "Кто прислал",
        align: "left",
        value: "author"
      }
    ],
    tasks: [
      // {
      //   regnumber: "Вх-123453-19",
      //   tasktype: "На исполнение",
      //   summary: "О направлении документов",
      //   regdate: "15.10.2019",
      //   content: "Рассмотреть и подготовить ответ",
      //   controldate: "01.11.2019",
      //   doers: ["Бирюков Сергей Евгеньевич", "Молодкин Александр Валерьевич"],
      //   author: "Горбунов Александр Владимирович"
      // },
      // {
      //   regnumber: "Вх-123453-19",
      //   tasktype: "На проверку отчета",
      //   summary: "О направлении документов",
      //   regdate: "15.10.2019",
      //   content: "Проверить документы и подготовить ответ",
      //   controldate: "30.10.2019",
      //   doers: ["Фоменок Денис Васильевич", "Тюлина Елена Александровна"],
      //   author: "Фоменок Денис Васильевич"
      // },
      // {
      //   regnumber: "Вх-123453-19",
      //   tasktype: "На исполнение (исполнены дочерние)",
      //   summary: "О направлении документов",
      //   regdate: "15.10.2019",
      //   content: "Рассмотреть и подготовить ответ",
      //   controldate: "01.11.2019",
      //   doers: ["Бирюков Сергей Евгеньевич", "Молодкин Александр Валерьевич"],
      //   author: "Горбунов Александр Владимирович"
      // }
    ]
  }),
  computed: {
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    }
  }
};
</script>

<style>
</style>
