<template>
  <v-app>
    <Toolbar />
    <Sidebar />
    <HelpButton />
    <v-content>
      <v-container fluid grid-list-md class="pt-2">
        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs-12 md-6>
                  <div class="fips__title">Совсем новые поручения</div>
                </v-flex>
                <v-flex xs-12 md-6>
                  <v-spacer></v-spacer>
                  <v-text-field
                    outline
                    v-model="search"
                    append-icon="mdi-magnify"
                    clearable
                    solo
                    flat
                    hide-details
                    placeholder="Поиск по поручениям"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-data-table
                    :headers="headersTable"
                    :items="tasksTable"
                    :pagination.sync="pagination"
                    :search="search"
                    :expand="expand"
                    item-key="id"
                    hide-actions
                    no-results-text="Ничего не найдено"
                    no-data-text="Данные отсутствуют"
                  >
                    <template slot="headerCell" slot-scope="props">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <span v-on="on">{{ props.header.shorttext }}</span>
                        </template>
                        <span>{{ props.header.text }}</span>
                      </v-tooltip>
                    </template>
                    <template v-slot:items="props">
                      <tr
                        @click="props.expanded = !props.expanded"
                        :class="{ expanded: props.expanded }"
                      >
                        <td>
                          <span>{{ props.item.tasktype }}</span>
                        </td>
                        <td>{{ props.item.summary }}</td>
                        <td>{{ props.item.name }}</td>
                        <td>{{ props.item.regdate }}</td>
                        <td>{{ props.item.content }}</td>
                        <td>{{ props.item.controldate }}</td>
                        <td>
                          <span v-for="doer in props.item.doers" :key="doer">
                            {{ doer.lastname }}&nbsp;{{ doer.firstname|initialis }}&nbsp;{{ doer.middlename|initialis }}
                            <br />
                          </span>
                        </td>
                        <td>{{ props.item.author.lastname }}&nbsp;{{ props.item.author.firstname|initialis }}&nbsp;{{ props.item.author.middlename|initialis }}</td>
                      </tr>
                    </template>
                    <template v-slot:expand="props">
                      <v-card flat>
                        <v-card-text>
                          <Treeview />
                        </v-card-text>
                      </v-card>
                    </template>
                  </v-data-table>

                  <div class="text-xs-center py-4">
                    <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
                  </div>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Toolbar from "../../components/Toolbar";
import Sidebar from "../../components/Sidebar";
import HelpButton from "../../components/HelpButton.vue";
import Treeview from "../../components/Treeview";

export default {
  components: { Toolbar, Treeview, HelpButton, Sidebar },
  data: () => ({
    expand: true,
    search: "",
    pagination: {
      rowsPerPage: 3
    },
    headersTable: [
      {
        text: "Задачи",
        shorttext: "Задача",
        align: "left",
        value: "tasktype"
      },
      {
        text: "Содержание",
        shorttext: "Краткое содержание",
        align: "left",
        value: "summary"
      },
      {
        text: "Регистрационный номер",
        shorttext: "№",
        align: "left",
        value: "name"
      },
      {
        text: "Дата регистрации",
        shorttext: "Дата регистрации",
        align: "left",
        value: "regdate"
      },
      {
        text: "Текст поручения ",
        shorttext: "Текст поручения ",
        align: "left",
        value: "content"
      },
      {
        text: "Срок исполнения",
        shorttext: "Срок исполнения",
        align: "left",
        value: "controldate"
      },
      {
        text: "Исполнители",
        shorttext: "Исполнители",
        align: "left",
        value: "doers"
      },
      {
        text: "Кто прислал",
        shorttext: "Кто прислал",
        align: "left",
        value: "author"
      }
    ],
    tasksTable: [
      {
        id: 1,
        name: "Вх-123453-Г1",
        tasktype: "На проверку отчета",
        summary: "О направлении документов",
        regdate: "15.10.2019",
        content: "Рассмотреть и подготовить ответ",
        controldate: "01.11.2019",
        doers: [
          {
            lastname: "Бирюков",
            firstname: "Сергей",
            middlename: "Евгеньевич"
          },
          {
            lastname: "Войнов",
            firstname: "Джон",
            middlename: "Йовович"
          },
          {
            lastname: "Колитильный",
            firstname: "Иван",
            middlename: "Сусанович"
          }
        ],
        author: {
          lastname: "Горбунов",
          firstname: "Александр",
          middlename: "Владимирович"
        }
      },
      {
        id: 2,
        name: "Вх-123453-Г2",
        tasktype: "На исполнение (исполнены дочерние)",
        summary: "О направлении документов",
        regdate: "15.10.2019",
        content: "Рассмотреть и подготовить ответ",
        controldate: "01.11.2019",
        doers: [
          {
            lastname: "Бирюков",
            firstname: "Сергей",
            middlename: "Евгеньевич"
          },
          {
            lastname: "Шопенгауэр",
            firstname: "Стас",
            middlename: "Ильденбургский"
          },
          {
            lastname: "Колокольцев",
            firstname: "Вениамин",
            middlename: "Стапослапович"
          }
        ],
        author: {
          lastname: "Горбунов",
          firstname: "Александр",
          middlename: "Владимирович"
        }
      },
      {
        id: 3,
        name: "Вх-123453-Г3",
        tasktype: "На исполнение",
        summary: "О направлении документов",
        regdate: "15.10.2019",
        content: "Рассмотреть и подготовить ответ",
        controldate: "01.11.2019",
        doers: [
          {
            lastname: "Бирюков",
            firstname: "Сергей",
            middlename: "Евгеньевич"
          },
          {
            lastname: "Молодкин",
            firstname: "Александр",
            middlename: "Валерьевич"
          }
        ],
        author: {
          lastname: "Горбунов",
          firstname: "Александр",
          middlename: "Владимирович"
        },

        children: [
          {
            id: 4,
            name: "Вх-123453-Г3-Б1",
            tasktype: "На исполнение",
            summary: "О направлении документов",
            regdate: "15.10.2019",
            content: "Рассмотреть и подготовить ответ",
            controldate: "01.11.2019",
            doers: [
              {
                lastname: "Фоменок",
                firstname: "Денис",
                middlename: "Васильевич"
              },
              {
                lastname: "Тюлина",
                firstname: "Елена",
                middlename: "Александровна"
              }
            ],
            author: {
              lastname: "Бирюков",
              firstname: "Сергей",
              middlename: "Евгеньевич"
            },

            children: [
              {
                id: 5,
                name: "Вх-123453-Г3-Б1-Ф1",
                tasktype: "На исполнение",
                summary: "О направлении документов",
                regdate: "15.10.2019",
                content: "Рассмотреть и подготовить ответ",
                controldate: "01.11.2019",
                doers: [
                  {
                    lastname: "Водянова",
                    firstname: "Наталья",
                    middlename: "Михайловна"
                  },
                  {
                    lastname: "Дзюба",
                    firstname: "Артем",
                    middlename: "Сергеевич"
                  }
                ],
                author: {
                  lastname: "Фоменок",
                  firstname: "Денис",
                  middlename: "Васильевич"
                },

                children: [
                  {
                    id: 6,
                    parentname: "Вх-123453-Г3-Б1",
                    name: "Вх-123453-2",
                    tasktype: "На проверку отчета",
                    summary: "О направлении документов",
                    regdate: "15.10.2019",
                    content: "Проверить документы и подготовить ответ",
                    controldate: "30.10.2019",
                    doers: [
                      {
                        lastname: "Рыбка",
                        firstname: "Анастасия",
                        middlename: "Безмозгововна"
                      },
                      {
                        lastname: "Стерлигов",
                        firstname: "Герман ",
                        middlename: "Львович "
                      }
                    ],
                    author: {
                      lastname: "Водянова",
                      firstname: "Наталья",
                      middlename: "Михайловна"
                    }
                  },
                  {
                    id: 7,
                    parentname: "Вх-123453-Г3-Б1",
                    name: "Вх-123453-2",
                    tasktype: "На проверку отчета",
                    summary: "О направлении документов",
                    regdate: "15.10.2019",
                    content: "Проверить документы и подготовить ответ",
                    controldate: "30.10.2019",
                    doers: [
                      {
                        lastname: "Страдивари",
                        firstname: "Скрипкаус",
                        middlename: "Неместнович"
                      },
                      {
                        lastname: "Михаилов",
                        firstname: "Стас",
                        middlename: "Незнаюотчествоидажегуглитьнехочу"
                      }
                    ],
                    author: {
                      lastname: "Дзюба",
                      firstname: "Артем",
                      middlename: "Сергеевич"
                    }
                  }
                ]
              },
              {
                id: 8,
                name: "Вх-123453-Г3-Б1-Т1",
                tasktype: "На исполнение",
                summary: "О направлении документов",
                regdate: "15.10.2019",
                content: "Рассмотреть и подготовить ответ",
                controldate: "01.11.2019",
                doers: [
                  {
                    lastname: "Медведев",
                    firstname: "Дим",
                    middlename: "Толич"
                  },
                  {
                    lastname: "Навальный",
                    firstname: "Алёха",
                    middlename: "Толич"
                  }
                ],
                author: {
                  lastname: "Тюлина",
                  firstname: "Елена",
                  middlename: "Александровна"
                }
              }
            ]
          }
        ]
      }
    ]
  }),
  computed: {
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    }
  },
  filters: {
    initialis: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + ".";
    }
  }
};
</script>

<style>
</style>