<template>
  <v-app>
    <v-content>
      <v-container fluid grid-list-md class="pt-2">
        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12 sm9>
                  <div class="fips__title">
                    Письмо №&nbsp;Вх-123453-19 от&nbsp;15.10.2019
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-btn icon v-on="on">
                          <v-icon>mdi-information</v-icon>
                        </v-btn>
                      </template>
                      <span>Посмотреть полную информацию по письму</span>
                    </v-tooltip>
                  </div>
                </v-flex>

                <v-flex xs12 sm3 text-sm-right>
                  <div class="fips__subtitle">
                    <v-icon color="primary">mdi-play-speed</v-icon>&nbsp;Исполнение
                  </div>
                </v-flex>

                <v-flex xs12>
                  <dl class="fips__data">
                    <dt>Краткое содержание</dt>
                    <dd>О направлении документов</dd>
                  </dl>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12>
                  <div class="fips__title">Поручение №&nbsp;П123 от&nbsp;15.10.2019</div>
                </v-flex>

                <v-flex xs12>
                  <dl class="fips__data">
                    <dt>Текст поручения</dt>
                    <dd>Рассмотреть и подготовить ответ</dd>

                    <dt>Срок исполнения</dt>
                    <dd>01.11.2019</dd>

                    <dt>Автор поручения</dt>
                    <dd>Горбунов Александр Валерьевич</dd>
                  </dl>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs12 class="align-self-center text-xs-right">
                  <v-btn
                    color="primary"
                    class="my-0 ml-3"
                    v-on="on"
                    href="/tasks/donetask"
                  >Отчитаться</v-btn>

                  <v-menu open-on-hover offset-x left>
                    <template v-slot:activator="{ on }">
                      <v-btn color="primary" class="ma-0" v-on="on">Создать поручение</v-btn>
                    </template>
                    <v-list>
                      <v-list-tile
                        v-for="(item, index) in addTasksControlDates"
                        :key="index"
                        href="/tasks/task-2"
                      >
                        <v-list-tile-title>{{ item }}</v-list-tile-title>
                      </v-list-tile>
                    </v-list>
                  </v-menu>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>
        <Treeview />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Treeview from "../../components/Treeview";

export default {
  components: { Treeview },
  data: () => ({
    addTasksControlDates: [
      "На ознакомление",
      "На исполнение",
      "Срок исполнения 3 рабочих дня ",
      "Срок исполнения 5 рабочих дня",
      "Срок исполнения 10 календарных дней"
    ]
  })
};
</script>