<template>
  <v-app>
    <v-content>
      <v-container fluid grid-list-md class="pt-2">
        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12 sm7>
                  <div class="fips__title">
                    Письмо №&nbsp;Вх-123453-19 от&nbsp;15.10.2019
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-btn icon v-on="on">
                          <v-icon>mdi-information</v-icon>
                        </v-btn>
                      </template>
                      <span>Посмотреть полную информацию по письму</span>
                    </v-tooltip>
                  </div>
                </v-flex>

                <v-flex xs12 sm5 text-sm-right>
                  <div class="fips__subtitle">
                    <v-icon color="primary">mdi-play-speed</v-icon>&nbsp;Исполнение (исполнены дочерние)
                  </div>
                </v-flex>

                <v-flex xs12>
                  <dl class="fips__data">
                    <dt>Краткое содержание</dt>
                    <dd>О направлении документов</dd>
                  </dl>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12>
                  <div class="fips__title">Поручение №&nbsp;П123 от&nbsp;15.10.2019</div>
                </v-flex>

                <v-flex xs12>
                  <dl class="fips__data">
                    <dt>Текст поручения</dt>
                    <dd>Рассмотреть и подготовить ответ</dd>

                    <dt>Срок исполнения</dt>
                    <dd>01.11.2019</dd>

                    <dt>Автор поручения</dt>
                    <dd>Горбунов Александр Валерьевич</dd>
                  </dl>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs12 class="align-self-center text-xs-right">
                  <v-btn color="primary" class="my-0 ml-3" v-on="on">Отчитаться</v-btn>

                  <v-menu open-on-hover offset-x left>
                    <template v-slot:activator="{ on }">
                      <v-btn color="primary" class="ma-0" v-on="on" disabled>Создать поручение</v-btn>
                    </template>
                    <v-list>
                      <v-list-tile
                        v-for="(item, index) in addTasksControlDates"
                        :key="index"
                        @click="addNewTask"
                      >
                        <v-list-tile-title>{{ item }}</v-list-tile-title>
                      </v-list-tile>
                    </v-list>
                  </v-menu>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12 lg9>
                  <div
                    class="fips__title"
                  >Отчёт об исполнении поручения №&nbsp;О456 от&nbsp;29.10.2019</div>
                </v-flex>
                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="sampleTasks" class="fips__label">Типовой отчёт</label>
                  <v-select
                    :items="sampleTasks"
                    id="sampleTasks"
                    clearable
                    placeholder="Выбрать типовой отчёт по поручению"
                  ></v-select>
                </v-flex>
                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <label for="content" class="fips__label">Текст отчёта</label>

                  <v-textarea
                    name="content"
                    id="content"
                    auto-grow
                    clearable
                    placeholder="Введите содержание"
                  ></v-textarea>
                </v-flex>

                <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                  <div class="fips__label">Файлы</div>

                  <div>
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-btn
                          color="primary"
                          class="mx-0"
                          @click="$refs.inputUpload.click()"
                        >Добавить файл</v-btn>
                        <input v-show="false" ref="inputUpload" type="file" />
                      </v-flex>
                      <v-flex xs12>
                        <ul class="fips__filelist">
                          <li v-for="(item, index) in filelist" :key="index">
                            <v-icon v-if="!item.file">{{ open ? 'mdi-folder-open' : 'mdi-folder' }}</v-icon>
                            <v-icon
                              class="fips__filelisticon--prepend"
                              color="primary"
                              v-else
                            >{{ files[item.file] }}</v-icon>
                            <span>{{item.name}}.{{item.file}}</span>
                            <v-btn>
                              <v-icon>mdi-delete-outline</v-icon>
                            </v-btn>
                          </li>
                        </ul>
                      </v-flex>
                    </v-layout>
                  </div>
                </v-flex>

                <v-flex xs5>
                  <v-btn color="primary" class="ml-0 mt-2">Перенести отчёты</v-btn>
                </v-flex>

                <v-flex xs7 class="text-xs-right mt-2">
                  <v-btn color="primary">Отменить</v-btn>
                  <v-btn color="primary" class="ml-0" href="/tasks/checktask">Отправить</v-btn>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>

        <Treeview />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Treeview from "../../components/Treeview";
export default {
  components: { Treeview },
  data: () => ({
    files: {
      jpg: "mdi-file-image",
      doc: "mdi-file-document",
      xls: "mdi-file-excel"
    },
    filelist: [
      {
        name: "Word",
        file: "doc"
      },
      {
        name: "Excel",
        file: "xls"
      },
      {
        name: "Image",
        file: "jpg"
      }
    ],
    addTasksControlDates: [
      "На ознакомление",
      "На исполнение",
      "Срок исполнения 3 рабочих дня ",
      "Срок исполнения 5 рабочих дня",
      "Срок исполнения 10 календарных дней"
    ],
    sampleTasks: ["Выполнено", "Подготовлен ответ", "Ознакомлен(а)"],
    doersHeader: [
      { text: "Исполнитель", align: "left", value: "name" },
      { text: "Срок", align: "left", value: "controldate" },
      { text: "Ответственный", align: "left", value: "top" },
      { text: "Удалить", align: "left", value: "action" }
    ],
    doersHeaderChecked: [
      { text: "Исполнитель", align: "left", value: "name" },
      { text: "Ответственный", align: "left", value: "top" },
      { text: "Удалить", align: "left", value: "action" }
    ],
    checkedCheckbox: false,
    newTasksPanel: [true, true, true, true, true],
    doers: [],
    newTasks: [1],
    disabledButton: true,
    hideTasks: false
  }),
  created() {
    this.addDoers();
  },
  methods: {
    addDoers() {
      this.doers = [
        {
          name: "Фоменок Денис Васильевич",
          date: "30.10.2019",
          top: true
        },
        {
          name: "Тюлина Елена Александровна",
          date: "30.10.2019",
          top: false
        }
      ];
    },
    addNewTask() {
      this.newTasks.push({});
      this.disabledButton = true;
      // this.hideTasks = false;
    },
    removeNewTask(index) {
      const i = this.NewTasks.indexOf(index);
      this.NewTasks.splice(i, 1);
    }
  }
};
</script>