<template>
  <v-app>
    <v-content>
      <v-container fluid grid-list-md class="pt-2">
        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12 sm9>
                  <div class="fips__title">
                    Письмо №&nbsp;Вх-123453-19 от&nbsp;15.10.2019
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-btn icon v-on="on">
                          <v-icon>mdi-information</v-icon>
                        </v-btn>
                      </template>
                      <span>Посмотреть полную информацию по письму</span>
                    </v-tooltip>
                  </div>
                </v-flex>

                <v-flex xs12 sm3 text-sm-right>
                  <div class="fips__subtitle">
                    <v-icon color="primary">mdi-play-speed</v-icon>&nbsp;Исполнение
                  </div>
                </v-flex>

                <v-flex xs12>
                  <dl class="fips__data">
                    <dt>Краткое содержание</dt>
                    <dd>О направлении документов</dd>
                  </dl>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12>
                  <div class="fips__title">Поручение №&nbsp;П123 от&nbsp;15.10.2019</div>
                </v-flex>

                <v-flex xs12>
                  <dl class="fips__data">
                    <dt>Текст поручения</dt>
                    <dd>Рассмотреть и подготовить ответ</dd>

                    <dt>Срок исполнения</dt>
                    <dd>01.11.2019</dd>

                    <dt>Автор поручения</dt>
                    <dd>Горбунов Александр Валерьевич</dd>
                  </dl>
                </v-flex>
              </v-layout>

              <v-layout row wrap>
                <v-flex xs12 class="align-self-center text-xs-right">
                  <v-btn
                    :disabled="disabledButton"
                    color="primary"
                    class="my-0 ml-3"
                    v-on="on"
                  >Отчитаться</v-btn>

                  <v-menu open-on-hover offset-x left>
                    <template v-slot:activator="{ on }">
                      <v-btn color="primary" class="ma-0" v-on="on">Создать поручение</v-btn>
                    </template>
                    <v-list>
                      <v-list-tile
                        v-for="(item, index) in addTasksControlDates"
                        :key="index"
                        @click="addNewTask"
                      >
                        <v-list-tile-title>{{ item }}</v-list-tile-title>
                      </v-list-tile>
                    </v-list>
                  </v-menu>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>

        <v-layout row wrap v-if="!hideTasks">
          <v-flex xs12>
            <div class="fips__box pa-3">
              <v-layout row wrap>
                <v-flex xs12>
                  <div class="fips__title">Поручения</div>
                </v-flex>
                <v-flex xs12>
                  <template>
                    <v-expansion-panel v-model="newTasksPanel" expand>
                      <v-expansion-panel-content
                        v-for="(item, index) in newTasks"
                        :index="index"
                        :key="item"
                      >
                        <template v-slot:header>
                          <div class="fips__subtitle">Вх-123453-Г3-Б{{index+1}}</div>
                        </template>

                        <v-card>
                          <v-card-text>
                            <v-layout row wrap>
                              <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                <label for="sampleTasks" class="fips__label">Типовое поручение</label>
                                <v-select
                                  :items="sampleTasks"
                                  id="sampleTasks"
                                  clearable
                                  placeholder="Выбрать типовое поручение"
                                ></v-select>
                              </v-flex>

                              <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                <label for="content" class="fips__label">Содержание</label>
                                <v-textarea
                                  name="content"
                                  id="content"
                                  auto-grow
                                  clearable
                                  placeholder="Введите содержание"
                                ></v-textarea>
                              </v-flex>

                              <v-flex xs12 class="mt-2">
                                <v-divider></v-divider>
                              </v-flex>

                              <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                <label for="checkedCheckbox" class="fips__label">На ознакомление</label>

                                <v-checkbox
                                  color="primary"
                                  v-model="checkedCheckbox"
                                  id="checkedCheckbox"
                                ></v-checkbox>
                              </v-flex>

                              <v-flex xs12 class="mb-2">
                                <v-divider></v-divider>
                              </v-flex>

                              <v-flex xs12 md10 offset-md1 lg8 offset-lg2 class="fips__row">
                                <label class="fips__label">Исполнители</label>

                                <div class="box_input">
                                  <!-- TODO - добавление исполнителей -->
                                  <v-btn color="primary" class="ma-0" v-on="on">Добавить исполнителя</v-btn>
                                </div>
                              </v-flex>

                              <v-flex xs12 md10 offset-md1 lg8 offset-lg2>
                                <v-data-table
                                  :headers="doersHeader"
                                  :items="doers"
                                  :pagination.sync="pagination"
                                  item-key="top"
                                  hide-actions
                                  disable-initial-sort
                                  id="doersTable"
                                  no-results-text="Ничего не найдено"
                                  no-data-text="Данные отсутствуют"
                                >
                                  <template v-slot:headers="props">
                                    <tr v-if="!checkedCheckbox">
                                      <th
                                        v-for="(item, index) in doersHeader"
                                        :class="['column sortable', pagination.descending ? 'desc' : 'asc', item.value === pagination.sortBy ? 'active' : '']"
                                        @click="changeSort(item.value)"
                                        :key="index"
                                      >
                                        {{ item.text }}
                                        <v-icon color="primary">mdi-chevron-up</v-icon>
                                      </th>
                                    </tr>
                                    <tr v-else>
                                      <th
                                        v-for="(item, index) in doersHeaderChecked"
                                        :class="['column sortable', pagination.descending ? 'desc' : 'asc', item.value === pagination.sortBy ? 'active' : '']"
                                        @click="changeSort(item.value)"
                                        :key="index"
                                      >
                                        {{ item.text }}
                                        <v-icon color="primary">mdi-chevron-up</v-icon>
                                      </th>
                                    </tr>
                                  </template>

                                  <template v-slot:items="props">
                                    <td>{{ props.item.name }}</td>
                                    <td v-if="!checkedCheckbox">{{ props.item.date }}</td>
                                    <td>
                                      <v-checkbox
                                        color="primary"
                                        v-model="props.item.top"
                                        :value="props.item.top"
                                      ></v-checkbox>
                                    </td>
                                    <td>
                                      <v-icon
                                        color="primary"
                                        @click="deleteItem(props.item)"
                                        class="ml-2"
                                      >mdi-delete</v-icon>
                                    </td>
                                  </template>
                                </v-data-table>
                              </v-flex>

                              <v-flex xs12>
                                <v-divider></v-divider>
                              </v-flex>

                              <v-flex
                                xs12
                                md10
                                offset-md1
                                lg8
                                offset-lg2
                                class="fips__row"
                                v-if="!checkedCheckbox"
                              >
                                <div class="fips__label">Общий срок</div>

                                <v-tooltip bottom>
                                  <template v-slot:activator="{ on }">
                                    <span class="py-2 my-1" v-on="on">30.10.2019</span>
                                  </template>
                                  <span>
                                    Максимальный срок контроля из сроков контроля всех исполнителей.
                                    <br />Заполняется автоматически.
                                  </span>
                                </v-tooltip>
                              </v-flex>
                              <v-flex v-if="!checkedCheckbox" xs12>
                                <v-divider></v-divider>
                              </v-flex>
                            </v-layout>
                          </v-card-text>
                          <v-card-actions>
                            <v-layout row wrap>
                              <v-flex xs12 class="text-xs-right mt-2">
                                <v-btn color="primary" @click="removeNewTask(index)">Удалить</v-btn>
                                <v-btn color="primary">Отменить</v-btn>
                                <v-btn color="primary">Сохранить</v-btn>
                              </v-flex>
                            </v-layout>
                          </v-card-actions>
                        </v-card>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </template>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12 class="text-xs-right">
                  <v-btn color="primary" class="mx-0" v-on="on">Отправить</v-btn>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>

        <Treeview />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Treeview from "../../components/Treeview";

export default {
  components: { Treeview },
  data: () => ({
    addTasksControlDates: [
      "На ознакомление",
      "На исполнение",
      "Срок исполнения 3 рабочих дня ",
      "Срок исполнения 5 рабочих дня",
      "Срок исполнения 10 календарных дней"
    ],
    pagination: {
      sortBy: "top"
    },
    sampleTasks: ["На исполнение ", "Подготовить ответ", "Для ознакомления"],
    doersHeader: [
      { text: "Исполнитель", align: "left", value: "name" },
      { text: "Срок", align: "left", value: "controldate" },
      { text: "Ответственный", align: "left", value: "top" },
      { text: "Удалить", align: "left", value: "action" }
    ],
    doersHeaderChecked: [
      { text: "Исполнитель", align: "left", value: "name" },
      { text: "Ответственный", align: "left", value: "top" },
      { text: "Удалить", align: "left", value: "action" }
    ],
    checkedCheckbox: false,
    newTasksPanel: [true, true, true, true, true],
    doers: [],
    newTasks: [1],
    disabledButton: true,
    hideTasks: false
  }),
  created() {
    this.addDoers();
  },
  methods: {
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending;
      } else {
        this.pagination.sortBy = column;
        this.pagination.descending = false;
      }
    },
    addDoers() {
      this.doers = [
        {
          name: "Фоменок Денис Васильевич",
          date: "30.10.2019",
          top: true
        },
        {
          name: "Тюлина Елена Александровна",
          date: "30.10.2019",
          top: false
        }
      ];
    },
    addNewTask() {
      this.newTasks.push({});
      this.disabledButton = true;
      // this.hideTasks = false;
    },
    removeNewTask(index) {
      const i = this.NewTasks.indexOf(index);
      this.NewTasks.splice(i, 1);
    }
  }
};
</script>