.fips .application {
    .v-btn {
        text-transform: none;
        box-shadow: none;
        height: 30px !important;
        background-color: lighten($db, 60);
        color: $primary;
        font-weight: 400;
        border: 1px solid white;
        min-width: 60px;

        &.v-btn--small {
            height: 24px !important;

            &.v-btn--loader {
                .v-btn__loading {
                    .v-progress-circular {
                        height: 16px !important;
                        width: 16px !important;
                    }
                }
            }
        }

        &.v-btn--large {
            height: 36px !important;

            &.v-btn--loader {
                .v-btn__loading {
                    .v-progress-circular {
                        height: 24px !important;
                        width: 24px !important;
                    }
                }
            }
        }

        &.v-btn--disabled {
            border: 1px solid lighten($dg, 30);
        }

        &.v-btn--flat {
            border: 1px solid white;
        }

        &.v-btn--round {
            border: 1px solid $primary;
        }

        &.v-btn--outline {
            border: 1px solid $primary;
        }

        &.v-btn--loader {
            .v-btn__loading {
                .v-progress-circular {
                    height: 20px !important;
                    width: 20px !important;
                }
            }
        }

        &.v-btn--icon {
            min-width: 0;
            width: 30px;

            .v-icon {
                font-size: 20px;
            }
        }

        &.primary {
            color: white;
            background-color: $primary;
            border: 1px solid $primary;
        }

        &.theme--dark {
            color: white;
            background-color: $primary;
            border: 1px solid $primary;
        }

        &.v-btn--floating {
            height: 36px !important;
            width: 36px !important;
            min-width: 0;
        }

        &:not(.v-btn--depressed):not(.v-btn--flat) {
            background-color: white;
            box-shadow: none;

            &:active {
                box-shadow: none;
            }

            &.theme--dark {
                color: white;
                background-color: $primary;
            }
        }
    }
}