.fips .application {
    dl.fips__data {
        display: grid;
        grid-template-columns: auto;
        font-weight: 400;
        line-height: 18px;

        +md() {
            grid-template-columns: auto 1fr;
        }

        dt {
            font-weight: 700;
            min-width: 100px;
            margin-bottom: 4px;

            +md() {
                margin-bottom: 12px;
                margin-right: 24px;
                min-width: 140px;
            }
        }

        dd {
            margin-bottom: 12px;
        }
    }
}