.fips .application {
    .v-expansion-panel {
        box-shadow: none;

        .v-expansion-panel__container {
            background-color: white;

            &:first-child {
                border-top: none !important;
            }

            .v-expansion-panel__header {
                padding: 8px 12px;
                min-height: 40px;
                border-left: 2px solid transparent;

                &:hover {
                    border: none;
                    background: $lb;
                    border-left: 2px solid $nb;
                }

                .v-expansion-panel__header__icon {
                    .v-icon {
                        color: $primary !important;
                    }
                }
            }

            &--active {
                margin-bottom: 16px;
                border-top: 1px solid $lb;

                .v-expansion-panel__header {
                    border: none;
                    background: $lb;
                    border-left: 2px solid $nb;
                }

                .v-expansion-panel__body {
                    border-left: 2px solid $nb;
                }
            }
        }
    }
}