.fips {
    * {
        transition: all 0.3s ease;
    }

    .application {
        background: $lg;

        .fips__title {
            .v-btn.v-btn--icon {
                width: 24px !important;
                height: 24px !important;
            }
        }
    }

    code {
        padding: 4px;

        &:before {
            content: none;
        }
    }

    &__box {
        border: 1px solid $ng;
        border-radius: 4px;
        background-color: white;
        height: 100%;
    }

    &__color {
        &--blue { // Заявка на ТЗ
            background-color: $blue !important;
            border: 1px solid darken($blue, 10%) !important;
        }

        &--coral { // Заявка на НМПТ/ПНМПТ
            background-color: $coral !important;
            border: 1px solid darken($coral, 10%) !important;
        }

        &--fuchsia { // Договор
            background-color: $fuchsia !important;
            border: 1px solid darken($fuchsia, 10%) !important;
        }

        &--pink { // Переход права без договора
            background-color: $pink !important;
            border: 1px solid darken($pink, 10%) !important;
        }

        &--orange { // Заявка на ПО
            background-color: $orange !important;
            border: 1px solid darken($orange, 10%) !important;
        }

        &--green { // Заявка на ПМ
            background-color: $green !important;
            border: 1px solid darken($green, 10%) !important;
        }

        &--yellow { // Заявка на ИЗ
            background-color: $yellow !important;
            border: 1px solid darken($yellow, 10%) !important;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        color: $primary;

        .v-btn.v-btn--icon {
            margin: 0;
            padding: 0;
            width: 24px !important;
            height: 24px !important;
            vertical-align: bottom;

            .v-btn__content {
                .v-icon {
                    font-size: 24px !important;
                }
            }
        }
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: $primary;
        font-style: italic;

        & .v-icon {
            vertical-align: bottom;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: auto;

        +md() {
            grid-template-columns: auto 1fr;
        }
    }

    &__label {
        align-self: flex-start;
        font-weight: 700;
        line-height: 16px;
        margin: 4px 0;
        display: block;

        +md() {
            margin: 7px 0px;
            margin-right: 24px;
            width: 220px;
            line-height: 16px;
        }
    }

    &__homegrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-gap: 24px;
        width: 100%;
        height: 100%;

        +md() {
            grid-template-columns: 1fr 1fr;
        }

        +lg() {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &>.fips__box {
            font-size: 16px;
            line-height: 20px;
            padding: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            background: $primary;
            letter-spacing: 0.5px;
            text-decoration: none;

            &:hover {
                background: lighten($primary, 10);
            }

            &>.v-icon {
                font-size: 32px;
                color: white;
                margin-bottom: 8px;
            }
        }
    }
}