.fips .application {
    .v-input {
        font-size: 14px;
        align-self: flex-start;
        margin-top: 0;
        padding-top: 0;

        .v-input__prepend-outer, .v-input__append-outer {
            margin-top: 3px;
            margin-bottom: 3px;
        }

        .v-input__icon {
            min-width: 22px;
            width: 22px;
            height: 22px;
        }

        &>.v-input__control {
            min-height: 30px;

            &>.v-input__slot {
                min-height: 30px;
                border: 1px solid $border;
                padding: 0 12px;
                margin-bottom: 0;
                border-radius: 2px;

                &:after {
                    content: none;
                }

                &:before {
                    content: none;
                }

                &:hover {
                    border: 1px solid $primary;
                }

                .v-text-field__slot {
                    textarea, input {
                        line-height: 16px;
                        margin-top: 0;
                        padding: 6px 0;
                    }
                }

                &>.v-select__slot {
                    .v-text-field__prefix {
                        margin-top: 0;
                        margin-right: 4px;
                        position: relative;
                        line-height: 16px;
                        top: 0;
                    }

                    input {
                        line-height: 16px;
                        margin-top: 0;
                        padding: 6px 0;
                    }
                }
            }

            .v-text-field {
                &__details {
                    margin-top: 4px;
                }
            }

            .v-messages {
                min-height: 0;
            }
        }

        &.v-text-field {
            &.v-text-field--solo {
                &>.v-input__control {
                    min-height: 30px;

                    &>.v-input__slot {
                        border: 1px solid $ng;
                    }
                }
            }

            &--outline {
                &:not(.v-input--is-focused):not(.v-input--has-state) {
                    &>.v-input__control {
                        &>.v-input__slot {
                            &:hover {
                                border: 1px solid $primary;
                            }
                        }
                    }
                }

                &.v-input--is-focused {
                    &>.v-input__control {
                        &>.v-input__slot {
                            border: 1px solid $primary;
                        }
                    }
                }
            }

            &.error--text {
                &>.v-input__control {
                    &>.v-input__slot {
                        border: 1px solid $error;
                    }
                }
            }

            &.success--text {
                &>.v-input__control {
                    &>.v-input__slot {
                        border: 1px solid $success;
                    }
                }
            }

            .v-input__append-inner, .v-input__prepend-inner {
                margin-top: 3px;
                margin-bottom: 3px;
            }
        }

        &.v-select {
            &.v-select--chips {
                .v-select__selections {
                    min-height: 28px;

                    &>.v-chip {
                        background: $lb;

                        &--select-multi {
                            margin: 2px 2px 2px 0;
                        }

                        &--selected {
                            box-shadow: none;
                            border: 0;

                            &:after {
                                background-color: $primary;
                                opacity: 0.16;
                            }
                        }

                        &>.v-chip__content {
                            height: 22px;

                            &>.v-chip__close {
                                &>.v-icon {
                                    color: $primary !important;
                                }
                            }
                        }
                    }
                }
            }

            .v-select__selection {
                &--comma {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
        }

        &--selection-controls {
            &.v-input--checkbox {
                margin-top: 0;
                padding-top: 0;
                color: $primary;

                &>.v-input__control {
                    &>.v-input__slot {
                        border: none;
                        margin-left: 0;
                        padding-left: 0;
                    }
                }

                .v-icon {
                    color: $primary !important;
                    caret-color: $primary !important;
                }
            }
        }

        &--is-disabled {
            color: rgba(0, 0, 0, 0.38) !important;

            &>.v-input__control {
                &>.v-input__slot {
                    border: 1px solid $lg;
                }
            }
        }

        &--is-focused {
            &>.v-input__control {
                min-height: 30px;

                &>.v-input__slot {
                    border: 1px solid $primary;
                }
            }
        }

        &--is-readonly {
            &>.v-input__control>.v-input__slot:hover {
                border: 1px solid $lg;
            }
        }
    }
}