.fips .application {
    .v-menu__content {
        border: 1px solid $primary;
        border-radius: 2px;
        box-shadow: none;

        .v-list {
            &__tile {
                color: $secondary;
                height: 28px;
                font-size: 14px;

                &--link:hover {
                    background: $lb;
                }

                &--highlighted {
                    background: $lb;
                }

                &--active {
                    color: $secondary !important;
                }

                &__action {
                    min-width: 24px;

                    & .v-input--selection-controls__input {
                        margin-right: 0;
                    }
                }

                &--avatar {
                    height: 48px;
                }
            }
        }
    }

    .fips__filelist {
        padding-left: 0;

        li {
            list-style: none;
            padding: 2px 0;

            &>* {
                display: inline-flex;
                vertical-align: middle;
                line-height: 20px;
                padding: 2px;
            }

            &:hover {
                .v-btn {
                    display: inline-flex;
                }
            }
        }

        .v-btn {
            height: auto !important;
            min-width: auto;
            display: none;
            width: 20px;
            font-size: 18px;
            margin: 0;
            padding: 0;
            margin-left: 4px;

            .v-icon {
                width: 20px;
                height: 20px;
                font-size: 20px;
                color: $primary;
            }
        }

        .v-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
            color: $primary;
        }
    }
}