.fips .application {
    .v-pagination {
        .v-pagination {
            &__item {
                background: white;
                color: $primary;
                border: 1px solid white;
                height: 30px;
                min-width: 30px;
                box-shadow: none;
                padding: 0 4px;

                &:hover {
                    background: $lb;
                    color: $primary;
                }

                &--active {
                    background: $primary;
                    color: white;
                    height: 30px;
                    min-width: 30px;

                    &:hover {
                        background: $primary;
                        color: white;
                    }
                }
            }

            &__navigation {
                height: 24px;
                width: 24px;
                margin: 0 12px;
                background: white;
                border: 1px solid white;
                box-shadow: none;

                &:hover {
                    background: $lb;
                    color: $primary;
                }

                .v-icon {
                    color: $primary;
                    font-size: 20px;
                }

                &--disabled {
                    opacity: 0.5;
                }
            }

            &__more {
                margin: 0;
                height: 24px;
                width: 24px;
            }
        }
    }
}