.fips .application {
    .v-navigation-drawer {
        border-top: 1px solid $ng;

        &.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
            background-color: $ng;
        }

        .v-list {
            .v-list {
                &__group {
                    &__header {
                        &:hover {
                            background: $lb;
                        }
                    }

                    &--active {
                        &:before {
                            background: $ng;
                        }

                        &:after {
                            background: $ng;
                        }
                    }
                }

                &__tile {
                    color: $secondary;

                    &--link {
                        &:hover {
                            background: $lb;
                        }
                    }
                }
            }
        }

        .v-treeview {
            &-node {
                &__root {
                    min-height: 28px;
                    margin-left: 2px;
                }

                &__label {
                    font-size: 14px;
                    line-height: 16px;

                    a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        color: $secondary;
                        margin: 0;
                        text-decoration none

                        span {
                            display: inline-block;
                            word-break: break-word;
                            max-width: 160px;
                        }
                    }
                }
            }
        }
    }

    .fips__count-badge {
        display: inline-block;
        text-align: center;
        background-color: $db;
        color: white;
        margin-left: 5px;
        width: 18px;
        height: 18px;
        border-radius: 18px;
        font-size: 12px;
        line-height: 18px;
    }
}