.fips .application {
    .v-datatable {
        width: 99.999%;

        thead {
            tr {
                &:first-child {
                    border-bottom: 1px solid $border;
                }
            }
        }

        tbody {
            tr {
                border: none;

                td {
                    padding-top: 8px;
                    padding-bottom: 8px;
                }

                &:not(.v-datatable__expand-row) {
                    &:not(:first-child) {
                        td {
                            position: relative;

                            &:before {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 1px;
                                background: $border;
                                left: 0;
                                top: 0;
                            }
                        }
                    }
                }

                &:not(:last-child) {
                    border-bottom: none;
                }

                &:hover {
                    &:not(.v-datatable__expand-row) {
                        background: $lb;
                    }

                    td:first-child {
                        position: relative;

                        &:after {
                            content: '';
                            position: absolute;
                            width: 2px;
                            height: 100%;
                            background: $nb;
                            left: 0;
                            top: 0;
                        }
                    }
                }

                &.expanded {
                    background: $lb;

                    td:first-child {
                        position: relative;

                        &:after {
                            content: '';
                            position: absolute;
                            width: 2px;
                            height: 100%;
                            background: $nb;
                            left: 0;
                            top: 0;
                        }
                    }

                    &+.v-datatable__expand-row {
                        td:first-child {
                            position: relative;

                            &:before {
                                content: '';
                                position: absolute;
                                width: 2px;
                                height: 100%;
                                background: $nb;
                                left: 0;
                                top: 0;
                            }
                        }
                    }
                }

                &.v-datatable__expand-row {
                    .v-card {
                        background: transparent;
                    }
                }
            }
        }
    }

    .correspondenceDetailsItems {
        .v-datatable {
            td:nth-last-child(3) {
                border-left: 2px solid $db;
            }

            tr {
                td {
                    .v-btn {
                        display: none;
                    }
                }
            }

            tr:last-child {
                td {
                    .v-btn {
                        display: inline-flex;
                    }
                }
            }
        }
    }
}