.fips .application {
    .v-toolbar {
        background-color: white;
        color: $primary;
        border-bottom: 1px solid $ng;

        &__title {
            color: $primary;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
        }

        &__items {
            .v-btn {
                color: $primary;
                font-weight: 700;
                padding: 14px 20px;
                border: none;
                border-bottom: 2px solid transparent;
                border-top: 2px solid transparent;
                border-radius: 0;
                background-color: transparent;
                box-shadow: none;
                height: inherit !important;

                &.active, &:hover {
                    color: $primary;
                    background-color: $lb;
                    border-bottom: 2px solid $nb;
                    cursor: pointer;
                }
            }
        }

        .v-toolbar__side-icon {
            border: none;

            .v-btn__content {
                .v-icon {
                    color: $primary;
                    font-size: 24px;
                }
            }
        }
    }
}