.fips .application {
    .v-treeview {
        overflow-x: auto;

        &-node {
            &:not(.v-treeview-node--leaf)>.v-treeview-node__root>.v-treeview-node__content>.v-treeview-node__label {
                margin-left: 8px;
            }

            .v-treeview-node {
                &--active {
                    background: white;

                    .v-treeview-node__toggle {
                        background: $lb;
                    }

                    .v-treeview-node__label {
                        background: $lb;
                        border-left: 2px solid $nb;
                    }
                }

                &__root {
                    &:hover {
                        background: white;

                        .v-treeview-node__toggle {
                            background: $lb;

                            &:hover {
                                background: $nb;
                            }
                        }

                        .v-treeview-node__label {
                            background: $lb;
                            border-left: 2px solid $nb;
                        }
                    }
                }
            }

            &__toggle {
                background: $lb;
                border-radius: 50px;
                z-index: 3;

                &:hover {
                    background: $nb;
                }
            }

            &__label {
                font-size: 14px;
                line-height: 16px;
                padding: 8px;
                color: $secondary;
                z-index: 2;
                border-left: 2px solid white;

                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: $dg !important;

                    span {
                        display: inline-block;
                        word-break: break-word;
                        max-width: 170px;
                    }
                }
            }

            &__children {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    bottom: 24px;
                    left: 10.5px;
                    border-left: 1px solid $nb;
                    z-index: 1;
                }

                .v-treeview-node__root {
                    &:first-child {
                        .prefix {
                            position: relative;

                            &:before {
                                content: '';
                                position: absolute;
                                width: 52px;
                                height: 2px;
                                left: -43px;
                                bottom: 50%;
                                border-bottom: 1px solid $nb;
                            }
                        }
                    }
                }
            }

            &__content {
                margin-left: 6px;
            }
        }

        &>.v-treeview-node>.v-treeview-node__children {
            &:before {
                width: 54px;
                height: 48px;
                top: -24px;
                border-left: 1px solid $nb;
                border-bottom: none;
            }

            .v-treeview-node--leaf .v-treeview-node__root {
                .prefix {
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 52px;
                        height: 2px;
                        left: -45px;
                        bottom: 50%;
                        border-bottom: 1px solid $nb;
                    }
                }
            }
        }
    }
}